#public_persona.section
  .row
    img.img-responsive.tablet-40(src=synapp.profile['public persona'].image)

    h2 Public Persona

    .gutter.pre-text=synapp.profile['public persona'].description

  .public_persona-collapse.is-container
    .is-section

      h1.center.muted
        i.fa.fa-cog
        span  Coming soon

  .row.toggle-arrow.padding.text-center
    i.fa.fa-arrow-down
