#loading-editor.modal.fade(tab-index='-1' role='dialog'
  aria-labelledby='loadingEditorLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4#loadingEditorLabel.modal-title.text-center Just a moment
      .modal-body.text-center
        i.fa.fa-5x.fa-spin.fa-spinner