#true-visual-story

  style.
    #true-visual-story {
      border: 3px solid #444;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 12px;
      height: 50vh;
      overflow: auto
    }

    #true-visual-story .tvs.brand {
      background: #ccc;
      border-radius: 8px;
      padding: 8px;
      margin-right: 25px;
    }

    #true-visual-story .tvs-top-bar a {
      background: #eee;
      border-radius: 4px;
      padding: 4px;
    }

    #true-visual-story .tvs-template-master {
      display: none  
    }

    #true-visual-story .tvs-section {
      float: left;
      margin: 8px;
      border: 3px solid #444;
      padding: 12px;
      border-radius: 6px
    }
  
  section.tvs-top-bar
    big.tvs.brand true 
      b visual 
      span story

  section.tvs-section.tvs-models
    h1
      span.tvs-models-length 0
      span  Models
    .tvs-models-list
      .tvs-template-master.tvs-model
        code.tvs-model-type Model type
        a(href='#').tvs-model-name Model name

  section.tvs-section
    h1
      span.tvs-controllers-length 0
      span  Controllers
    ul.tvs-controllers-list
      li.tvs-template-master.tvs-controller
        b.tvs-controller-name Controller name

  section.tvs-section
    h1
      span.tvs-views-length 0
      span  Views
    ul.tvs-views-list
      li.tvs-template-master.tvs-view
        b.tvs-view-name View name

  section.tvs-section
    h1
      span.tvs-emitters-length 0
      span  Emitters
    ul.tvs-emitters-list
      li.tvs-template-master.tvs-emitter
        b.tvs-emitter-name View name

  section.tvs-section
    h1
      span.tvs-watchdogs-length 0
      span  Watch Dog
    .tvs-watchdogs-list
      .tvs-template-master.tvs-watchdog
        span.tvs-watchdog-icon  
        a(href='#').tvs-watchdog-name Watch Dog

  section.tvs-section
    h1
      span.tvs-stories-length 0
      span  Story
    table.tvs-stories-table
      thead
        tr.tvs-story.tvs-template-master
          th When
          td.tvs-who Who
          td.tvs-does Does
          td.tvs-what What
      tbody

  section.tvs-section
    h1
      span.tvs-logs-length 0
      span  Log
    table.tvs-logs-table
      thead
        tr.tvs-log.tvs-template-master2
          th @
          td.tvs-who Who
          td.tvs-does Does
          td.tvs-what What
      tbody

  hr(style='clear: both')
