.row.padding-bottom()
  .col-xs-12
    h4 Promoted
    .progress
      .progress-bar.progress-bar-success(style='width: {{item | getPromotedPercentageFilter}}%'
        data-ng-bind='(item | getPromotedPercentageFilter) + "%"')

.row.padding-bottom
  .col-xs-12
    include ../mixins/charts

.row.padding-bottom(data-ng-show='feedbacks.length')
  .col-xs-12
    h4 Feedbacks

    div(data-ng-repeat='feedback in feedbacks')
      hr
      div.pre-text(ng-bind='feedback.feedback')
