// Editor
section.editor-component(data-ng-controller='UploadCtrl')
  form(
    novalidate
    data-ng-submit = 'save()')

    .row.row-padding(data-ng-show='error')
      .alert.alert-warning.alert-dismissible(role='alert')
        strong Warning!
        div(data-ng-bind='error')

    .row.row-padding
      .col-xs-12.padding
        include editor/image

    .row.row-padding
      .col-xs-12
        include editor/subject

    .row.row-padding
      .col-xs-12
        include editor/description

    .row.row-padding
      .col-xs-12
        include editor/references

    .row.padding-bottom

    .row.padding-bottom
      .col-xs-6

        //- Upload image button

        div.upload-button.btn.btn-default.btn-lg(
          ng-file-select  =   "onFileSelect($files)"
          data-multiple   =   "true"
          title           =   "select file"
          onclick         =   "this.value = null"
            ) Upload image

      .col-xs-6.text-right

        //- Clear button

        button.btn.btn-lg(
          data-ng-click   =   'clearEntry()' 
          type            =   'button'
            ) Clear

        //- Done button
        
        button.btn.btn-info.btn-lg Done

    //- Arrow up icon (collapse)

    .row.padding-bottom
      .col-xs-12
    
    .row.padding-bottom
      .col-xs-12.text-center
        i.fa.fa-arrow-circle-up.cursor-pointer(
          data-ng-click='$parent.$parent.show = "items"')
