// Editor
section.editor-component(data-ng-controller='UploadCtrl')
  form(
    novalidate
    data-ng-submit = 'save()')

    .row.row-padding(data-ng-show='error')
      .alert.alert-warning.alert-dismissible(role='alert')
        strong Warning!
        div(data-ng-bind='error')

    .row.padding
      .col-xs-12
        .box.prefetch
          .item-media-wrapper
            .item-media
              include editor/image
            //- Upload image button

            .upload-button.btn.btn-default.btn-sm(
              ng-file-select  =   "onFileSelect($files)"
              data-multiple   =   "true"
              title           =   "select file"
              onclick         =   "this.value = null"
                ) Upload image

          .pull-right.box-buttons
            button.btn Promote

            div New

            div.text-muted 0%

            button.btn(disabled) Details

          .item-text.padding
            include editor/subject
          
            .box-description.description
              include editor/description

            include editor/references

        .text-center(style='margin-top:-50px')
          i.fa.fa-arrow-up.cursor-pointer(data-ng-click='$parent.$parent.show = "items"')
