article.item

  header.item-contents

    aside
      nav.item-nav
        ul
          li
            button.toggle-promote Promote
          li
            button Details

    article.item-article

      header
        h4.item-subject Loading item's subject

      .item-description

  section

    div.item-evaluation

    div.item-details

    div
      a(href='#').item-panel-toggle Expand

    .item-panels
