include ../mixins/bootstrap
include ../mixins/item-image

div(data-ng-init='show = "items"')
  +bootstrap-panel
    +bootstrap-panel-heading
      i.pull-right.fa.fa-plus.cursor-pointer(ng-click='show = (show === "creator" && "items") || "creator"')

      // TYPE

      h4.panel-title
        span(data-ng-bind='type')
        small(data-ng-bind='parent')

    +bootstrap-panel-body
      
      // CREATOR

      .creator.animate-show(ng-show='show === "creator"' data-type="{{ type }}" data-parent='{{ parent }}')

      // ITEMS
      
      .items(ng-repeat='item in $root.items | filterItems:type:parent track by item._id')

        .item(id='item-{{item._id}}')

          // BOX
          
          .box
            .row
              .col-xs-12.padding(data-ng-class='{ "col-sm-4": ! isSplit }')
                +item-image()
              .col-xs-12.padding(data-ng-class='{ "col-sm-8": ! isSplit }')
                .box-promoted(data-ng-class='{ "text-right pull-right": ! isSplit, "is-split": isSplit }')
                  .row
                    div(data-ng-show='is.in = ' + !!isSignedIn
                      data-ng-class='{ "col-xs-4": isSplit, "col-xs-12": ! isSplit}')
                      a.btn.btn-sm(data-ng-click='$show = (($show === "evaluator" && "-") || "evaluator")') Promote

                    //- Promoted stat (times)
                    div(data-ng-bind='item.promotions'
                      data-ng-class='{ "col-xs-2": isSplit, "col-xs-12": ! isSplit}')

                    //- Promoted stat (percent)
                    div(data-ng-bind='(item | calculatePromotionPercentage) || 0 + "%"'
                      data-ng-class='{ "col-xs-2": isSplit, "col-xs-12": ! isSplit}')

                    //- Details button
                    div(data-ng-class='{ "col-xs-4": isSplit, "col-xs-12": ! isSplit}')
                      a.btn.btn-sm(data-ng-click='$show = (($show === "details" && "-") || "details")') &nbsp;Details&nbsp;
                h4(ng-bind='item.subject')
                div(ng-bind='item.description')
                include navigator/references

            .row
              .col-xs-6
                //- div Children:
                //-   button(ng-click='$show = (($show === "children" && "-") || "children")') Toggle
                //-   button(ng-click='loadChildren(item._id)') Load

                div Editor:
                  button(ng-click='$show = (($show === "editor" && "-") || "editor")')  Toggle

            .row
              .col-xs-12.text-center.padding-top
                i.fa.fa-arrow-down.cursor-pointer(ng-click='$show = (($show === "children" && "-") || "children")')

          // COLLAPSERS

          .collapsers(ng-show='show === "items"')

            // EVALUATOR
            
            .evaluator.animate-show(ng-show='$show === "evaluator"')
              section(ng-repeat='evaluation in $root.evaluations')
                .row
                  .col-xs-12.padding
                    h2.text-center
                      span(data-ng-bind='evaluation.cursor')
                      span  of  
                      span(data-ng-bind='evaluation.limit')
                .row
                  .col-xs-12(ng-repeat='item in $root.items | getEvaluationItems:item._id')
                    h4
                      small(data-ng-bind='item.type')
                      span(data-ng-bind='item.subject')

                // Continue
                .row
                  .col-sm-12
                    button.btn.btn-block(
                      data-ng-click = 'evaluation.next.length ? continue() : finish()' 
                    )
                      span(data-ng-show='evaluation.next.length') Continue
                      span(data-ng-hide='evaluation.next.length') Finish
            
            // DETAILS

            .details.animate-show(ng-show='$show === "details"')
              h1 Details
              section
                h4 Promoted
                div(ng-bind='item | calculatePromotionPercentage')
                .progress
                  .progress-bar.progress-bar-success(style='width: {{item | calculatePromotionPercentage}}%'
                    data-ng-bind='(item | calculatePromotionPercentage) + "%"')
                h4 Feedbacks
                div(data-ng-repeat='feedback in $root.feedbacks | getFeedbacksByItem:item._id')
                  div(ng-bind='feedback.feedback')

            // EDITOR

            .editor.animate-show(ng-show='$show === "editor"')

            // CHILDREN

            .children.animate-show(ng-show='$show === "children"' data-loaded='{{false}}')
              div.text-center.padding Loading items...
