include ../mixins/bootstrap
include ../mixins/item-image

// PANEL

+bootstrap-panel

  // PANEL HEADING

  +bootstrap-panel-heading

    // TOGGLE CREATOR

    i.pull-right.fa.fa-plus.cursor-pointer(data-ng-click='$root.publish("toggle creator", { type: type, parent: parent })')

    // TYPE

    h4.panel-title(data-ng-bind='type')

  // PANEL BODY

  +bootstrap-panel-body

    // CREATOR

    .creator.is-container(data-type="{{ type }}" data-parent='{{ parent }}')
      .is-section
        include editor

    // ITEMS

    .row(data-ng-hide='$root.loadedItems[item.parent || "Topic"]')
      .col-xs-12.text-center.padding Loading items...

    .row(data-ng-hide='($root.items | itemFilter:type:parent).length')
      .col-xs-12.text-center.padding Nothing here!
    
    .items(ng-repeat='item in $root.items | itemFilter:type:parent track by item._id')

      .item(id='item-{{item._id}}' data-ng-show='$index < ( batchSize - 1 )')

        // BOX

        include item

        // COLLAPSERS

        .collapsers

          // EVALUATOR
          
          .evaluator.is-container
            .is-section
              include evaluator
          
          // DETAILS

          .details.is-container
            .is-section
              include details

          // EDITOR

          .editor.is-container
            .is-section
              include editor

          // TOGGLE ARROW

          .row.toggle-arrow
            .col-xs-12.text-center
              i.fa.cursor-pointer.fa-arrow-down(data-ng-click='$root.publish("toggle view", { view: "children", item: item._id })')

          // CHILDREN

          .children.is-container
            .is-section

      // SHOW MORE

      .padding.text-center(data-ng-show="$index === ( batchSize - 1 )")
        a(href='#' data-ng-click='loadMore()') Load more
