include ../mixins/bootstrap
include ../mixins/item-image

div(data-ng-init='show = "items"')
  +bootstrap-panel
    +bootstrap-panel-heading
      i.pull-right.fa.fa-plus.cursor-pointer(ng-click='show = (show === "creator" && "items") || "creator"')

      //- span(ng-click='$root.showPanel({ parent: parent, type: type }, "creator")')

      // TYPE

      h4.panel-title(data-ng-bind='type')

    +bootstrap-panel-body

      // CREATOR

      .creator(ng-show='show === "creator"' data-type="{{ type }}" data-parent='{{ parent }}' subject='')

      // ITEMS

      .row(data-ng-hide='$root.loadedItems[item.parent || "Topic"]')
        .col-xs-12.text-center.padding Loading items...

      .row(data-ng-hide='($root.items | itemFilter:type:parent).length')
        .col-xs-12.text-center.padding Nothing here!
      
      .items(ng-repeat='item in $root.items | itemFilter:type:parent track by item._id')

        .item(id='item-{{item._id}}' data-ng-show='$index < ( batchSize - 1 )')

          // BOX

          include item

          // COLLAPSERS

          .collapsers

            // EVALUATOR
            
            .evaluator.is-container
              .is-section
                include evaluator
            
            // DETAILS

            .details.is-container
              .is-section
                include details

            // EDITOR

            .editor.is-container
              .is-section
                include editor

            // TOGGLE ARROW

            .row.toggle-arrow
              .col-xs-12.text-center
                i.fa.cursor-pointer.fa-arrow-down(data-ng-click='$root.publish("toggle view", { view: "children", item: item._id })')

            // CHILDREN

            //- thereIsARelation(item._id, $root.itemViewed)

            .children.is-container
              .is-section

        // SHOW MORE

        .padding.text-center(data-ng-show="$index === ( batchSize - 1 )")
          a(href='#' data-ng-click='loadMore()') Load more
