- if ( ! isSignedIn )
  h1 Please log in

- else

  form.synapp-create(method='POST' role='form' ng-submit='create.publish()' ng-init='topic="' + topic + '"' ng-controller='UploadCtrl')

    input(type='hidden' ng-model='email')
    input(type='hidden' ng-model='topic')

    .row.padding
      .col-xs-12
        //- Alert

        .alert.alert-warning.alert-dismissible(role='alert' ng-show='create.error')
          p
            strong Warning! 
            span(ng-bind='create.error')

    .row.padding
      .col-xs-4
        .drop-box(ng-show='dropSupported' ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true" ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100" ng-hide='dataUrls.length') Drop image here
        image.img-responsive(alt='image' ng-src="{{dataUrls[0]}}" ng-show='dataUrls.length')
      
      .col-xs-8
        input.form-control(type='text' placeholder='http://' ng-model='create.title')

    .row.padding
      .col-xs-12
        input.form-control(type='text' placeholder='Subject' ng-model='create.subject')

    .row.padding
      .col-xs-12
        textarea.form-control(placeholder='Description' spellcheck='true' lang='en'  ng-model='create.description')

    .row.padding
      .col-xs-6
        div.upload-button.btn.btn-default(ng-file-select="onFileSelect($files)" data-multiple="true" title="select file" onclick="this.value = null") Upload image

      .col-xs-6.text-right
        button.btn Clear
        button.btn.btn-info Done

