- if ( ! isSignedIn )
  include please-sign-in

- else

  form.synapp-create(
    data-entry    =   entry
    name          =   "form_create"
    method        =   'POST'
    role          =   'form'
    ng-submit     =   'create()'
    ng-init       =   'topic="' + topic + '"'
    ng-controller =   'UploadCtrl'
    novalidate    )

    //- Hidden fields

    input(type='hidden' ng-model='email')
    input(type='hidden' ng-model='topic')


    //- Alert

    .row.padding
      .col-xs-12
        include alert

    .row.padding
      .col-xs-4

        //- Drop image box

        .drop-box(
          ng-show                     =   'dropSupported'
          ng-file-drop                =   'onFileSelect($files)'
          ng-file-drop-available      =   "dropSupported=true"
          ng-file-drag-over-class     =   "dragOverClass($event)"
          ng-file-drag-over-delay     =   "100"
          ng-hide                     =   'dataUrls.length'
            ) Drop image here
        
        //- Image

        image.img-responsive(
          alt         =   'image'
          ng-src      =   "{{dataUrls[0]}}"
          ng-show     =   'dataUrls.length')
      
      .col-xs-8

        //- URL (Title)

        input.form-control(
          type        =   'text' 
          placeholder =   'http://'
          ng-model    =   'entry.title'
          name        =   'title')

        input(
          type        =   'hidden'
          name        =   'url'
          ng-model    =   'entry.url')

    .row.padding
      .col-xs-12

        //- Subject

        input.form-control(
          name              =   'subject'
          type              =   'text' 
          placeholder       =   'Subject'
          ng-model          =   'entry.subject'
          required          )

    .row.padding
      .col-xs-12

        //- Description
  
        textarea.form-control(
          auto-grow
          name              =   'description'
          placeholder       =   'Description' 
          spellcheck        =   'true'
          lang              =   'en'  
          ng-model          =   'entry.description'
          required          )

    .row.padding
      .col-xs-6

        //- Upload image button

        div.upload-button.btn.btn-default(
          ng-file-select  =   "onFileSelect($files)"
          data-multiple   =   "true"
          title           =   "select file"
          onclick         =   "this.value = null"
            ) Upload image

      .col-xs-6.text-right

        //- Clear button

        button.btn(
          ng-click='clear()' 
          type='button'
            ) Clear

        //- Done button
        
        button.btn.btn-info Done
