//- EMAILS (SIGN BAR)
    =================

//- # Form

form.form-inline.synapp-sign(
    email       =   'email'
    role        =   'form' 
    ng-submit   =   'sign.in()'
    novalidate
  )

  //- # Alert

  .alert.alert-warning.alert-dismissible(role='alert' ng-show='sign.error')
    p
      strong Warning! 
      span(ng-bind='sign.error')

  //- # Email
  
  input.form-control(
      type        =   'email' 
      ng-model    =   'sign.email' 
      placeholder =   'Email'
    )

  //- # Password
  
  input.form-control(
      type          =   'password' 
      placeholder   =   'Password' 
      ng-model      =   'sign.password'
    )

  //- # Submit button

  button.btn.btn-xs.btn-default Submit

  //- # Spacing #TODO

  p

  //- # Confirm password
  
  input.form-control(
      type          =   'password' 
      placeholder   =   'Confirm password' 
      ng-model      =   'sign.password_confirm' 
      ng-show       =   'sign._up'
    )

hr