form(role='method')
  .row
    .col-xs-5.form-group
      input.form-control(type='text' placeholder='Email')

    .col-xs-5.form-group
      input.form-control(type='password' placeholder='Password')

    .col-xs-2
      button.btn Submit