.row
  .col-sm-4
    image.img-responsive.default-topic-image(
      ng-src    =   '/images/topics/{{topic.image}}'
      ng-hide   =   'entry.image')

    image.img-responsive(
      ng-src    =   'data:image/png;base64,{{entry.image}}'
      ng-show   =   'entry.image')

  .col-sm-8
    h4
      a(ng-bind='entry.title || entry.url')

.row
  .col-xs-12
    h2
      a(ng-bind='entry.subject' ng-href='/summary/{{entry._id}}')

.row
  .col-xs-12
    p(ng-bind='entry.description')

.row(ng-repeat='criteria in criterias')
  .col-xs-4
    h4(ng-bind='criteria.name')
    p(ng-bind='criteria.description')

  .col-xs-8
    svg.chart(id='chart-{{entry._id}}-{{criteria._id}}')
