- if ( ! isSignedIn )
  include please-sign-in

- else
  .synapp-evaluate
    .row
      .col-xs-3
        img.img-responsive(ng-src='data:image/png;base64,{{evaluate.entries[0].image}}')
      .col-xs-3
        h4(ng-bind='evaluate.entries[0].title')

      .col-xs-3
        img.img-responsive(ng-src='/images/entries/{{evaluate.entries[1].image}}')
      .col-xs-3
        h4(ng-bind='evaluate.entries[1].title')

    .row
      .col-xs-6
        h2(ng-bind='evaluate.entries[0].subject')

      .col-xs-6
        h2(ng-bind='evaluate.entries[1].subject')

    .row
      .col-xs-6
        p(ng-bind='evaluate.entries[0].description')

      .col-xs-6
        p(ng-bind='evaluate.entries[1].description')

    .row
      .col-xs-6
        div(ng-repeat='label in evaluate.labels')
          h4(ng-bind='label.name')
          input.slider(type='text')
          hr
          div(ng-init='doIt($last)')

      .col-xs-6
        div(ng-repeat='label in evaluate.labels')
          h4(ng-bind='label.name')
          input.slider(type='text'
            data-slider-min='0'
            data-slider-max='10'
            data-slider-step='1'
            data-slider-value='5')
          hr
          div(ng-init='doIt($last)')

    .row
      .col-xs-6.padding-bottom
        textarea(placeholder='Constructive feedback')

      .col-xs-6.padding-bottom
        textarea(placeholder='Constructive feedback')

    .row
      .col-xs-3.padding-bottom
        button.btn.btn-block Promote

      .col-xs-6
        button.btn.btn-block Continue

      .col-xs-3
        button.btn.btn-block Promote
