- if ( ! isSignedIn )
  include please-sign-in

- else
  .synapp-evaluate
    .row
      .col-sm-6
        .row
          .col-sm-6
            img.img-responsive(ng-src='data:image/png;base64,{{evaluate.entries[0].image}}')
          .col-sm-6
            h4(ng-bind='evaluate.entries[0].title')

        .row
          .col-xs-12
            h2(ng-bind='evaluate.entries[0].subject')

        .row
          .col-xs-12
            .entry-description(ng-bind='evaluate.entries[0].description')

      .col-sm-6
        .row
          .col-sm-6
            img.img-responsive(ng-src='data:image/png;base64,{{evaluate.entries[1].image}}')
          .col-sm-6
            h4(ng-bind='evaluate.entries[1].title')

        .row
          .col-xs-12
            h2(ng-bind='evaluate.entries[1].subject')

        .row
          .col-xs-12
            .entry-description(ng-bind='evaluate.entries[1].description')

    .row
      .col-sm-6
        .row
          .col-xs-12
            div(ng-repeat='label in evaluate.labels')
              h4(ng-bind='label.name')
              input.slider(type='text')
              hr
              div(ng-init='doIt($last)')

        .row
          .col-xs-12
            textarea.form-control(placeholder='Constructive feedback')

      .col-sm-6
        .row
          .col-xs-12
            div(ng-repeat='label in evaluate.labels')
              h4(ng-bind='label.name')
              input.slider(type='text')
              hr
              div(ng-init='doIt($last)')

        .row
          .col-xs-12
            textarea.form-control(placeholder='Constructive feedback')

    .row.padding
      .col-sm-3.padding-bottom
        button.btn.btn-block Promote

      .col-sm-6.padding-bottom
        button.btn.btn-block Continue

      .col-sm-3.padding-bottom
        button.btn.btn-block Promote
