// Meta data

//- Encoding
meta(charset='utf-8')

//- Title
title=synapp.title

//- IE
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Viewport
meta(name="viewport" content="width=device-width, initial-scale=1.0")

meta(name="env" content=settings.env)

//- Google Analytics
- if ( settings.env === 'production' )
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-55807209-1', 'auto'); ga('send', 'pageview');

//- Stylesheets
block stylesheets
  block stylesheet-font-awesome
    - var href
    - if ( settings.env === 'production' )
      - href = '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    - else
      - href='/bower_components/font-awesome/css/font-awesome.min.css'
    
    link(rel='stylesheet' href=href)
      
  block css-app
    - if ( settings.env === 'production' )
      link(rel='stylesheet' href='/dist/synaccord.css')
    - else
      link(rel='stylesheet' href='/css/synaccord.css')
    //- link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
