//- SCRIPTS
    =======

    All the bottom script tags

//- # jQuery

block script-jquery
  script(src='/bower_components/jquery/dist/jquery.min.js')

//- # Bootstrap #TODO create a uglify file

block script-bootstrap
  script(src='/bower_components/bootstrap/js/tooltip.js')

//- # Angular

block script-angular
  script(src='/bower_components/angular/angular.min.js')

 //- # synapp

block script-app
  script(src='/js/angular/synapp/bundle.js')
