//- SCRIPTS
    =======

    All the bottom script tags

//- # pass config public
block script-backend
  script.
    var synapp = !{JSON.stringify(synapp.public)}

//- # A space to attach angular modules
block script-angular-modules
  script.
    var angular_deps = [];

//- # jQuery

block script-jquery
  script(src='/bower_components/jquery/dist/jquery.min.js')

//- # Bootstrap

block script-bootstrap
  script(src='/dist/bootstrap.js')

//- # Angular

block script-angular
  script(src='/bower_components/angular/angular.min.js')

 //- # synapp

block script-app
  script(src='/dist/bundle.js')
