block script-jquery
  script(src='/bower_components/jquery/dist/jquery.min.js')

block script-bootstrap
  script(src='/bower_components/bootstrap/js/tooltip.js')

block script-angular
  script(src='/bower_components/angular/angular.min.js')

block script-app
  script(src='/js/angular/modules/synapp/bundle.js')