header
  .container
    .row
      .col-xs-12
        .pull-right
          a.button.btn.btn-lg.btn-default(href='/')
            big.glyphicon.glyphicon-home
          span  
          a.button.btn.btn-lg.btn-default(href='/')
            big.glyphicon.glyphicon-chevron-left

        img.img-responsive.logo.logo-title-image(alt='Logo' src='/images/Synaccord_logo_name_300x61.png')
        img.img-responsive.logo.logo-image(alt='Logo' src='/images/Synaccord_logo_64x61.png')

#beta
  img(src='/images/beta.png')
