header.row
  .col-xs-6.col-sm-8
    img.img-responsive(alt='Logo' src='/images/Synaccord_logo_name_300x61.png')

  .col-xs-6.col-sm-4
    .center-block
      a.btn.btn-default.btn-link(href='/') Home
      span  
      a.btn.btn-default.btn-link(href='/') Back