header.row
  .col-xs-6
    img.img-responsive(alt='Logo' src='/images/Synaccord_logo_64x61.png')

  .col-xs-6
    .center-block
      a.btn.btn-default(href='/') Home
      a.btn.btn-default(href='/') Back