//- TOP BAR
    =======

// Top bar

header
  .row
    .col-xs-12

      //- # Top bar buttons

      .pull-right
        a.button.btn.btn-lg.btn-default(href='/')
          big.fa.fa-home
        span  
        a.button.btn.btn-lg.btn-default(href=back)
          big.fa.fa-chevron-left

      //- # Logo

      //- ## Regular screen

      img.img-responsive.logo.logo-title-image.visible-lg-inline.visible-md-inline.visible-sm-inline(alt='Logo' src='/images/Synaccord_logo_name_300x61.png')

      //- ## Small screen

      img.img-responsive.logo.logo-image.visible-xs-inline(alt='Logo' src='/images/Synaccord_logo_64x61.png')

      //- ## Beta

      img.beta(alt='beta' src='/images/beta.png')
