- for ( var i = 0; i < 50; i ++ )
  .media
    a.pull-left(href='#')
      img.img-responsive(alt='Image')
    .media-body
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

