.synapp-topics

  section(ng-repeat='topic in topics')

    .row(ng-click='selectMeAsTopic(topic._id)')
      
      .col-xs-4.image
        img.img-responsive(alt='Image' ng-src='/images/topics/{{topic.image}}')
      
      .col-xs-8
        h4(ng-bind='topic.heading')
        p(ng-bind='topic.description')
      
    .clearfix.text-center.padding(ng-hide='selectedTopic !== topic._id')
      - if ( !! isSignedIn )
        a.btn(ng-href='/topics/{{topic.slug}}/create') Create
        button.btn Evaluate
        button.btn My Feedback
      
      button.btn Results
