/node_modules/*
/.env.sh
/.start.sh
/export.sh
/.vagrant/*
/dist/*
/assets/js/main.*
/assets/js/polyfill.min.js
/assets/js/socket.io-stream.min.js
/assets/css/index.*
/assets/css/assets.min.css
/assets/css/training.*
/assets/bower_components/*
/bconsole/node_modules/*
/_netrc
/.netrc
