doctype html

//- HTML head
block meta
  include ../partials/head

//- Top Level Bar
section.container(ng-app='synapp' ng-init=' isSignedIn = ' + !!isSignedIn + '; email = "' + (isSignedIn ? isSignedIn.email : '') + '"')
  
  include ../partials/top-level-bar
  
  section(role='main')
    div(ng-hide='isSignedIn')
      include ../partials/emails
    
    block page

footer
  p Copyright Ⓒ 2014 by Synaccord.
  p
    a(href='/terms-of-service') Terms of Service and Privacy Policy

//- Scripts

block scripts
  include ../partials/scripts