doctype html

//- HTML head
block meta
  include ../partials/head

//- Top Level Bar
section.container
  include ../partials/top-level-bar
  include ../partials/emails
  include ../partials/topics-list