//- MASTER
    ======

doctype html

//- # HTML head

block meta
  include ../partials/head

//- # Meta wrapper

// Page container

section.container(
  data-ng-app         =   'synapp' 
)

  //- # Top Bar
  
  section(role='header')
    include ../partials/top

  //- # Main wrapper

  // Main container
  
  section(role='main')

    //- # Emails

    - if ( !! isSignedIn === false )
      .synapp-sign

    //- # Page wrapper
    
    .row
      .col-xs-12
        #navigator.navigator.panel-group
          .synapp-navigator(data-type='Topic' data-autoload='{{true}}')
            h4.text-center Loading page...

  //- # Footer

  block footer
    include ../partials/footer

//- Loading modal

#loading-editor.modal.fade(tab-index='-1' role='dialog' aria-labelledby='loadingEditorLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h4#loadingEditorLabel.modal-title.text-center Just a moment
      .modal-body.text-center
        i.fa.fa-5x.fa-spin.fa-spinner

//- Scripts

block scripts
  include ../partials/scripts
