//- MASTER
    ======

doctype html

//- # HTML head

block meta
  include ../partials/head

//- # Meta wrapper

// Page container

section.container(
  data-ng-app         =   'synapp' 
)

  //- # Top Bar
  
  section(role='header')
    include ../partials/top

  //- # Main wrapper

  // Main container
  
  section(role='main')

    //- # Emails

    - if ( !! isSignedIn === false )
      include ../partials/sign

    //- # Page wrapper
    
    .row
      .col-xs-12
        #navigator.navigator.panel-group
          .synapp-navigator(data-type='Topic')

  //- # Footer

  block footer
    include ../partials/footer

//- Scripts

block scripts
  include ../partials/scripts
