// References

//- Title

input.form-control.url-fetcher(
  type              =   'text' 
  name              =   'title'
  placeholder       =   'http://'
  data-ng-model     =   'item.references[0].title'
  title				=	 'Optional reference'
)

code.text-primary(ng-show='searchingTitle') Searching title for 
  span(ng-bind='item.references[0].title | shorten:100' title='{{item.references[0].title}}')

code.text-muted(ng-bind='item.references[0].url | shorten:100' title='{{item.references[0].url}}')

code.text-warning(ng-show='searchingTitleFailed') Could not resolve title

//- URL

input.entry-url(
  type              =   'hidden'
  name              =   'url'
  data-ng-model     =   'item.references[0].url'
)
