form(role='form' novalidate method='POST' name='create').creator.is-container
  .is-section
    .item
      .item-media-wrapper
        article.item-media.padding
          .drop-box
            .modern
              h4 Drop image here
              p or
            .padding
              button.upload-image-button(type='button') Choose a file
            input.hide(type='file' value='Upload image')
      
      .item-buttons
        button.button-create.shy.medium
          i.fa.fa-bullhorn

        button.button-create.shy.medium(disabled)
          i.fa.fa-signal

      .item-inputs
        //- .input-subject
        input(type='text' placeholder='Item subject' name='subject' required)
      
        textarea(placeholder='Describe the subject in a concise and complete fashion that is measurable and unbiased' name='description' required)
      
        input.reference(type='url' placeholder='http://' name="reference")

        .reference-board.hide Looking up
