#demographics.section
  .row
    .col-xs-4
      img.img-responsive(src=synapp.public['user image'])

    .col-xs-8
      h2 Demographics

      .pre-text=synapp.profile.demographics.description

  .demographics-collapse.is-container
    .is-section

      h1.text-center.text-muted 
        i.fa.fa-cog
        span  Coming soon

  .row.toggle-arrow.padding.text-center
    i.fa.fa-arrow-down