section

  //- Feedback pending

  section.feedback-pending
    h4 Feedback pending

    p While you are waiting for your feedback this is a great time to invite the people you know to join the effort to bring synergy to democracy.

    textarea

    a.btn(target='_blank') Send

  //- Promoted

  .row
    .col-sm-4.col-xs-12
      h4 Promoted
    .col-sm-8.col-xs-12.padding-top
      .progress
        .progress-bar.progress-bar-success
