section
  h4 Feedback pending

  p While you are waiting for your feedback this is a great time to invite the people you know to join the effort to bring synergy to democracy.

  textarea

  a.btn(target='_blank') Send
