section
  .row
    .col-xs-12.text-center

      h2
        span.cursor 1
        span  of 
        span.limit 5

      h4 Evaluate each item below

  //- Normal screen

  section.hidden-xs

    //- Image

    .row
      .col-sm-6.image.padding.left-item

      .col-sm-6.image.padding.right-item

    //- Subject

    .row
      .col-sm-6.padding.left-item
        h3.subject Item's subject

      .col-sm-6.padding.right-item
        h3.subject Item's subject

    //- Description

    .row
      .col-sm-6.padding.left-item
        .pre-text.entry-description.description Item's description

      .col-sm-6.padding.right-item
        .pre-text.entry-description.description Item's description

    //- References

    .row
      .col-sm-6.references.padding.left-item
        
      .col-sm-6.references.padding.right-item

    //- Sliders

    .criteria-slider.template-model
      h4.criteria-name Criteria name
      input.slider(type='text' 
        data-slider-tooltip='hide'
        data-slider-min='-1'
        data-slider-max='1')

    .row
      .col-sm-6.sliders.padding.left-item

      .col-sm-6.sliders.padding.right-item


    //- Feedback

    .row
      .col-sm-6.padding.left-item
        textarea.feedback.feedback-entry.form-control(
          placeholder = 'Can you provide feedback that would encourage the author to create a statement that more people would unite around?')

      .col-sm-6.padding.right-item
        textarea.feedback.feedback-entry.form-control(
          placeholder = 'Can you provide feedback that would encourage the author to create a statement that more people would unite around?')

    .row.padding-bottom
      .col-xs-12
        h4.text-center Which of these is most important for the community to consider?

    //- Promote

    .row.padding-bottom
      .col-sm-6.padding.left-item
        button.btn.btn-block.promote Promote

      .col-sm-6.padding.right-item
        button.btn.btn-block.promote Promote

    //- Continue
    .row
      .col-sm-12
        button.btn.btn-block.finish Finish
