.image-buttons.row.padding
  .col-xs-4.padding
    button.btn.btn-block Facebook Image
  .col-xs-4.padding
    button.btn.btn-block Twitter Image
  .col-xs-4.padding
    input.upload-identity-picture(type='file')

.names.row.padding
  .col-xs-4.padding
    input.form-control(type='text' placeholder='First name')
  .col-xs-4.padding
    input.form-control(type='text' placeholder='Middle name')
  .col-xs-4.padding
    input.form-control(type='text' placeholder='Last name')
