include ../mixins/bootstrap

// Intro
#intro
  +bootstrap-panel
    +bootstrap-panel-heading
      h4.panel-title
        span.iddle
          i.fa.fa-circle-o-notch.fa-spin
    +bootstrap-panel-body
      include item-box
