block item-collapsers
  span

.panel.panel-default

  .panel-heading
    h5.panel-title
      block title
        span.iddle
          i.fa.fa-circle-o-notch.fa-spin

  .panel-body

    block panel-body

      .items
        include item
