// Item collapsers

  .collapsers

    // Editor
    .editor.is-container
      .is-section

    .evaluator.is-container
      .is-section
        include promote

    .details.is-container
      .is-section
        include details

    .children.is-container
      .is-section

  .row.toggle-arrow
    .col-xs-12.text-center
      i.fa.cursor-pointer.fa-arrow-down
