.item
  .item-media-wrapper
    .item-media
      include ../default-image

  .item-buttons
    button.item-toggle-promote
      i.fa.fa-bullhorn
      span  
      span.promoted  0
      span  
      span.hide.caret
      span  

    div
    
    //- div.promoted-percent 0%
    button.item-toggle-details
      i.fa.fa-signal
      span  
      span.promoted-percent  0%
      span  
      span.hide.caret

    .clear

  .item-text
    .item-truncatable
      h4.item-subject.header
        a(href='#')
          block item-subject-text
            .subject-placeholder ...

      .item-description.pre-text
        .description-placeholder ...

    h5.item-reference
      a(href='#')
        .reference-placeholder ...

    .clear.clear-text

  .item-arrow.hide
    div
      i.fa.fa-arrow-down

  .item-collapsers
    .editor.is-container
      .is-section

    .promote.is-container
      .is-section
        include promote

    .details.is-container
      .is-section
        include details

    .children.is-container
      .is-section

  .clear