.item.box.is-canvas
  
  .item-media-wrapper
    article.item-media
      img.img-responsive(alt='Synaccord' src=synapp.public['default item image'])
  
  .pull-right.box-buttons
    button.btn.btn-lg.toggle-promote
      i.fa.fa-bullhorn
      span  
      span.promoted  0

    div
    
    //- div.promoted-percent 0%
    button.btn.btn-lg.toggle-details
      i.fa.fa-signal
      span  
      span.promoted-percent  0%

  .item-text
    h4.item-title.padding-right
      a(href='javascript:void(0)')
        .subject-placeholder Subject
    
    .box-description.description.pre-text.padding-right.padding-left
      .description-placeholder Description

    .item-references
      h4
        a(href='javascript:void(0)' target='_blank' rel='nofollow')
          .reference-placeholder http://

  .collapsers

    block item-collapsers

      // Editor
      .editor.is-container
        .is-section

      .evaluator.is-container
        .is-section
          include promote

      .details.is-container
        .is-section
          include details

      .children.is-container
        .is-section

  .row.toggle-arrow
    .col-xs-12.text-center
      i.fa.cursor-pointer.fa-arrow-down
