.item.box
  
  .item-media-wrapper
    article.item-media
      img.img-responsive(alt='Synaccord' src='http://res.cloudinary.com/hscbexf6a/image/upload/e_grayscale,r_8/a_0/v1415921565/xommyldfefjjvetenviv.jpg')
  
  .pull-right.box-buttons
    button.btn.toggle-promote.is-in Promote
    div.promoted 0
    div.promoted-percent 0
    button.btn.toggle-details Details

  .item-text
    h4.item-title.padding-right
      a(href='#')
        .subject-placeholder Subject
    
    .box-description.description.pre-text.padding-right.padding-left
      .description-placeholder Description

    .item-references
      h4
        a(href='#' target='_blank')
          .reference-placeholder http://

  .collapsers

    .evaluator.is-container
      .is-section
        include evaluator

    .details.is-container
      .is-section
        include details

    .children.is-container
      .is-section

    .row.toggle-arrow
      .col-xs-12.text-center
        i.fa.cursor-pointer.fa-arrow-down
