.item.box
  
  .item-media-wrapper
    article.item-media
  
  .pull-right.box-buttons
    button.btn Promote
    button.btn Details

  .item-text
    h4.item-title Loading Item Subject...
    .box-description.description.pre-text.padding-right.padding-left Loading Item Description...
    .item-references
      h4
        a(href='#' target='_blank') Loading Item Reference
