.collapsers

  .editor.is-container
    .is-section

  .evaluator.is-container
    .is-section

  .details.is-container
    .is-section
      include details

  .children.is-container
    .is-section
