.item
  .item-text
    h4.item-title Subject
    .box-description.description.pre-text.padding-right.padding-left Description
    .item-references
      h4
        a(href='#' target='_blank') Reference title
