h1
h1 This is an h1 
h2 This is an h2
h3 This is an h3
h4 This is an h4
h5 This is an h5
p This is a paragraph

p
  button This is a button

p
  button.primary This is a primary button

p
  button.shy This is a shy button

p
  button.medium This is a medium button

p
  button.block This is a full-width button

p
  input(type='text' placeholder='This is a text field')

p
  input.block(type='text' placeholder='This is a block text field')