.kitchen-sin(style='margin: 1.5em')
  h1 h1
  h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1 h1  
  h2 h2
  h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2  
  h3 h3
  h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3 h3
  h4 This is an h4
  h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 h4 
  h5 This is an h5
  p This is a paragraph

  p
    button This is a button

  p
    button.primary This is a primary button

  p
    button.shy This is a shy button

  p
    button.danger This is a danger button

  p
    button.warning This is a warning button

  p
    button.medium This is a medium button

  p
    button.block This is a full-width button

  p
    input(type='text' placeholder='This is a text field')

  p
    input.block(type='text' placeholder='This is a block text field')

  h1 Grids

  h2 Phone

  .phone-25 25%
  .phone-25 25%
  .phone-25 25%
  .phone-25 25%

  .phone-50 50%
  .phone-50 50%

  .phone-10 10%
  .phone-20 20%
  .phone-30 30%
  .phone-40 40%

  h2 Phone with rows

  .row
    .phone-25 25%
    .phone-25 25%
    .phone-25 25%
    .phone-25 25%

  .row
    .phone-50 50%
    .phone-50 50%

  .row
    .phone-10 10%
    .phone-20 20%
    .phone-30 30%
    .phone-40 40%

  .row
    .phone-50 Column 50% within a row (phone)
    .phone-50 Column 50% within a row (phone)

  .tablet-50 Column 50% (tablet)
  .tablet-50 Column 50% (tablet)

  .row
    .tablet-50 Column 50% within a row (tablet)
    .tablet-50 Column 50% within a row (tablet)

  .row
    .tablet-50.middle Column 50% within a row (tablet, middle)
    .tablet-50.middle Column 50% within a row (tablet, middle)

  .row
    .tablet-50.middle Column 50% within a row (tablet, middle)
    .tablet-50.middle Column 50% within a row (tablet, middle)

  hr