.panel.panel-default

  .panel-heading
    block toggle-creator
      i.pull-right.fa.fa-plus.fa-2x.cursor-pointer.toggle-creator

    h4.panel-title
      block title
        span.iddle
          i.fa.fa-circle-o-notch.fa-spin

  .panel-body

    block panel-body

      include creator
      
      // Items
      
      .items
        block items

      .padding.show.pre.text-center.text-muted.loading-items
        i.fa.fa-circle-o-notch.fa-spin
        span  Loading items...

      .padding.hide.pre

        // Load more

        .load-more
          a(href='') View more

        // Create new

        .create-new
          a(href='') Click the + to be the first to add something here
