.panel.panel-default

  .panel-heading
    block toggle-creator
      i.pull-right.fa.fa-plus.cursor-pointer.toggle-creator

    h4.panel-title
      block title
        span.iddle
          i.fa.fa-circle-o-notch.fa-spin

  .panel-body

    block panel-body

      include creator
      
      // Items
      
      .items

      // Load more

      .load-more
        a(href='') View more
