include ../mixins/bootstrap

// Panel

+bootstrap-panel

  //- PANEL HEADING

  +bootstrap-panel-heading

    //- TOGGLE CREATOR

    i.pull-right.fa.fa-plus.cursor-pointer.toggle-creator.is-in

    //- TYPE

    h4.panel-title Loading Panel Title...

  //- PANEL BODY

  +bootstrap-panel-body

    .items

    .load-more
      a(href='') View more
