include ../mixins/bootstrap

+bootstrap-panel

  // PANEL HEADING

  +bootstrap-panel-heading

    // TOGGLE CREATOR

    i.pull-right.fa.fa-plus.cursor-pointer.toggle-creator.is-in

    // TYPE

    h4.panel-title Loading Panel Title...

  // PANEL BODY

  +bootstrap-panel-body

    .creator.is-container
      .is-section
        .item.box
          .item-media-wrapper
            article.item-media.padding
              .drop-box
                h4 Drop image here
                p or
                input(type='file' value='Upload image')
          
          .pull-right.box-buttons
            button.btn.button-create Promote
            .text-muted New
            .text-muted
            button.btn(disabled) Details

          .item-text
            .input-subject
              input.form-control.input-lg(type='text' placeholder='Item subject' name='subject')
            
              textarea.form-control.input-lg(placeholder='Describe the subject in a concise and complete fashion that is measurable and unbiased' name='description')
            
              input.form-control.input-lg.reference(placeholder='http://' name="reference")

              .reference-board.hide Looking up


    .items

    .load-more
      a(href='') View more
