include ../mixins/bootstrap

+bootstrap-panel

  // PANEL HEADING

  +bootstrap-panel-heading

    // TOGGLE CREATOR

    i.pull-right.fa.fa-plus.cursor-pointer

    // TYPE

    h4.panel-title Loading Panel Title...

  // PANEL BODY

  +bootstrap-panel-body

    .creator
      h1 Panel Creator

    .items