include ../mixins/bootstrap

+bootstrap-panel

  // PANEL HEADING

  +bootstrap-panel-heading

    // TOGGLE CREATOR

    i.pull-right.fa.fa-plus.cursor-pointer.toggle-creator

    // TYPE

    h4.panel-title Loading Panel Title...

  // PANEL BODY

  +bootstrap-panel-body

    .creator.is-container
      .is-section
        include item

    .items

    .load-more
      a(href='') View more
