// Panel

.panel.panel-default(id=panel_id)

  .panel-heading
    block toggle-creator
      i.pull-right.fa.fa-plus.cursor-pointer.toggle-creator.is-in

    h4.panel-title
      span.iddle
        i.fa.fa-circle-o-notch.fa-spin

  .panel-body
    block panel-body

      include creator
      
      // Items
      
      .items
        // New item

        .new-item.is-container
          .is-section

        - len = synapp.public['navigator batch size'] - 1

        - for ( var i = 0; i < len; i ++ )
          include item-box
            include item-box-collapsers

        // Next item

        .next-item.is-container
          .is-section

      .loading-more
        i.fa.fa-circle-o-notch.fa-spin
        span  Loading more...

      .load-more
        a(href='') View more
