section
  header.promote-steps
    h2
      span.cursor 1
      span  of 
      span.limit 5

    h4 Evaluate each item below

  .items-side-by-side

    //- Image

    .row
      .side.image.left-item
      .side.image.right-item

    //- Subject

    .row
      .side.subject.left-item
        h3
      .side.subject.right-item
        h3

    //- Description

    .row
      .side.description.pre-text.left-item
      .side.description.pre-text.right-item

    //- References

    .row
      .side.references.left-item
        a(rel='nofollow' target='_blank')
      .side.references.right-item
        a(rel='nofollow' target='_blank')

    //- Sliders

    .row
      .side.sliders.left-item
        - for ( var i = 0; i < 4; i ++ )
          .row
            .tablet-40.middle

              //-
                  CRITERIA NAME
              //-

              h4 Criteria

            .tablet-60.middle

              input(type="range" min="-1" value="0" max="1" step="1")

      .side.sliders.right-item
        - for ( var i = 0; i < 4; i ++ )
          .row
            .tablet-40

              //-
                  CRITERIA NAME
              //-

              h4 Criteria

            .tablet-60

              input(type="range" min="-1" value="0" max="1" step="1")

    .clear
