section
  header.promote-steps
    h2
      span.cursor 1
      span  of 
      span.limit 5

    h4 Evaluate each item below

  .items-side-by-side

    //- Image

    .side.image.left-item
    .side.image.right-item

    //- Subject

    .side.subject.left-item
      h3
    .side.subject.right-item
      h3

    //- Description

    .side.description.pre-text.left-item
    .side.description.pre-text.right-item

    .clear
