#public-persona
  .row
    .col-xs-4
      img.img-responsive(src=synapp.public['user image'])

    .col-xs-8
      h2 Public Persona

      .pre-text=synapp.profile['public persona'].description

  .row.toggle-arrow.padding.text-center
    i.fa.fa-arrow-down