//- EMAILS (SIGN BAR)
    =================

//- # Form

form.form-inline.text-center#signer(role='form' novalidate)
  section
    input.form-control.input-lg(type='email' placeholder='Email' name='email')
    input.form-control.input-lg(type='password' placeholder='Password' name='password')
    .btn-group
      button.btn.btn-default.btn-lg Login

      button.btn.btn-default.dropdown-toggle.btn-lg(type='button' data-toggle='dropdown')
        span.caret
          span.sr-only toggle

      ul.dropdown-menu(role='menu')
        li
          a(href='/sign/facebook') 
            i.fa.fa-facebook
            span  Login with Facebook

        li
          a(href='/auth/twitter') 
            i.fa.fa-twitter
            span  Login with Twitter

        li
          a(href='#' type='button' data-toggle='modal' data-target='#forgot-password') 
            i.fa.fa-key
            span  Forgot password?

    button.btn.btn-default.btn-lg(type='button' data-toggle='modal' data-target='#join') Join

  .sign-error.bg-danger

  .sign-success.bg-success

hr

//- # modal join 1234

#join.modal.fade(tabindex='-1' role='dialog' aria-labelledby='joinLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss="modal")
          span(aria-hidden='true') &times;
          span.sr-only Close

        h4#joinLabel.modal-title Join

      .modal-body
        include ../layout/alert

        p.i-agree
          button.btn.btn-link
            i.fa.fa-2x.fa-square-o.agreed

          span
            span  I agree to 
            a(href='/page/terms-of-service') the terms of service
            span .

        p
          button.btn.btn-primary
            i.fa.fa-facebook
          span  
          a(href=synapp.public.routes["sign in with Facebook"]) Join with Facebook

        p
          button.btn.btn-primary
            i.fa.fa-twitter
          span  
          a(href=synapp.public.routes["sign in with Twitter"]) Join with Twitter

        h4.text-center Join with email

        form(role='form' novalidate)
          .form-group
            input.form-control(type='email' placeholder='email' name='email')

          .form-group
            input.form-control(type='password' placeholder='password' name='password')

          .form-group
            input.form-control(type='password' placeholder='Confirm password' name='confirm')

          button.btn.btn-primary.btn-block Join with email

//- # Forgot password
#forgot-password.modal.fade(tabindex='-2' role='dialog' aria-labelledby='forgotLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only Close

        h4#forgotLabel.modal-title Forgot password

      .modal-body
        include ../layout/alert

        p Enter your email address

        .form-group
          input.form-control(type='email' placeholder='Enter email address')

        button.btn.btn-block Send me password reactivation key
