#voter.section
  .gutter
    img.img-responsive.tablet-40(src=synapp.profile.voter.image)

    h2 Voter

    .gutter.pre-text=synapp.profile.voter.description

  .voter-collapse.is-container
    .is-section

      .row
        .phone-30.gutter Registered:

        .phone-70.left
          input(type='checkbox')

      .row
        .phone-30.gutter Political Party:

        .phone-70.left
          select
            option Republican
            option Democrat

  .row.toggle-arrow.padding.text-center
    i.fa.fa-arrow-down