mixin item-image(name)

 - name = name || 'item';
  
  //- Get URL

  - var url = [name + '.references', name + '.references[0]']

  - url.push([name + '.references[0].url', name + '.references[0].title'].join(' || '))

  - url = url.map(function (u) { return '(' + u + ')' })

  - url = url.join(' && ')

  //- HTML

  article.item-media(
    data-url='{{' + url + '}}' 
    data-image='{{' + name + '.image}}'
    data-upload='{{$root.dataUrls[0]}}'
  )
