mixin item-image(filter)
  
  //- Variables

  - var ngSrc = '{{item.image'

  - if ( filter )
    - ngSrc += '| cloudinaryTransformationFilter'

  - ngSrc += '}}'

  - var url = ['item.references', 'item.references[0]']

  - url.push(['item.references[0].url', 'item.references[0].title'].join(' || '))

  - url = url.map(function (u) { return '(' + u + ')' })

  - url = url.join(' && ')

  //- HTML

  div(ng-bind='i')

  article.item-media(
    data-url='{{' + url + '}}' 
    data-image='{{item.image}}' 
    data-upload='{{$root.dataUrls[0]}}'
    data-filter=filter)
