mixin item-image(filter)
  - var ngSrc = '{{item.image'

  - if ( filter )
    - ngSrc += '| cloudinaryTransformationFilter'

  - ngSrc += '}}'

  - var url = 'item.references && item.references[0] && item.references[0].url';

  article.synapp-item-media(data-url='{{' + url + '}}' data-image='{{item.image}}' data-filter=filter)
