mixin promote ()
  section
    header.promote-steps
      h2
        span.cursor 1
        span  of 
        span.limit 5

      h4 Evaluate each item below

    .items-side-by-side

      //- Image

      .row
        .side.image.left-item
        .side.image.right-item

      //- Subject

      .row
        .side.subject.left-item
          h3
        .side.subject.right-item
          h3

      //- Description

      .row
        .side.description.pre-text.left-item
        .side.description.pre-text.right-item

      //- References

      .row
        .side.references.left-item
          a(rel='nofollow' target='_blank')
        .side.references.right-item
          a(rel='nofollow' target='_blank')

      //- Sliders

      .row
        .side.sliders.left-item
          - for ( var i = 0; i < 4; i ++ )
            .criteria-wrapper
              .row
                .tablet-40
                  h4
                    button.criteria-name.shy.block Criteria
                .tablet-60(style='margin-top: 2.5em')
                  input.block(type="range" min="-1" value="0" max="1" step="1")
              .row.is-container.criteria-description-section
                .is-section
                  .gutter.watch-100.criteria-description

                

        .side.sliders.right-item
          - for ( var i = 0; i < 4; i ++ )
            .criteria-wrapper
              .row
                .tablet-40
                  h4
                    button.criteria-name.shy.block Criteria
                .tablet-60(style='margin-top: 2.5em')
                  input.block(type="range" min="-1" value="0" max="1" step="1")
              .row.is-container.criteria-description-section
                .is-section
                  .gutter.watch-100.criteria-description

      //- Feedback

      .row
        .side.feedback.left-item
          textarea.feedback-entry.block(
            placeholder = 'Can you provide feedback that would encourage the author to create a statement that more people would unite around?')
        .side.feedback.right-item
          textarea.feedback-entry.block(
            placeholder = 'Can you provide feedback that would encourage the author to create a statement that more people would unite around?')

      //- Promote

      h4.text-center Which of these is most important for the community to consider?

      .row
        .side.left-item
          button.block.promote Promote
        .side.right-item
          button.block.promote Promote

      //- Edit and go again

      .row
        .side.left-item
          button.block.edit-and-go-again-toggle Edit and go again
        .side.right-item
          button.block.edit-and-go-again-toggle Edit and go again

      button.finish.block Neither

      .clear

