mixin box(type)
  .box 
    .row
      .col-xs-4
        image.img-responsive(alt='{{' + type + '.subject}}' data-ng-src='{{' + type + '.image}}')

      .col-xs-5
        h4(data-ng-bind=type + '.subject')
        div.hidden-xs.box-description
          p(data-ng-bind=type + '.description')

      .box-promoted.col-xs-3.text-right
        h5 Promoted
        ul
          li(data-ng-bind=type + '.promotions')
          li(data-ng-bind='(' + type + ' | getPromoted) + "%"')

    .row.visible-xs-block
      .col-xs-12.box-description
        p(data-ng-bind=type + '.description')
