.row.row-padding(data-ng-click='viewEntrySummaryOnTouch(entry._id)')
  .col-xs-4.image
    include entry-image
  
  .col-xs-6
    include entry-title
    
    h4
      b(ng-bind='entry.subject')

  .col-xs-2
    h4(ng-bind='entry.views')
    h4(ng-bind='(entry.promotions * 100 && entry.promotions * 100 / entry.views | number:2) + "%"')
