.row
  .col-xs-12
    h3 Promoted

    .progress
      .progress-bar(
        role                =   "progressbar" 
        aria-valuenow       =   "{{getPromoted(entry)}}" 
        aria-valuemin       =   "0" 
        aria-valuemax       =   "100" 
        style               =   "width: {{getPromoted(entry)}}%;" 
        ng-bind             =   'getPromoted(entry) + "%"' 
      )
