button.btn.btn-block(
  data-ng-click   =   'promote($index)'
  data-ng-show    =   'entry.subject && (evaluation.entries[($index + 1)] || $index % 2)'
  data-ng-hide    =   '! evaluation.entries[0] || ! evaluation.entries[1]'
) Promote