//-
    ENTRY FEEDBACK EDIT
    ===================

// Create Entry Feedback

textarea.form-control(
  placeholder       =   'Can you provide feedback that would encourage the author to create a statement that more people would unite around?',
  data-ng-show      =   'entry.subject'
  data-ng-model     =   'feedbacks[entry._id]')