.row.padding
  .col-xs-6

    //- Upload image button

    div.upload-button.btn.btn-default(
      ng-file-select  =   "onFileSelect($files)"
      data-multiple   =   "true"
      title           =   "select file"
      onclick         =   "this.value = null"
        ) Upload image

  .col-xs-6.text-right

    //- Clear button

    button.btn(
      data-ng-click   =   'clearEntry()' 
      type            =   'button'
        ) Clear

    //- Done button
    
    button.btn.btn-info Done