button.btn.btn-block(
  data-ng-click       =   'evaluation.entries[2] ? continue() : finish()' 
  data-ng-show        =   'evaluation.entries'
)
  span(data-ng-show='evaluation.entries[2]') Continue
  span(data-ng-hide='evaluation.entries[2]') Finish
