.row
  .col-sm-6(ng-repeat='entry in evaluation.entries')
    .row
      
      //-
          IMAGE
      //-
      
      .col-sm-6
        include entry-image

      //-
          TITLE
      //-

      .col-sm-6
        include entry-title

    //-
        SUBJECT
    //-

    .row
      .col-sm-12
        h2(ng-bind='entry.subject')

    //-
        DESCRIPTION
    //-

    .row.padding-bottom
      .col-sm-12
        div(ng-bind='entry.description')

    .row.padding-bottom
      .col-sm-12
        include entry-sliders

    .row.padding-bottom
      .col-sm-12
        include entry-feedback-edit

    .row
      .col-sm-12
        button.btn(ng-click='promote(entry._id)') Promote

