// Meta data

//- Encoding
meta(charset='utf-8')

//- Title
title=synapp.title

//- IE
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Viewport
meta(name="viewport" content="width=device-width, initial-scale=1.0")

//- Stylesheets
block stylesheets
  block css-app
    - if ( settings.env === 'production' )
      link(rel='stylesheet' href='/dist/synaccord.css')
    - else
      link(rel='stylesheet' href='/css/synaccord.css')
    //- link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
