/**
 *    __________________________________________________________________________
 *
 *    Synapp Style Sheet / Variables
 *    ------------------   ---------
 *
 *    @abstract
 *    Variables
 *
 *    @author   francois
 * 
 *    __________________________________________________________________________
 *    
*/
/** BREAK POINTS **/
/** Gutters */
/** The height of the top bar **/
/** Buttons */
/** Colors **/
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
  margin: 0;
  padding: 0;
}
/*
 *    Links
 */
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*
 *    Force cursor to be a pointer
 */
.cursor-pointer {
  cursor: pointer;
}
/*
 *    Hide
 */
.hide {
  display: none;
}
.alert {
  display: none;
}
.is-in {
  display: none;
}
.vex-dialog-button-primary {
  background: #337ab7 !important;
}
/*
 *  Background
 */
.muted-bg {
  background: #999999;
  border-color: #999999;
  color: #ffffff;
}
.info-bg {
  background: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
}
.success-bg {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
.error-bg {
  background: #cd3232;
  border-color: #cd3232;
  color: #ffffff;
}
.primary-bg {
  background: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
.warning-bg {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
/*
 *  Text
 */
.text-center {
  text-align: center;
}
/*
 *  Boxes
 */
.frame {
  border: 1px solid;
}
.radius {
  border-radius: 4px;
}
.block-center,
.center-block {
  display: block;
  margin: auto;
}
button,
.button {
  display: inline-block;
  padding: 0.9em 0.7em;
  border: 1px solid #ccc;
  background: #ccc;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  border-radius: 1px;
}
button:hover,
.button:hover {
  background: #999;
  border-color: #999;
}
button[disabled],
.button[disabled] {
  background-color: #eee !important;
  color: #ccc;
  text-decoration: line-through;
}
button.shy,
.button.shy {
  background: transparent;
  border-color: transparent;
}
button.shy:hover:not(.very),
.button.shy:hover:not(.very) {
  background: #dddddd !important;
}
button.shy.very,
.button.shy.very {
  cursor: default;
}
button.error,
.button.error {
  background: #cd3232;
  border-color: #cd3232;
  color: #ffffff;
}
button.error:hover,
.button.error:hover {
  background: #7b1e1e;
}
button.warning,
.button.warning {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
button.warning:hover,
.button.warning:hover {
  background: #c77c11;
}
button.info,
.button.info {
  background: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
}
button.info:hover,
.button.info:hover {
  background: #2390b0;
}
button.success,
.button.success {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
button.success:hover,
.button.success:hover {
  background: #357935;
}
button.primary,
.button.primary {
  background: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background: #1d4567;
}
button.small,
.button.small {
  font-size: 80% !important;
  border-width: 2px;
  padding: 0.8em;
}
button.medium,
.button.medium {
  font-size: 125%;
  border-width: 2px;
  padding: 1em;
}
button.large,
.button.large {
  font-size: 175%;
  border-width: 2px;
  line-height: 1.3em;
}
button.huge,
.button.huge {
  font-size: 250%;
  border-width: 4px;
  line-height: 1.3em;
}
button.block,
.button.block {
  width: calc(100%);
}
a.button {
  text-decoration: none;
  color: #333333;
}
.button-group-2 > button,
.button-group-2 > .button {
  width: 50%;
}
