/*****************************************************************************\
/******************************************************************************
|   COMPONENTS / CREATOR
|   ====
\******************************************************************************
\*****************************************************************************/
/******************************************************************************
|   IMAGE UPLOADER
\*****************************************************************************/
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  min-height: 65px !important;
  text-align: center !important;
  padding-bottom: 1.5em;
}
.drop-box input {
  margin: auto;
}
.drop-box.dragover {
  border: 5px dashed blue;
}
.drop-box.dragover-err {
  border: 5px dashed red;
}
/******************************************************************************
|   CREATOR FORM
\*****************************************************************************/
.creator {
  clear: both;
  /**************************************************************************
  |   SUBMIT BUTTON
  \*************************************************************************/
  /**************************************************************************
  |   TEXT FIELDS
  \*************************************************************************/
}
.creator .item-buttons button,
.creator .item-buttons .button {
  display: block;
  width: 40px;
}
.creator .item-inputs {
  left: 0;
  position: relative;
  overflow: hidden;
}
.creator .item-inputs input[type="text"],
.creator .item-inputs input[type="url"],
.creator .item-inputs textarea {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
