// Details

section

  //- Feedback pending

  section.feedback-pending.hide
    h4 Feedback pending

    p While you are waiting for your feedback this is a great time to invite the people you know to join the effort to bring synergy to democracy.

    textarea.invite-people-body(placeholder='Hey! I am participating in bringing synergy to democracy. Join me at ')

    a.btn.invite-people(target='_blank') Send

    hr

  //- Promoted

  .row
    .col-sm-4.col-xs-12
      h4 Promoted
    .col-sm-8.col-xs-12.padding-top
      .progress
        .progress-bar.progress-bar-success

  //- Votes

  .row
    .col-xs-12
      
      - for ( var i = 0; i < 4 ; i ++ )

      .row.details-votes

        .col-sm-4.col-xs-12

          //-
              CRITERIA NAME
          //-

          h4(data-toggle="tooltip" data-placement="top")

        .col-sm-8.col-xs-12

          //-
              CHART
          //-

          .chart

            hr

    hr

  //- Has feedbacks

  .details-feedbacks
    h4 Feedback
    
    .feedback-list

  //- Edit and go again
  .row.padding-top.is-in
    .col-xs-12.text-right
      hr
      button.btn.syn-btn.edit-and-go-again-toggler Edit and go again
