.kitchen-sink(style='margin: 1.5em')

  style.
    code {
      background: #ccc;
      color: #555
    }

  //- TYPO

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Typo
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  h1 h1
  
  h2 h2

  h3 h3

  h4 h4

  h5 h5


  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

  p.pre-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

  p.left .left
  p.center .center
  p.right .right

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Text Colors
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  p.muted .muted
  p.info .info
  p.primary .primary
  p.success .success
  p.warning .warning
  p.error .error

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Background Colors
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  p.muted-bg.gutter .muted-bg.gutter
  p.info-bg.gutter .info-bg.gutter
  p.primary-bg.gutter .primary-bg.gutter
  p.success-bg.gutter .success-bg.gutter
  p.warning-bg.gutter .warning-bg.gutter
  p.error-bg.gutter .error-bg.gutter

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Tables
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  table
    thead
      tr
        th Column 1
        td Column 2
        td Column 3
    tbody
      tr
        th Row 1 Column 1
        td Row 1 Column 2
        td Row 1 Column 3
      tr
        th Row 2 Column 1
        td Row 2 Column 2
        td Row 2 Column 3
      tr
        th Row 3 Column 1
        td Row 3 Column 2
        td Row 3 Column 3
      tr
        th Row 4 Column 1
        td Row 4 Column 2
        td Row 4 Column 3

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Buttons
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  p
    button.block button.block

  p
    button.shy.block button.shy.block

  p
    button.info.block button.info.block

  p
    button.primary.block button.primary.block

  p
    button.success.block button.success.block

  p
    button.warning.block button.warning.block

  p
    button.error.block button.error.block

  p
    button.block.medium button.block.medium

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Form
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  p
    input(type='text' title='input[type="text"]' placeholder='input[type="text"]')

  p
    input.block(type='text' title='input.block[type="text"]' placeholder='input.block[type="text"]')

  p
    input.block.medium(type='text' title='input.block.medium[type="text"]' placeholder='input.block.medium[type="text"]')

  .input-group
    input.medium.phone-50(type='text' placeholder='input.medium.phone-50')
    input.medium.phone-50(type='text' placeholder='input.medium.phone-50')

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Grid
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  p .row

  .row
    .watch-50.gutter.frame .watch-50.gutter.frame
    .watch-50.gutter.frame .watch-50.gutter.frame

  p .row

  .row
    .phone-50.gutter.frame .phone-50.gutter.frame
    .phone-50.gutter.frame .phone-50.gutter.frame

  p .row

  .row
    .tablet-50.gutter.frame .tablet-50.gutter.frame
    .tablet-50.gutter.frame .tablet-50.gutter.frame

  p .row.column-gutter

  .row.column-gutter
    .tablet-50.gutter.frame .tablet-50.gutter.frame
    .tablet-50.gutter.frame .tablet-50.gutter.frame

  p .row.column-gutter

  .row.column-gutter
    .tablet-25.gutter.frame .tablet-25.gutter.frame
    .tablet-25.gutter.frame .tablet-25.gutter.frame
    .tablet-25.gutter.frame .tablet-25.gutter.frame
    .tablet-25.gutter.frame .tablet-25.gutter.frame

  p .row.column-gutter

  .row.column-gutter
    .tablet-20.gutter.frame .tablet-20.gutter.frame
    .tablet-20.gutter.frame .tablet-20.gutter.frame
    .tablet-20.gutter.frame .tablet-20.gutter.frame
    .tablet-20.gutter.frame .tablet-20.gutter.frame
    .tablet-20.gutter.frame .tablet-20.gutter.frame

  p .row.column-gutter

  .row.column-gutter
    .tablet-20.gutter.frame .tablet-20.gutter.frame
    .tablet-30.gutter.frame .tablet-30.gutter.frame
    .tablet-10.gutter.frame .tablet-10.gutter.frame
    .tablet-15.gutter.frame .tablet-15.gutter.frame
    .tablet-25.gutter.frame .tablet-25.gutter.frame

  .row
    .phone-40(style='height: 100%;margin-top: 25px')
      hr
    .phone-20.center
      h3 Gutter
    .phone-40(style='height: 100%;margin-top: 25px')
      hr

  .gutter-sample.center .gutter

  hr