/** ____________________________________________________________________________

          LAYOUT

    ============================================================================
**/

@import "var";

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  padding-top: @syn-topbar-height;
  text-align: left;

  @media (min-width: @screenDesktop) {
    width: @screenDesktop;
    margin: auto;
  }
}

/*
 *    Layout
 */

#screens {
  position: absolute;
  top: -1000px
}

#screen-phone {
  width: @screenPhone
}

#screen-tablet {
  width: @screenTablet
}

.row {
  clear: both;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;

  &.column-gutter {

    .column {
      border: 2px solid red;
    }
  }
}



.split(@percent) {
  width:                  @percent;
  float:                  left;
  -webkit-box-sizing:     border-box;
  -moz-box-sizing:        border-box;
  box-sizing:             border-box;
  height:                 100%;
}

@syn-default-column-gutter: @syn-panel-gutter;

.scaffolding (@screen, @min-width, @max-width, @counter: 100, @step: 5) when (@counter > 0) {
  
  .@{screen}-@{counter} {

    @media (min-width: @min-width) {
      .split(@counter + 0%);
    }
  
  }

  /*
   * Push
   */

  .@{screen}-push-@{counter} {
    @media (min-width: @min-width) {
      margin-left: ~"@{counter}%";
    }
  }

  /*
   * Hide
   */

  .@{screen}-hide {
    @media (min-width: @min-width) and (max-width: @max-width) {
      display: none
    }
  }

  .@{screen}-hide-down {
    @media (max-width: @min-width) {
      display: none
    }
  }

  .@{screen}-hide-up {
    @media (min-width: @min-width) {
      display: none
    }
  }

  /*
   * Column gutters
   */

   @columns-length: 100/@counter;

   @subtract: @syn-default-column-gutter / @columns-length;

   @reduced-width: @counter - @subtract;

  .row.column-gutter > .@{screen}-@{counter} {

    @media (min-width: @min-width) {
      width:            @reduced-width;
      margin-left:      @subtract;
      margin-right:     @subtract;

      &:first-child {
        margin-left:    0%;
      }

      &:last-child {
        margin-right:    0%;
      }
    }

  }
;
  .scaffolding(@screen, @min-width, @max-width, @counter - @step);
}

.scaffolding(watch, 0px, @screenPhone);
.scaffolding(phone, @screenPhone, @screenTablet);
.scaffolding(split, @screenSplit, @screenTablet);
.scaffolding(tablet, @screenTablet, @screenDesktop);

.gutter {
  padding: @syn-panel-gutter;
  // border: 1px dotted red
}

.gutter-left {
  padding-left: @syn-panel-gutter;
}

.gutter-right {
  padding-right: @syn-panel-gutter;
}

.gutter-bottom {
  padding-bottom: @syn-panel-gutter;
}

.gutter-top {
  padding-top: @syn-panel-gutter;
}

.gutter-sample {
  border: @syn-panel-gutter / 2 solid;
  padding: 50px
}

.center {
  text-align: center
}

.column-group {
  .row();

  .column:not(:first-child) {
    border-left: none
  }
}
