pre.
  panel
    heading
      h4
        .fa-plus
        +type

    body
      +editor
      +box
        +evaluator
        +details
        panel#list
          block
      +item
        ...

mixin panel
  .panel
    .panel-heading
      h4.panel-title Title

+panel()






