// Editor
section(data-ng-controller='UploadCtrl')
  form(
    novalidate
    data-ng-submit = 'save()')

    .row.text-center
      .col-xs-12
        h3 Create a new 
          span(data-ng-bind='type')

    .row.row-padding(data-ng-show='error')
      .alert.alert-warning.alert-dismissible(role='alert')
        strong Warning!
        div(data-ng-bind='error')

    .row.row-padding
      .col-xs-12.padding
        include ../partials/editor/image

    .row.row-padding
      .col-xs-12
        include ../partials/editor/subject

    .row.row-padding
      .col-xs-12
        include ../partials/editor/description

    .row.row-padding
      .col-xs-12
        include ../partials/editor/references

    .row.padding-bottom

    .row.padding-bottom
      .col-xs-6

        //- Upload image button

        div.upload-button.btn.btn-default.btn-lg(
          ng-file-select  =   "onFileSelect($files)"
          data-multiple   =   "true"
          title           =   "select file"
          onclick         =   "this.value = null"
            ) Upload image

      .col-xs-6.text-right

        //- Clear button

        button.btn.btn-lg(
          data-ng-click   =   'clearEntry()' 
          type            =   'button'
            ) Clear

        //- Done button
        
        button.btn.btn-info.btn-lg Done

    //- Arrow up icon (collapse)

    .row.padding-bottom
      .col-xs-12
    
    .row.padding-bottom
      .col-xs-12.text-center
        i.fa.fa-arrow-circle-up.cursor-pointer(data-ng-click='collapse()')

    //- Loading modal

    #loading-editor.modal.fade(tab-index='-1' role='dialog' aria-labelledby='loadingEditorLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h4#loadingEditorLabel.modal-title.text-center Just a moment
          .modal-body.text-center
            i.fa.fa-5x.fa-spin.fa-spinner
