.accordion {
  overflow: hidden;
  max-height: 0;
  position: relative;

}

.accordion.expanding {
    overflow: hidden;
}

.accordion.text.expanding {
  overflow: visible;
  overflow-y: hidden;
}

.accordion.expanded {
    max-height: none;
    /* overflow nothing */
}

.accordion.text.expanded {
    max-height: none;
    overflow: visible;
}

.accordion.collapsing {
  overflow: hidden;
}

.accordion.text.collapsing {
  overflow: visible;
  overflow-y: hidden;
}

.accordion.collapsed {
  overflow: hidden;
}

.accordion.text.collapsed {
  overflow: hidden;
}