.accordion {
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: auto;
}

.accordion.show {
  overflow: hidden;
  position: relative;
  z-index: auto;
}

.accordion.hide {
  overflow: hidden;
  position: relative;
  z-index: auto;
}


.accordion-shadow{
  min-height: 0;
  max-height: 0;
  position: absolute;
  z-index: 0;
  background-color: @syn-background-color;
}