.accordion {
  overflow: hidden;
  max-height: 0;
  position: relative;
  z-index: auto;

}

.expanding {
    overflow: hidden;
}

.text-expanding {
  overflow: visible;
}

.expanded {
    overflow: visible;
    max-height: none;
}

.collapsing {
  overflow: hidden;
}

.text-collapsing {
  overflow: visible;
}

.collapsed {
  overflow: hidden;
}


.accordion-shadow{
  min-height: 0;
  max-height: 0;
  position: absolute;
  z-index: -1;
  background-color: @syn-background-color;
}