/** ____________________________________________________________________________


Civil Pursuit Style

    ____________________________________________________________________________
**/

@import "lib/var";


#mce-MMERGE3:hover {
background:#888;
}
#mce-MMERGE4:hover {
background:#888;
}
#mce-MMERGE5:hover {
background:#888;
}
#mce-MMERGE6:hover {
background:#888;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
    margin: 0;
}





.civil-pursuit {
  font-family: 'Oswald';
  background: transparent;      
  font-size: 100%;
  border: 0;


  .start {
    font-family: 'Oswald';
    margin: 0;
    padding: 0;

    outline: 0;                               
    vertical-align: baseline;          

    display: table;
    box-sizing: border-box; /** so calc below works right */
    width: ~"calc(100vw)"; 
    position: relative;
    left: ~"calc(-50vw + 50%)"; 
    top: -10px;

    @media (max-width: @screen-phone) {
      top: -5px;
    }
  }

  .conteiner {
    position: relative;
  }
      
  a {                                            
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }

  .social-bar {
    display: block;
    margin: .3em;
    position: absolute;
    vertical-align: top;
    left: 0;
    top: 0;
    width: auto;

    img {
      padding-right: .3em;
    }
  }

  .bg-image {
    display: table-cell;
    position: relative;

    width: 100%;
    height: 350px;
    background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_500,w_1920/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);

    background-position: center center;
    background-repeat: no-repeat;

    background-color:#464646;
     display: table;
    vertical-align: middle; 
    text-align: center;
  }

  .news-headline {
    position: relative;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .news-headline-inner {
    position: relative;
    display: inline-block; 
    background-color: rgba(255,255,255,0.8); 
    padding-right: 1%; 
    padding-left: 1%; 
    padding-bottom:0.5%;
    vertical-align: middle;
    width: auto;
    text-align: center;
  }

  .news-headline-text {
    position: relative;
    display: block;
    color: black;
    font-size: 250%;
    font-weight: 700;
    margin-top: 0;
    padding: 0;
  }
}


.civil-pursuit-conteiner-outer {
  padding-left: 0;
  padding-right: 0;
}


.civil-pursuit-conteiner-inner {
  max-width: @syn-max-width-center-column;
  padding-top: .5em; 

  margin: auto;

  @media (max-width: @syn-max-width-center-column) {
    padding-left: 1em;
    padding-right: 1em;
  }

  p {
  font-size: 1.1em;
  color: darkslategrey;
  margin: 0;
  }
}

.civil-pursuit-title {
  background: #F5F5F5;
  width: 100%;

  .inner {
    max-width: @syn-max-width-center-column;
    margin: auto;
    padding-top: .25em;
    padding-bottom: .25em;
    width: auto;

    @media (max-width: @syn-max-width-center-column ) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  h2 {
    color: #000000;
    font-size: 200%;
  }

}

.civil-pursuit-text-block {
  display: block;
  padding-top: .25em;
  padding-bottom: 0;

  h2 {
    font-size: 175%;
    color: #444;
    padding-bottom: .1em;
    margin-bottom: .25em;

  }

  h3 {
    font-size: 125%;
    color: #444;
    padding-bottom: .25em;
  }

  p {
  color: darkslategray;
  padding-bottom: .5em;

  }


  .two-col {
     display: table;
     height: 100%;
  }

  .left-col { 
    display: table-cell;
    height: 100%;
    vertical-align: top;
    padding-right: .25em;
    padding-bottom: 0;
    padding-top: 0;
    @media ( max-width: @screen-phone ) {
      display: block;
      padding: 0;
      padding-bottom: .5em;
      height: auto;
    }
  }

  .right-col {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    padding-left: .25em;
    padding-bottom: 0;
    padding-top: 0;
    @media ( max-width: @screen-phone ) {
      display: block;
      padding: 0;
      height: auto;
    }
  }

  .single-center {
    @media ( max-width: @screen-phone ) {
      text-align: center;
    }
  }

  .title {
    padding-bottom: .25em;
  }

  .email-block {
    display: table;
    width: 100%;
    padding-bottom: 1em;

  }
  .email-form {
    display: table;
    float: right;
  }

  input[type="email"] {
    display: table-cell;
    vertical-align: bottom;
    outline: none;
    border:none;
    border-radius: 7px;
    border: 1px solid #a6a3af;
    width: 19em;
    height: 2em;
    padding-left: .5em;
    font-size: 1em;
    padding-top: .1em;
    padding-bottom: .1em;

    @media (max-width: @screen-phone) {
      width: 12em;
    }
  }

  input[type="submit"] {
    display: table-cell;
    float: right;
    cursor: pointer;
    outline: medium none;
    border: medium none;
    border-radius: 7px;
    text-decoration: none;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
    font-size: 100%;
    height: 2em;
    color: #FFF;
    background: linear-gradient(to bottom, #FF8F00 0%, #FF7002 51%, #FF7002 100%) repeat scroll 0% 0% transparent;
  }
}
