/** ____________________________________________________________________________


Civil Pursuit Style

    ____________________________________________________________________________
**/

@import (reference) "lib/mixins";
@import (reference) "lib/screens";
@import "lib/var";
@import "elements/button";


#mce-MMERGE3:hover {
background:#888;
}
#mce-MMERGE4:hover {
background:#888;
}
#mce-MMERGE5:hover {
background:#888;
}
#mce-MMERGE6:hover {
background:#888;
}




.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
    margin: 0;
}


.civil-pursuit {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;                               
  vertical-align: baseline;          
  background: transparent;      
  font-size: 100%;
  display: table;
  width: 100%;
      

  a {                                            
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }             
}

table {           
  border-collapse: collapse;
  border-spacing: 0;
}

td, UNUSEDtd img {
  vertical-align: top;      
}
input, UNUSEDselect, UNUSEDbutton, UNUSEDtextarea {
  margin: 0;        
  font-size: 100%;      
}

input[type="checkbox"] {    
  vertical-align: bottom;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

.conteiner-inner p {
  font-size: 19px;
  color: darkslategrey;
}

.conteiner-inner {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 8px
}


.search-device {
  display: none;
}

.search-class-device {
  width: 100%;
  float: left;
  outline: none;
  border:none;
  border-radius: 7px;
  border: 1px solid #a6a3af;
  line-height: 1.8;
  padding-left: 10px;
  font-size: 16px;

}

.button_subscribe-device {
  float: right;
  width: 135px;
cursor:pointer;
  outline: none;
  border:none;
  display: block;
  border-radius: 7px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  font-size: 16px;
  color: #fff;
background: #ff8f00; 
background: -moz-linear-gradient(top, #ff8f00 0%, #ff7002 51%, #ff7002 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8f00), color-stop(51%,#ff7002), color-stop(100%,#ff7002)); 
background: -webkit-linear-gradient(top, #ff8f00 0%,#ff7002 51%,#ff7002 100%); 
background: -o-linear-gradient(top, #ff8f00 0%,#ff7002 51%,#ff7002 100%); 
background: -ms-linear-gradient(top, #ff8f00 0%,#ff7002 51%,#ff7002 100%); 
background: linear-gradient(to bottom, #ff8f00 0%,#ff7002 51%,#ff7002 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8f00', endColorstr='#ff7002',GradientType=0 ); 
}

.input-device {
  margin-right: 150px;
}

.title {
  background: #F5F5F5;
  width: 100%;
}

#p-title{
  color: #000000;
  font-size: 30px;
  
}

.content {
  max-width: 960px;
  min-width: 270px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}


.content-about {
  max-width: 960px;
  min-width: 270px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.conteiner {
  width: 100vw;
}

.logo {
  display:block;
  width: 31.7%;
  float:left;
}

.dop-block {
  float: left;
  width: 11.4%;
}

.support_button {
  width: 100%;

}

.expert_button {
  width: 100%;

}

.search_menu_block {
  float: right;
  width:56.9%;
}

.search-class {
  outline: none;
  border:none;
  border-radius: 7px;
  border: 1px solid #a6a3af;
  width: 250px;
  height: 39px;
  padding-left: 10px;
  font-size: 16px;
}

.text_foto-wrapper-white-about {
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-right-about {
  width: 75%;
  float: left;
  font-size: 16px;
  
  padding-left: 3%;
  text-align: left;
  color: darkslategrey;
}

#color-text {
  
  color: #000000;
  font-size: 48px;
  
  font-weight: bold;
}

h2 {

  color:#000000;
  font-size: 30px;
  line-height: 1;

  margin-bottom: 15px;
  text-align: left;
}

#h2 {

  color:#000000;
  font-size: 30px;
  line-height: 1;
  margin-left: 0px;
  margin-bottom: 15px;
  text-align: left;
}



.content-inner-text {
  color:#000;
  font-size: 19px;
}

.conteiner-inner {
  max-width: 960px;
  margin: 0 auto;
}

.conteiner-inner p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 19px;
}

.foto-wrapper-left-about {
  width: 180px;
  float: left;
}

.bg-inner {

  width: 100%;
  height: 350px;
  background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_500,w_1920/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);

  background-position: center center;
  background-repeat: no-repeat;

  background-color:#464646;
   display: table;
  vertical-align: middle; 
  text-align: center;
}

.social-bar {
  float: left;
  margin-top: 13px;
  margin-right: 24px;
  z-index: 2;
  position: absolute;
  margin-left: -10%;
}

.news-headline {
  left: 50%;
  z-index: 1;
  display: table-cell; 
  vertical-align: middle;
}

.news-headline-inner {
  display: inline-block; 
  background-color: rgba(255,255,255,0.8); 
  padding-right: 1%; 
  padding-left: 1%; 
  padding-bottom:1%;
}


@media only screen and (max-width:1500px) {
  #color-text-body {
  
  color: #000000;
  font-size: 32px;
  
  }
  #color-text-body1 {
  
  color: #000000;
  font-size: 32px;
  
  }
  #color-text-body2 {
  
  color: #000000;
  font-size: 32px;
  
  }
}

@media only screen and (min-width:1255px){

  .images-box2 {
    display: none;
  }

  .images-box2-device {
    display: block;
  }
}

@media only screen and (max-width:1254px) {
  .images-box2 {
    display: block;
  }

  .images-box2-device {
    display: none;
  }
  #color-text-body {
  
  color: #000000;
  font-size: 36px;
  
}
  #color-text-body1 {
  
  color: #000000;
  font-size: 36px;
  
}
  #color-text-body2 {
  
  color: #000000;
  font-size: 36px;
  
}
}



@media only screen and (min-width: 980px) {
 .bg {

      background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_500,w_1920/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);
      background-size: cover;
  }

  .bg-inner{

      background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_500,w_1920/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);
      background-size: cover;

  }

 .bg2 {
    display: none;
    

    }
}

@media only screen and (max-width:1070px){
  #color-text2 {
    font-size: 36px;
  }

  #color-text4 {
    font-size: 54px;
  }

  .text-block-color2 {
    max-width: 390px;
    margin-left: -195px;
  }
}

@media only screen and (max-width:979px){


    .bg1 {
    display: none;
  }



  .bg11 {
      display: block;
    width: 100%;
  }

    .slide img {
    width: 600px;
  }

  #slider {
      height: 470px;
  }

  .text-block-color {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px 20px 20px 10px;
  
  }

  #color-text {
    font-size: 36px;
  }

  #color-text-body {
    font-size: 28px;
  }
  #color-text-body1 {
    font-size: 28px;
  }
  #color-text-body2 {
    font-size: 28px;
  }


  .text-block-color p {
    font-size: 18px;
  }

  .foto-wrapper {
    margin-top: 0px;
  }

  .foto-wrapper-left {
    margin-top: 20px;
  }



}

@media only screen and (max-width:910px){

  .search_menu_block {
    width: 66.5%;
  }

  }

@media only screen and (max-width:795px) {

  .content {
    padding-left: 0;
    padding-right: 0;

  }


  .black-content { 
    display: block;
  }

  .black-text-wrapper {
    display: block;
  }

  .black-box-pledge_button {
    display: block;
    width: 305px;
    float: right;
  }

  .text_foto-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #slider{ 

    height:300px;
    position:relative;
  }

  .slide img {
    width: 300px;
  }

  .text-slideshow {
    margin: 20px auto;
    margin-bottom: 0px;
  }

  .header {
    text-align: center;
  }

  .foto-wrapper {
    margin-top: 0px;
    width: 100%;
    float: none;
    text-align: center;
  }

  .tall-skinny-foto-wrapper {
    display: none;
  }

  .short-wide-foto-wrapper {
    display: block;
    margin-top: 0px;
    width: 100%;
    float: none;
  }

  .foto-wrapper-left-about {
    margin-top: 25px;

  }


  #color-text2 {
    font-size: 26px;
  }

  #color-text4 {
    font-size: 24px;
  }

  .text-block-color2 {
    max-width: 290px;
    margin-left: -145px;
    margin-top: -50px;
  }

  .text-block-color3 p {
    font-size: 26px;
  }

  .synaccord {
    font-size: 50px;
  }

  .logotip_text {
    font-size: 10px;
  }

  .text-block-color {
      padding: 5px 5px 5px 5px;
   
      top: 50px;
  }

  .text-block-color p {
    font-size: 12px;

  }

  .text-block-color-device {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;

  }

    .text-block-color-device-index {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;
    margin-top: -10px;
  }

    .text-block-color-device1 {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;
    margin-top: -10px;
  }
  .text-block-color p {
    font-size: 16px;
  }

  .text {
    width: 97%;
    float: none;
    padding-left: 3%;
    padding-top: 5%;
  }

  .text-tall {
    width: 97%;
    float: none;
    line-height: 200%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .text-right {
    width: 97%;
    float: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
  }

  .text-top-right {
    width: 97%;
    float: none;
    padding-left: 3%;
    padding-right: 3%;
  }

  .text-right-about {
    width: 97%;
    float: none;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 10px;
  }

  .foto-wrapper-left {
    margin-top: 25px;
    width: 100%;
    float: none;
    text-align: center;
  }

  .left-foto-center-vertical {
    width: 100%;
    float: none;
    margin-bottom: 0;
    text-align: center;
  }

  .foto-center-vertical{
    position: relative;
      margin-top: 0;
      transform: none;
  }

  .foto-wrapper-left-about {
    width: 100%;
    float: none;

      img {
        border:none;
        max-width: 100%;
      }
  }

  .footer-block-left {
      float: none;
      margin: 0 auto;
  }

  .footer-block-right {
      float: none;
      margin: 0 auto;
  }

  h2 {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .slideshow-h2 {
      font-size: 24px;

    }



  #color-text {
    font-size: 30px;
  }
  #color-text-body {
    font-size: 22px;
  }
  #color-text-body1 {
    font-size: 22px;
  }
  #color-text-body2 {
    font-size: 22px;
  }
.text-block-color p{
    font-size: 14px;
  }

  .search_menu_block {
    width: 67.5%;
  }

  .search-class {
    font-size: 14px;
    height: 33px;
    width: 220px;
  
  }

  .political-class {
    font-size: 14px;
    height: 33px;
  
  
  }

  .button_subscribe {
    cursor: pointer;
    outline: medium none;
    border: medium none;
    float: right;
    display: block;
    border-radius: 7px;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 17px;
    height: 35px;
    color: #FFF;
    background: linear-gradient(to bottom, #FF8F00 0%, #FF7002 51%, #FF7002 100%) repeat scroll 0% 0% transparent;
}

  .button_support {
    cursor: pointer;
    outline: medium none;
    border: medium none;
    float: left;
    display: block;
    border-radius: 7px;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 17px;
    height: 35px;
    color: #FFF;
    background: linear-gradient(to bottom, #FF8F00 0%, #FF7002 51%, #FF7002 100%) repeat scroll 0% 0% transparent;
}

.menu ul li {
  font-size: 15px;
}
  .bg-inner {
    width: 100%;
    height: 250px;
    background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_350,w_795/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#464646;
  }

.bg2 {
    display: block;
}

 .bg {
  height: 315px;
    background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_350,w_795/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);
  }

  .social-bar {
  float: left;
  margin-top: 2px;
  margin-right: 24px;
}

}


@media only screen and (max-width: 675px){

  .dop-block {
    display: none;
  }

  .search_menu_block {
    width: 65%;
    float: right;
  }

  .header {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .search-device {
    display: block;
    float: left;
    width: 99%;
    margin-bottom: 5px;
  }

  #nextbutton {
    right: 12px;
  }

  #prewbutton {
    left: 12px;
  }

  #slider{ 
    height: 240px;
    position:relative;
  }

  .bg-inner {
    width: 100%;
    height: 250px;
    background-image: url(http://res.cloudinary.com/hrltiizbo/image/upload/c_thumb,g_north,h_250,w_795/a_0/v1449181489/shutterstock_144639305_multi_ethnic_crowd_hands_hi_fbltsn.jpg);
    background-position: bottom bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#464646;
  }

  .button_subscribe {
    float: right;
  }

  .search_menu_block {
    width: 60%;
    float: left;
  }

  .slideshow-h2 {
    font-size: 18px;
  }

  .slide h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .text-block-color-device {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;

  }

    .text-block-color-device-index {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;

  }

    .text-block-color-device1 {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;
    margin-top: -10px;
  }


    #color-text2 {
    font-size: 20px;
  }

  .footer-block-left {
    float: none;
    margin: 0 auto;
  }

  .text-block-color2 {
    margin-left: -111px;
  }

  .footer-block-right {
    float: none;
    margin: 0 auto;
  }

  .synaccord {
    font-size: 42px;
  }

  .logotip_text {
    font-size: 10px;
  }

  #color-text3 {
    font-size: 20px;
  }

  .text-block-color3 p {
    font-size: 20px;
  }

  #color-text {
    font-size: 24px;
  }
  #color-text-body {
    font-size: 20px;
  }
  #color-text-body1 {
    font-size: 20px;
  }
  #color-text-body2 {
    font-size: 20px;
  }


  .text-block-color p{
    font-size: 12px;
  }

  .search_button {
    width: 100%;
    float: none;
    margin-right: 5px;
  }

  .support_button {
    width: 100%;
    float: none;
    margin-right: 5px;
  }

  .expert_button {
    width: 100%;
    float: none;
    margin-right: 5px;
  }

  .social-bar {
  margin-top: 0px;
  margin-right: 5px;
  }

  .pledge_button {

  }

  .search-class {
    margin-left: 0px;
    float: left;
  
    height: 32px;
  }

  .political-class {
  
  
    height: 32px;
  }

  .button_subscribe {
    padding: 5px 5px;
    font-size: 18px;
    margin-left: 0px;
  }


  .search_button {
    display: none;
  }

  .support_button {
    display: none;
  }
  .pledge_button {
  
  }
  .social-bar {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  }
}
@media only screen and (max-width: 620px){

.h2 {
  font-size: 27px;
  text-align: left;
}

.item-wrapper {
  width: 960px;
  margin: 0 auto;
}

.item-textaria {
  width: 96.1%;
  padding: 5px;
  outline: none;
  height: 200px;
  border-radius: 7px;
  border: 1px solid #A6A3AF;
  padding-left: 10px;
  font-size: 16px;
}

.item-wrapp {
  overflow: hidden;
}

.comments {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-forms {
  width: 97%;
  margin-right: 20px;
  float: none;
  margin-bottom: 10px;
}

.item-forms1 {
  width: 97%;
  margin-right: 20px;
  float: none;
  margin-bottom: 10px;
}

.item-last-forms {
  width: 97%;
  margin-right: 0px;
  float: none;
}

.item-label-forms {
  display: block;
  color: #4D33A1;
  font-size: 16px;
  font-weight: bold;
}
.item-label {
  display: block;
  color: #4D33A1;
  font-size: 16px;
    font-weight: bold;
}
.input-item {
  width: 100%;
  outline: medium none;
  border-radius: 7px;
  border: 1px solid #A6A3AF;
  padding-left: 7px;
  height: 39px;
  padding-left: 10px;
  font-size: 16px;
}

.button-item {
  cursor: pointer;
  outline: medium none;
  border: medium none;
  display: block;
  border-radius: 7px;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 24px;
  height: 41px;
  color: #FFF;
  background: linear-gradient(to bottom, #FF8F00 0%, #FF7002 51%, #FF7002 100%) repeat scroll 0% 0% transparent;
}

  .text-block-color p{
    font-size: 10px;
  }

    .social-bar {
    float: left;
    margin-top: 2px;
    margin-right: 0px;
  }

}

@media only screen and (max-width: 500px){

  #slider{ 
    height: 240px;
    position:relative;
  }

  .conteiner-inner p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #p-title {
    font-size: 24px;
  }

  .slide img {
    width: 280px;
  }

  #h2 {
    font-size: 24px;
  }

  .slideshow-h2 {
    font-size: 18px;
  }

  .slide h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .text-block-color-device {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;
  
  }


  .text-block-color-device1 {
    display: block;
    background-color: rgba(20, 4, 71, 0.8);
    padding: 10px 10px 10px 10px;
    color:#fff;
  
  }


  .text-slideshow {
      margin: 15px auto 0px;
      font-size: 14px;
  }

  .text-block-color3 p {
      font-size: 16px;
  }



  .logotip {
    width:100px;
  }

  .synaccord {
      font-size: 22px;
  }

  .logotip_text {
      font-size: 10px;
  }

  #color-text2 {
      font-size: 16px;
  }

  #color-text3 {
      font-size: 16px;
  }

  #color-text4 {
      font-size: 18px;
  }

  .text-block-color2 {
      margin-left: -90px;
  }

  .footer-block-left {
    font-size: 12px;
  }

  .footer-block-right {
    font-size: 12px;
  }

  .footer {
    text-align: center;
  }

  .search_button {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
  .support_button {
    width: 100%;
    float: none;
    margin-right: 0px;
  }

  .expert_button {
    width: 100%;
    float: none;
    margin-right: 0px;
  }


  .pledge_button {
  
  }

  .search-class {
    margin-left: 0px;
  
    height: 32px;
  }

  .political-class {
  
    height: 32px;
  }

  .button_subscribe {
    padding: 5px 5px;
    font-size: 18px;
    margin-left: 0px;
  }

  .search_menu_block {
    float: none;
    width: 100%;
  }

  .logo {
    width: 170px;
  }

  #pull{
    display:block;
    font-size:14px;
    font-weight:bold;
    color:#333;
    text-decoration:none;
    padding:10px 3%;
    width:98%;
    position:relative;
    text-align: left;
    outline: none;
    padding-left: 5px;
    padding-right: 7px;
  }

  #pull:after{
    background:url(../images/icon-menu-2.png) no-repeat;
    display:inline-block;
    position:absolute;
    width:30px;
    height:30px;
    top:12px;
    right:2px;
    content:"";
  }

  #color-text {
      font-size: 24px;
  }

  #color-text-body {
      font-size: 20px;
  }
  #color-text-body1 {
      font-size: 20px;
  }
  #color-text-body2 {
      font-size: 20px;
  }
  .text-block-color p{
      font-size: 9px;
  }

}

@media only screen and (max-width: 412px){

  .h2 {
    font-size: 20px;
  }

  .text {
    width: 94%;
  }
  .text-right {
    width: 94%;
  }
  .text-top-right {
    width: 94%;
  }
  .text-right-about {
    width: 94%;
  }
  .slide img {
    width: 250px;
  }

  #color-text {
    font-size: 22px;
    margin-bottom: 5px;
  }
  #color-text-body {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #color-text-body1 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #color-text-body2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .images-box3 {
    padding-bottom: 20px;
  }

  .text-block-color3 p {
      font-size: 14px;
  }

  .text-block-color p {
      font-size: 8px;
  }

  .text-slideshow {
      margin: 10px auto 0px;
      font-size: 14px;
  }

  #color-text2 {
      font-size: 13px;
  }

  .text-block-color2 {
      margin-left: -80px;
  }

  .slideshow-h2 {
    font-size: 18px;
  }

  .slide h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .search_button {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
  .support_button {
    width: 100%;
    float: none;
    margin-right: 0px;
  }

  .expert_button {
    width: 100%;
    float: none;
    margin-right: 0px;
  }

  .pledge_button {

    margin-right: 0px;
  }

  .search-class {
    margin-left: 0px;

    width: 190px;
    height: 32px;
  }

  .political-class {


    height: 32px;
    margin-right: 20px;
  }


  .button_subscribe {
    padding: 5px 5px;
    font-size: 18px;
    margin-left: 0px;
  }


  .social-bar {
    float: left;
    margin-top: 2px;
    margin-right: 0px;
  }
}


