.item-inputs          {

  left                :     0;
  position            :     relative;
  overflow            :     hidden;

  input[type="text"],
  input[type="url"],
  textarea            {
    width             :     100%;
    overflow          :     hidden;
    box-sizing        :     border-box;
  }

}

.syn-creator {
  .looking-up:not(.visible),
  .error:not(.visible),
  .url-title:not(.visible),
  .syn-edit-url:not(.visible),
  .url-editor.hide
  {
    display: none
  }

  [name="subject"] {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
  }

  [name="reference"] {
    border-radius: 0;
    border-bottom: none;
  }

  [name="description"] {
    border-radius: 0 0 4px 4px;
  }
}
