
.double-wide {
  display: block;
  width: 48.5%;
  position: relative;
  background-color: @syn-background-color;
  transition: all 0.5s linear;
  z-index: auto;
}

.double-wide.left{
  float: left;
  padding-left: 1%;
  padding-right: 0.5%;
}

.double-wide.right{
  float: right;
  padding-left: 0.5%;
  padding-right: 1%;
}

.double-wide.expanded{
    box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 90%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border-radius: 0.25em;
}

.double-wide.left.expanded {
      margin-right: -42.5%;
}

.double-wide.right.expanded {
      margin-left: -42.5%;
}

.double-wide.closed {
    width: 0;
}
