@import "lib/mixins";
@import "lib/colors";
@import "lib/typo";
@import "lib/screens";


@item-visual-gap:       0.5em;

.instruction {
  border: 1px solid #666;
  background-color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.instruction-text {
  background-color: inherit;
  position: relative; /* otherwise things that are relative will obscure this when they move around */
  padding: 2em;
}

.instruction-hint{
    display: none;
}

.instruction-hint.hint-open {
    display: block;
    position: absolute;
    left: calc(50% - 1.5em);
    font-size: 1rem;
    bottom: 0;

    &:hover {
     cursor: pointer;
    }

}

.instruction-hint.hint-closed {
    display: block;
    position: absolute;
    top: -1.25em;
    color: white;
    left: .25em;

    &:hover {
     cursor: pointer;
    }
}
