@import "lib/mixins";
@import "lib/colors";
@import "lib/typo";
@import "elements/row";

.item {
  border: 1px solid #666;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px 0 0 6px;
  border-right: none;
  padding-right: 0px;
}

.item-media {
  float                 :     left;
  width                 :     15%;
  max-width             :     150px;
  margin-right          :     10px
}

.item-text {
  padding: 10px;
  padding-bottom: 0
}

.item-truncatable {
  .word.hide {
    display: none
  }
  margin-top: -15.5px;
  margin-left: -10px;

}

.item-truncatable.expand {
  .word.hide {
    display: inline
  }

  div:empty {
    height: 1.5em;
  }
}

.item-subject {
  margin: 0;
  // margin-top: -14.5px;
  margin-left: 10px;
  text-align: left;
}

blockquote {
  color : red
}

.item-subject a {
  color : #000;
}

.item-description {
  .pre-text();
}

.item-buttons           {
  float                 :     right;
  text-align            :     right;
  padding-left          :     1em;
  text-align            :     right;
  padding               :     10px;
  margin-top            :     -10px;
  padding-right         :     5px;

}

.item-hidden {
  display : none
}
