@import "lib/mixins";
@import "lib/colors";
@import "lib/typo";
@import "elements/row";
@import "lib/screens";


@item-visual-gap:       0.5em;

.item {
  border: 1px solid #666;
  margin-top: 0px;
  padding: @item-visual-gap 0 @item-visual-gap @item-visual-gap;
  border-right: none;
  margin-right: -1px; /*border on top of border*/
  margin-bottom: -2px; /*border on top of border */
}

/**
.item {
  @media (max-width: @screen-phone) {
    padding: 10px 0px 5px 5px;
  } 
}
**/

.item-media {
  float                 :     left;
  width                 :     20%;
  max-width             :     150px;
  margin-right          :     @item-visual-gap; 
  padding-top           :     0.13em; /** because font oswald seems to have space above **/
  padding-bottom        :     @item-visual-gap;
}

.item-text {
  padding: 0;
}

.item-truncatable {
  .word.hide {
    display: none
  }
  margin: 0;
}

.item-truncatable.expand {
  .word.hide {
    display: inline
  }

  div:empty {
    height: 1.5em;
  }
}

.item-subject {
  margin: 0;
  text-align: left;
  font-height: 1.75vh;
  padding: 0 0 @item-visual-gap 0;
}

blockquote {
  color : red
}

.item-subject a {
  color : #000;
}

.item-description {
  .pre-text();
}

.item-buttons           {
  float                 :     right;
  text-align            :     right;
  margin-top            :     calc( 2px - @item-visual-gap );

}

.item-hidden {
  display : none
}

.item-tendency {
  text-align: right;
  font-style: italic;
  font-size: 80%;
}

.item-reference {
  padding: 0;
  margin: 0;
  padding-bottom: calc( @item-visual-gap * 0.5 );
}