/** ____________________________________________________________________________


              /$$                                           /$$
              | $$                                          | $$
              | $$  /$$$$$$  /$$   /$$  /$$$$$$  /$$   /$$ /$$$$$$
              | $$ |____  $$| $$  | $$ /$$__  $$| $$  | $$|_  $$_/
              | $$  /$$$$$$$| $$  | $$| $$  \ $$| $$  | $$  | $$
              | $$ /$$__  $$| $$  | $$| $$  | $$| $$  | $$  | $$ /$$
              | $$|  $$$$$$$|  $$$$$$$|  $$$$$$/|  $$$$$$/  |  $$$$/
              |__/ \_______/ \____  $$ \______/  \______/    \___/
                            /$$  | $$
                           |  $$$$$$/
                            \______/


    ____________________________________________________________________________
**/

@import "lib/screens";

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  padding: 10px;
  padding-top: calc(@syn-topbar-height + 10px);
  text-align: left;

  @media (min-width: @screen-desktop) {
    width: @screen-desktop;
    margin: auto;
  }
}

@import "top-bar";
@import "footer";

/**-------------------------------------------------------------// layout     */
