/** ____________________________________________________________________________


Civil Pursuit Style

    ____________________________________________________________________________
**/

@import "lib/var";

.civil-pursuit-logo-image {
    margin: 0;
    font-size: 2em;
    font-family: synaccordLogo;
    display: inline-block;
    vertical-align: middle;
}

.civil-pursuit-logo-image p {
    margin: 0;
    font-size: 2em;
    font-family: synaccordLogo;
    display: inline;
    vertical-align: middle;
    color: darkslategray;
}

.civil-pursuit-logo-image img{
    display: inline;
    vertical-align: middle;
}

.civil-pursuit-logo-text sub {
    font-size: 0.75rem;
    padding-left: 0.5rem;
}


.odg-intro{
    display: block;
    background-color: white;
    padding: 0;
    margin: 0;
}

.odg-main-box{
    background-color: white;
}

.odg-main-box-text{
    font-size: 2em;

}

.odg-main-box-tag-line{
    font-size: 3em;

}
.odg-main-box-description{
    font-size: 1em;

}
.odg-intro-tag-line{
    color: white;
    background-color: black;
    font-size: 1.5em;
    padding-bottom: 1em;
    text-align: center;
}

.odg-icon-box {
    font-size: 2em;
    border-width: 1px;
    border-color: mediumpurple;
}

.odg-icon-stack{
    background-color: white;
    color: @syn-purple-color;
    text-align: center;
}

.odg-icon-stack p{
    font-size: 1.75rem;
    padding-top: 1em;
    margin: 0;
}

.odg-trailer{
    color: black;
    text-align: right;
}