/** ____________________________________________________________________________


Civil Pursuit Style

    ____________________________________________________________________________
**/

@import "lib/var";

.civil-pursuit-logo-image {
    margin: 0;
    font-size: 4.5rem;
    font-family: synaccordLogo;
    display: inline-block;
    vertical-align: middle;
}

.civil-pursuit-logo-image p {
    margin: 0;
    font-size: 2em;
    font-family: synaccordLogo;
    display: inline;
    vertical-align: middle;
    color: darkslategray;
}

.civil-pursuit-logo-image img{
    display: inline;
    vertical-align: middle;
}

.civil-pursuit-logo-imgae sub {
    font-size: 0.75rem;
    padding-left: 0.5rem;
}


.odg-intro{
    display: block;
    background-color: white;
    padding: 0;
    margin: 0;
}

.odg-main-box{
    background-color: white;
}

.odg-main-box.childhorizontal {
    vertical-align: top;
}

.odg-main-box-text{
    font-size: 2em;
    padding: 1rem;

}

.odg-main-box-tag-line{
    font-size: 2.5rem;
    padding-bottom: 1em;
    padding-top: 1em;

}
.odg-main-box-description{
    font-size: 1em;

}
.odg-intro-tag-line{
    color: white;
    background-color: black;
    font-size: 2em;
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: center;
}

.odg-icon-box {
    font-size: 2em;
    border-width: 1px;
    border-color: mediumpurple;
}

.odg-icon-stack{
    background-color: white;
    color: @syn-purple-color;
    text-align: center;
}

.odg-icon-stack.vertical {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 3px solid black;
    border-radius: 6px;
    margin: 1rem;
}

.odg-icon-stack p{
    font-size: 1.75rem;
    padding-top: 1em;
    margin: 0;
    min-height: 4em; // so they will all have the same box height
    color: darkslategray;
}

.odg-trailer{
    color: black;
    text-align: right;
}