/** ____________________________________________________________________________


                                                       /$$
                                                      | $$
                /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$ | $$
               /$$__  $$ |____  $$| $$__  $$ /$$__  $$| $$
              | $$  \ $$  /$$$$$$$| $$  \ $$| $$$$$$$$| $$
              | $$  | $$ /$$__  $$| $$  | $$| $$_____/| $$
              | $$$$$$$/|  $$$$$$$| $$  | $$|  $$$$$$$| $$
              | $$____/  \_______/|__/  |__/ \_______/|__/
              | $$
              | $$
              |__/


    ____________________________________________________________________________
**/

@import "lib/mixins";
@import "elements/row";

@panel-heading-bg: #39683C;
@panel-border-color: #666;

.syn-panel {
  border: 1px solid @panel-border-color;
/**  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.14); **/
/**  border-radius:      6px 0 0 6px;  **/
/**  margin-bottom : 10px **/
 background-color: inherit;
}

.syn-panel.vs-title{
  border: none;
}

.syn-panel-gutter{
  padding: 10px;
}
.syn-panel-gutter.vs-title{
  padding: 0;
}

.syn-panel-heading {
  text-align: center;
  .syn-row();
  align-items: center;
  background:         @panel-heading-bg;
  .gradient           (rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
  color:              #fff;
  text-align:         center;
  vertical-align:     baseline;
/**  border-radius:      6px 0 0 6px; **/

  h4 {
    text-align: center;
    flex-grow: 3;
  }

  h4, i.fa-plus {
    padding: 0 10px;
  }

  i.fa-plus {
    cursor: pointer;
  }

  a {
    color: #fff;

    i.fa {
      display: none;
    }
  }

}

.syn-panel-heading.no-heading{
  display: none;
}

.syn-panel-heading.vs-title{  // if titleized don't show the heading
  background: white;
  h4 {
    font-size: 1em;
    color: darkslategray;
    padding-left: 0.5em;
    text-align: left
  }
}

.syn-panel.focused .syn-panel-heading a i.fa {
  display: inline
}

.syn-panel-body {
  background-color: inherit;
  section, div, article {
    background-color: inherit;
  }
}

// manage the overflow so that things render quicker - and without scroll bars
section#syn-panel-qsort-harmony{
  overflow: visible;
}

section.syn-panel-body.vs-title{
  overflow: hidden;
}

.item-harmony{
  overflow: visible;
}

.instruction{
  overflow:visible;
}
// .syn-panel + .syn-panel {
//   margin-top: 10px
// }

/**-------------------------------------------------------------// panel       */
