@import "lib/main";
@import "lib/screens";
@import "lib/typo";
@import "lib/var";


.promote-item-button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.item-promote {
  background-color: @syn-background-color;
  border: 1px solid #666;
  border-right : none;
  padding-top: 10px;

  textarea {
    height: 120px;
  }
}

.promote-column-left {
  display: block;
  float: left;
  padding-left: 1%;
  padding-right: 0.5%;
  width: 48.5%;
  position: relative;
  background-color: @syn-background-color;
  transition: all 0.5s linear;
}

.promote-column-left.expanded {
      box-shadow=  0 0 10px 10px rgba(0, 0, 0, 0.3);
      margin-right= -41.5%;
      z-index= 10;
      width= 90%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-right: 1%;
      border-radius: .25em;
}

.promote-column-right {
  display: block;
  float: right;
  padding-left: 0.5%;
  padding-right: 1%;
  width: 48.5%;
  position: relative;
  background-color: @syn-background-color;
  transition: all 0.5s linear;
}

.promote-column-right.expanded {
      box-shadow=  0 0 10px 10px rgba(0, 0, 0, 0.3);
      margin-left= -41.5%;
      z-index= 10;
      width= 90%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 1%;
      border-radius: .25em;
}

.promote-sliders {
  background-color: @syn-background-color;
  .gutter-top();
}

.promote-left {
  background-color: @syn-background-color;
  .gutter-left();

  @media (max-width: @screen-phone) {
    .gutter-right();
    .gutter-bottom();
  }

  @media (min-width: @screen-phone) {
    .gutter-right-adjust();
  }

  .promote-sliders {
    .gutter-right-adjust();
  }
}

.promote-right {
  background-color: @syn-background-color;
  .gutter-right();

  @media (max-width: @screen-phone) {
    .gutter-left();
    .gutter-bottom();
  }

  @media (min-width: @screen-phone) {
    .gutter-left-adjust();
  }

  .promote-sliders {
    .gutter-right();

    @media (min-width: @screen-phone) {
      .gutter-left-adjust();
    }
  }
}

.promote-description {
  background-color: @syn-background-color;
  .pre-text();
}
