@import "lib/main";
@import "lib/screens";
@import "lib/typo";
@import "lib/var";


.promote-item-button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0;
}


.item-promote {
  background-color: @syn-background-color;
  border: 1px solid #666;
  border-right : none;
  padding-top: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;

  textarea {
    height: 120px;
  }
}

.promote-sliders {
  background-color: @syn-background-color;
  position: relative;
  .gutter-top();
}

.promote-left {
  background-color: @syn-background-color;
  position: relative;

  @media (max-width: @screen-phone) {
    .gutter-bottom();
  }

  .promote-sliders {
    .gutter-right-adjust();
  }
}

.promote-right {
  background-color: @syn-background-color;
  position: relative;

  @media (max-width: @screen-phone) {
    .gutter-bottom();
  }

  .promote-sliders {
    .gutter-right();

  }
}

.promote-description {
  background-color: @syn-background-color;
  position: relative;
  .pre-text();
}
