/** ____________________________________________________________________________


         /$$                               /$$
        | $$                              | $$
       /$$$$$$    /$$$$$$   /$$$$$$       | $$$$$$$   /$$$$$$   /$$$$$$
      |_  $$_/   /$$__  $$ /$$__  $$      | $$__  $$ |____  $$ /$$__  $$
        | $$    | $$  \ $$| $$  \ $$      | $$  \ $$  /$$$$$$$| $$  \__/
        | $$ /$$| $$  | $$| $$  | $$      | $$  | $$ /$$__  $$| $$
        |  $$$$/|  $$$$$$/| $$$$$$$/      | $$$$$$$/|  $$$$$$$| $$
         \___/   \______/ | $$____/       |_______/  \_______/|__/
                          | $$
                          | $$
                          |__/

    ____________________________________________________________________________
**/

@import (reference) "lib/mixins";
@import (reference) "lib/screens";
@import "lib/var";
@import "elements/button";


.syn-top_bar {
  
  width:                      100%;
  margin:                     0;
  padding:                    0;
  //height:                     60px;
  line-height:                1.45em;
  -webkit-transform-style:    preserve-3d;
  -moz-transform-style:       preserve-3d;
  transform-style:            preserve-3d;
}

.syn-top_bar-info{
  height: 100%;
}

.syn-top_bar-wrapper {
  position                    :       fixed;
  top                         :       0;
  left                        :       0;
  right: 0;
  z-index                     :       2;
  background-color: rgba(255,255,255,0.9);
  margin: 0;
  //height: 100px;
  //@media (max-width: @screen-phone) {
  //  height: 60px;
  //}
}

.syn-top_bar-wrapper-inner {
  max-width: 1780px;
  margin: auto;
  border-bottom: 1px solid #444;
}

.syn-top_bar-left {
  height: 100%;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.syn-top_bar-center {
  height: 100%;
  margin-top: 5px;
  font-size: 3rem;
  font-family: 'Oswald';
  padding-bottom: 12px; /** why can't I just vertically center it **/
  margin-left: -10%;  /** why isn't this box dead center on the screen **/
  display: inline-block;
  

  span {
    padding-bottom: inherit;
  }

  @media (max-width: @screen-tablet) {
    display: none;
  }
}

.syn-top_bar-right {
  float: right;
  //border-left: 1px solid #ccc;
  height: 100%;
  @media (max-width: @screen-phone) {
    border-left: none;
  }

  button {
    .button.shy();
    .cursor-pointer();
    font-weight: bold;
    padding-left: @syn-gutter * 2;
    padding-right: @syn-gutter * 2;
    // border-left: 1px solid #ccc;
    height: 100%;
    margin: 0; 
  }

  // .syn-top_bar-online_now {
  //   border-left: 1px solid #ccc;
  //   padding: @syn-gutter;
  //   vertical-align: middle;
  // }
}

.syn-top_bar-beta {
  .button;
  background: #333;
  color: #fff;
  padding: @syn-gutter;
  margin-top: 0;
  margin-left: @syn-gutter;
  border-radius: 0;
  width: 100px;
  @media (max-width: @screen-phone) {
    display: none;
  }
}

.syn-top_bar-logo {
  font-family: 'SynaccordLogo';
  font-size: 3rem;
  color: darkslategray;
  height: 100%;
  display: inline-block;
  vertical-align: middle;

  @media (max-width: @screen-phone) {
    text-align: center;
  }

  sub {
        padding-left: 2px;
        font-family: 'sans-serif';
        font-size: .15rem;
        text-decoration: none;
        bottom: -1em;
      }

  p {
          font-size: inherit;
          text-decoration: none;
          color: darkslategray;
          display: inline-block;
          vertical-align: middle;

    }
}

.syn-top_bar-image{
  display: inline-block;
  vertical-align: middle;
}


.syn-top_bar-online_now {
  padding-left: @syn-gutter;
  padding-right: @syn-gutter;
}

.syn-top_bar-menu-item {
  display: table-cell;
  background-color: @syn-purple-color;
  width: 20%;
  vertical-align: middle;
  text-align: center;
  color: white;


  a, button {
    display: inline;
    color: white;
    font-weight: 600;
    border: none;
    background: @syn-purple-color;
    padding: 0;
    text-decoration: none;
    padding: .5em;
    width: 100%;
//    height: 100%;
    margin: 0;
    font-size: 1.25rem;
    

    &:hover {
      background-color: @syn-gold-color;
    }
  }

  &:hover {
    background-color: @syn-gold-color;

  }
}

.syn-top_bar-menu-row {
  .flex.row();
  .flex.space-between();
  display: table;
  width: 100%;
  background-color: @syn-purple-color;
  height: 40px;
  max-width: 962px; /** this should be calculated. It's 982 for the body width less 10 for padding on each side **/
  margin: auto;

  @media (max-width: @screen-phone) {
    display: none;
  }
}

.top_bar-hamburger {
  height: 100%;
  color: @syn-purple-color;
  font-size: 2.5rem;


  button:hover {  // on the smartphone, the hover (inherited from syn-top_bar-right) sticks to the button after it is pushed - so force it not to;
    background: inherit;
  }

  &.on {
    button, button:hover {
      background-color: @syn-purple-color !important;
      color: white !important;
    }
  }

  @media (min-width: @screen-phone) {
    display: none;
    /** do not show this on a desktop **/
  }
}

.top_bar-hamburger-menu{
  position: absolute;
  margin-top: 1rem;
  right: -100vw;
  box-sizing: border-box;
  outline: 1px solid #444;
  background: rgba(red(@syn-purple-color), green(@syn-purple-color), blue(@syn-purple-color), .95);
  box-shadow: 0 1rem 2rem 0 rgba(68,68,68,1);
  z-index: 3;
  font-size: 1.5rem;
  display: none;

  &.transitions {
      transition: all linear 250ms;
  }
  
  &.visible {
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: .5em 1em;
    list-style: none;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;

      i {
        width: 3em;
        text-align: center;
      }
    }

    button {
      text-align: center;
      border: none;
      background: inherit;
      text-decoration: none;
      padding: 0;
      i {
        width: 3em;
        text-align: center;
      }
      &:hover {
        background: rgba(red(@syn-gold-color), green(@syn-gold-color), blue(@syn-gold-color), .8);
      }
      span {
        &:hover {
          background: rgba(red(@syn-gold-color), green(@syn-gold-color), blue(@syn-gold-color), .8);
        }
      }
    }
  }
  li:hover {
    background: rgba(red(@syn-gold-color), green(@syn-gold-color), blue(@syn-gold-color), .8);
    cursor: pointer
  }
}

.logup-bar{
  display: block;
  width: 100%;
  text-align: center; 
  border: 1px solid #1a1a1a;
}

.logup-bar-center{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: @syn-gold-overlay;
}

.logup-bar-title{
  font-weight: bold;
  padding-right: 1em;
}

.logup-bar-input{
  display: inline-block;
  input {
    font-size: 1rem;
    padding: 0.1rem;
  }
}

.logup-bar-button{
  display: inline-block;
  button {
    font-size: 1rem;
    padding: 0.1rem;
  }
}

/*
.logup-bar-instruction{

}*/
/**-------------------------------------------------------------// top-bar    */
