#syn-training {
  position : absolute;
  background: rgba(0, 0, 0, .9);
  color: white;
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0 0 10px 15px rgba(0, 0, 0, .3);
  display :none;
  min-width: 200px;
  max-width: 95%;
  transition: all linear .75s;

  @media (min-width: 500px) {
    max-width : 500px
  }



  // @media (max-width: 400px) {
  //   width : 95%;
  // }

  &[data-loading="1"] {
    opacity: .5
  }
}

.syn-training-active-target {
  outline : 4px solid white;
  box-shadow: 0 0 10px 15px rgba(0, 0, 0, .3);
  z-index: 999
}

#syn-training.show {
  display: block
}

#syn-training-arrow {
  position : absolute;
  top : 400px;
  left : -100vh;
  color: white;
  padding: 0;
  line-height: 0;
  height: 20px;

  &::before {
    height: 0;
  }
}

#syn-training-arrow-small {
  position : absolute;
  top : 400px;
  left : -100vh;
  color: rgb(0, 0, 0);
}

.syn-training-close {
  float: right;
  cursor: pointer;
  opacity : .6;
  background : rgba(155, 155, 155, .3);
  padding: 5px;
  border-radius: 4px;
  color : #5BC0DE;

  &:hover{
    opacity: 1;
    background : rgba(155, 155, 155, .7);
  }
}
