.syn-votes-criteria-description {
	display: block;
		
}

.syn-votes-criteria-description.syn-hide {
  			display: none;
 }

.syn-vote-criteria-wrapper {
	display: table;
}

.syn-vote-criteria-inner {
	display: table-cell;
	vertical-align:	bottom;
	text-align:	left;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-right: .5em;
}