// Create Entry Feedback

textarea.form-control(
  placeholder       =   'Can you provide feedback that would encourage the author to create a statement that more people would unite around?',
  data-ng-show      =   'item.subject'
  data-ng-model     =   'item.$feedback')
