@import "var";

.promote-steps {
  text-align: center
}

.items-side-by-side {
  .side {
    padding: @syn-panel-gutter / 2;
    border: 1px solid #ccc;

    &.left-item {
      padding-right: 0 !important;
    }

    &.right-item {
    }

    @media (min-width: @screenSplit) {
      width: 50%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  input[type="range"] {
    width : 96%
  }

  .cirteria-wrapper {
    clear: both
  }

  .criteria-description {
    display: none
  }

}