.evaluator {

  .feedback-entry {
    min-height: 200px;
  }

  .hidden-sm {
  	.image img, .sliders input.slider {
	  	margin: auto
    }
    .subject, .description, .sliders {
      text-align:center
    }
  }
}
