/** ____________________________________________________________________________

          LAYOUT

    ============================================================================
**/

@import "var";

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  padding-top: @syn-topbar-height;
  text-align: left;

  @media (min-width: @screenDesktop) {
    width: @screenDesktop;
    margin: auto;
  }
}

/*
 *    Layout
 */

#screens {
  position: absolute;
  top: -1000px
}

#screen-phone {
  width: @screenPhone
}

#screen-tablet {
  width: @screenTablet
}

.row {
  // border: 3px dashed black;
  // border-radius: 6px;
  clear: both;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.split(@percent) {
  width:                  @percent;
  float:                  left;
  -webkit-box-sizing:     border-box;
  -moz-box-sizing:        border-box;
  box-sizing:             border-box;
  height:                 100%;
}

.scaffolding (@screen, @dim, @counter: 100) when (@counter > 0) {
  .@{screen}-@{counter} {
    @media (min-width: @dim) {
      .split(@counter + 0%);
    }
  }

  .scaffolding(@screen, @dim, @counter - 5);
}

.scaffolding(phone, @screenPhone);
.scaffolding(tablet, @screenTablet);
