/**
 *    __________________________________________________________________________
 *
 *    Synapp Style Sheet / Layout
 *    ------------------   ------
 *
 *    @abstract
 *    Layout
 *
 *    @author   francois
 *
 *    __________________________________________________________________________
 *  
*/

@import "mixins/gradient";

body {
	.gradient(#fff, #eee);
}

/*
 * Top bar
 */

[role='header'] {
	position: fixed;
	top: 0;
	left:0 ;
	width: 100%;
	z-index: 9999;
	// background: rgb(255, 255, 255);

	/** Logo **/

	.logo {
		float: left
	}

	/** Beta image **/

	.beta {
		position: fixed;
		top: 0;
		left: calc((100% / 2.1));
	}

	/** Icons **/

	.pull-right {
		padding: 4px
	}

	.col-xs-12 {
		background: rgba(255, 255, 255, 1);
	}
}

/*
 * Main
 */

[role='main'] {
 	margin-top: 80px;

 	#intro {
 		margin-top: 20px;
 		margin-bottom: 40px;
 	}
}

/*
 * Footer
 */

footer {
  	text-align: center;
}
