@import "var";


.clear {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
    margin: 0;
    padding: 0
  }
}

/*
 *    Links
 */

a {
  color: @syn-primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

/*
 *    Layout
 */

#screens {
  position: absolute;
  top: -1000px
}

#screen-phone {
  width: @screenPhone
}

#screen-tablet {
  width: @screenTablet
}

.phone-50 {
  @media (min-width: @screenPhone) {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.tablet-50 {
  @media (min-width: @screenTablet) {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}


/*
 *    Force cursor to be a pointer
 */

.cursor-pointer {
  cursor: pointer;
}

/*
 *    Hide
 */

.hide {
  display: none
}


.alert {
  display: none
}

.is-in {
  display: none
}

.vex-dialog-button-primary {
  background: @syn-primary-color !important
}