@import "var";


.clear {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
    margin: 0;
    padding: 0
  }
}

/*
 *    Links
 */

a {
  color: @syn-primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}




/*
 *    Force cursor to be a pointer
 */

.cursor-pointer {
  cursor: pointer;
}

/*
 *    Hide
 */

.hide {
  display: none
}


.alert {
  display: none
}

.is-in {
  display: none
}

.vex-dialog-button-primary {
  background: @syn-primary-color !important
}

/*
 *  Colors
 */

.block {
  &.info {
    background:       @syn-info-color;
    border-color:     @syn-info-color;
    color:            #fff
  }
  &.success {
    background:       @syn-success-color;
    border-color:     @syn-success-color;
    color:            #fff
  }
  &.warning {
    background:       @syn-warning-color;
    border-color:     @syn-warning-color;
    color:            #fff
  }
  &.error {
    background:       @syn-error-color;
    border-color:     @syn-error-color;
    color:            #fff
  }
  &.medium {
    font-size:        125%;
    line-height:      1.3em;
    padding:          .5em
  }
  &.large {
    font-size:        175%;
    line-height:      1.3em;
    padding:          .5em
  }
  &.huge {
    font-size:        250%;
    line-height:      1.3em;
    padding:          .5em
  }
}

/*
 *  Text
 */

.text-center {
  text-align: center
}

.hidden-word {
  color: red !important
}
