@import "var";


.clear {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
    margin: 0;
    padding: 0
  }
}

/*
 *    Links
 */

a {
  color: @syn-primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}




/*
 *    Force cursor to be a pointer
 */

.cursor-pointer {
  cursor: pointer;
}

/*
 *    Hide
 */

.hide {
  display: none
}


.alert {
  display: none
}

.is-in {
  display: none
}

.vex-dialog-button-primary {
  background: @syn-primary-color !important
}

/*
 *  Colors
 */

.block-danger {
  background:       @syn-danger-color;
  border-color:     @syn-danger-color;
  color:            #fff
}

.block-warning {
  background:       @syn-warning-color;
  border-color:     @syn-warning-color;
  color:            #fff
}

/*
 *  Text
 */

.text-center {
  text-align: center
}
