/**
 *    __________________________________________________________________________
 *
 *    Synapp Style Sheet / Navigator
 *    ------------------   ---------
 *
 *    @abstract
 *    Navigator + Panel
 *
 *    @author   francois
 *
 *    __________________________________________________________________________
 *  
*/

@import "mixins/gradient";

@panel-heading-bg: #39683C;
@panel-border-color: #666;

.box-shadow(@x; @z; @blur; @spread; @r; @g; @b; @a) {
  -webkit-box-shadow: @x @z @blur @spread rgba(@r, @g, @b, @a);
  -moz-box-shadow: @x @z @blur @spread rgba(@r, @g, @b, @a);
  box-shadow: @x @z @blur @spread rgba(@r, @g, @b, @a);
}

.card() {
  .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);
}

.panel {

  border-color: @panel-border-color;
  // .gradient(#fff, #ccc);

  .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);


  .panel-heading {
    background: @panel-heading-bg;
    .gradient(#333, #000);
    color: #fff;
    text-align: center;
  }

  .panel-body {
    padding: 0;

    .items {
      .item {
        background: #fff;
        border: 1px solid @panel-border-color;
        margin: 10px;
        border-radius: 4px;
        .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);
        margin-right: 0;
        border-right: none;

        .box {
          overflow: hidden;

          .item-main {

            max-height: 125px;
            overflow: hidden;

             @media (max-width: 440px) {
              max-height: 216px
            }

            @media (min-width: 440px) and (max-width: 768px) {
              max-height: 172px
            }

            @media (min-width: 992px) {
              max-height: 172px
            }

            @media (min-width: 1200px) {
              max-height: 216px
            }

            .box-promoted {
              width: 100px
            }

            h4 {
              font-size: 25px;
              margin-top: 0px;
            }

            .box-description {
              font-size: 16px;
            }
           
            .entry-title {
              padding: 0 20px 20px 20px;
            } 
          }
        }
        .collapsers {
          .evaluator, .details, .editor {
            border: 1px solid @panel-border-color;
            border-right: none;
            margin: 10px;
            margin-right: 0;
            border-radius: 4px;
            .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);
            margin-bottom: 50px;
          }

          .toggle-arrow {
            i {
              display: block;
              margin-top: -30px;

              @media (max-width: 768px) {
                margin-top: 0
              }
            }
          }
        }
      }
    }
  }

  .panel {
    margin: 10px;
    margin-right: 0;
    border-right: none;
    // background: rgba(0, 0, 0, .10);
  }

  // .panel-collapse {
  //   padding-right: 0;
  // }

  // .panel {
  //   background: #fff;

  //   .panel {
  //     margin-left: 30px;
  //   }
  // }

  // .split-view + .split-view .panel {
  //   margin-left: 0;
  // }

  // /* The "no items yet" message box */
  // .no-items {
  //   text-align: center;
  //   padding: 8px;
  // }

  // ul {
  //   padding-left: 0;
  //   margin-right: 0;

  //   li {
  //     list-style-type: none;
  //   }
  // }

  // .is-author {
  //   padding: 0 10px;
  //   opacity: .5;
  //   display: none;

  //   &+ div {
  //     // margin-top: -56px
  //     margin-top: 13px;
  //     margin-left: 10px;
  //   }
  // }

  // .box-wrapper {
  //   border: 1px solid #eee
  // }

  // .toggle-item-wrapper {
  //   //border: 1px solid #eee;
  // }

  // .arrow {
  //   border-top: 1px solid #eee;
  // }

  // .nested-panels .panel {
  //   margin-bottom: 20px;
  // }

  // .box {

  //   border-bottom: 1px solid #eee;

  //   padding-bottom: 16px;

  //   background: #fff;

  //   img.img-responsive {
  //     margin-bottom: 10px
  //   }

  

  //   .box-description {
  //     padding: 20px;
  //     font-size: 16px;
  //   }

 

  //   .box-promoted {
  //     padding: 10px
  //   }

  //   .pull-right {
  //     width: 120px
  //   }
  // }

  .split-view {

    li:nth-last-child(1) {
      text-align: right
    }
  }

  .split-view .box h4 {
    clear: both;
    padding-top: 28px;
    margin-right: 0;
  }

  /** YouTube Responsive - http://avexdesigns.com/responsive-youtube-embed */
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.animate-show {
  // -webkit-transform: scale(1, 1);
  // -webkit-transition-duration: 500ms;
  // -webkit-transition-timing-function: ease-out;

  opacity: 1;
  padding-top: 0;
  transition: all 0.5s ease-in-out;
}

// .animate-show.ng-hide-add.ng-hide-add-active,
// .animate-show.ng-hide-remove.ng-hide-remove-active {
  
// }

.animate-show.ng-hide {
  // webkit-transform: scale(1.2, 1.2);
  //   -webkit-transition-duration: 500ms;
  //   -webkit-transition-timing-function: ease-out;
  opacity: 0;
  padding-top: -250px !important;
  transition: all 0.5s ease-in-out;
}


// .animate-show .item-media {
//   border: 5px solid red;
// }

// .animate-show.ng-hide {
//   height: 0;
//   transition: height 0.75s ease-out;
// }

// .animate-show.ng-hide,
// .animate-show.ng-hide input,
// .animate-show.ng-hide h1,
// .animate-show.ng-hide h2,
// .animate-show.ng-hide h3,
// .animate-show.ng-hide h4,
// .animate-show.ng-hide h5,
// .animate-show.ng-hide a
//  {
//     // max-height: 0;
//     // // opacity: 0;
//     // // transition:opacity 2s ease-out;
//     // transition: max-height 0.75s ease-out;
//     // overflow: auto;
//   font-size: 0px !important;
//   transition: font-size 0.75s ease-out;
// }

// .animate-show.ng-hide .item-media {
//   width: 0;
//   height: 0;
//   transition-property: height, width;
//   transition-duration: 0.75s;
// }

// .animate-show:not(.ng-hide)
// {
//   transition: height 0.75s ease-in;
//     // max-height: 100vh;
//     // overflow: auto;
//     // transition: max-height 1.25s ease-in;
//     // opacity: 1;
//     // transition:opacity 1.25s ease-in;
// }

.modal {
  top: 200px !important;
}
