/**
 *    __________________________________________________________________________
 *
 *    Synapp Style Sheet / Navigator
 *    ------------------   ---------
 *
 *    @abstract
 *    Navigator + Panel
 *
 *    @author   francois
 *
 *    __________________________________________________________________________
 *  
*/

/** ____________________________________________________________________________

          IMPORTS
    ============================================================================
**/

@import "mixins/gradient";
@import "mixins/box-shadow";

/** ____________________________________________________________________________

          VARIABLES
    ============================================================================
**/

@panel-heading-bg: #39683C;
@panel-border-color: #666;

/** ____________________________________________________________________________

          LAYOUT
    ============================================================================
**/

.box {

  overflow: hidden;

  input {
    width: 50% !important;
    border: none;
  }

  textarea {
    border: none;
    width: 50% !important
  }

  .drop-box {
    min-height: 230px !important;
    margin-left: -10px !important;
    padding-top: 55px !important
  }

  .item-media-wrapper {
    width: 35%;
    float: left;
    padding: @syn-padding;
    text-align: center !important;

    @media (min-width: 760px) {
      margin-right: 10px;
    }

    .item-media {

      /** YouTube Responsive - http://avexdesigns.com/responsive-youtube-embed */
      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;

        iframe, object, embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .box-buttons {
    text-align: right;

    .btn {
      width: 100px;

      @media (max-width: 600px) {
        font-size: 80%;
        width: 70px;
        border-radius: 10px;
      }
    }

    div {
      padding: @syn-padding;

      @media (max-width: 600px) {
        padding: 2px;
        font-size: 80%;
      }
    }
  }

  .item-text {
    padding-left: @syn-padding;
    border: 1px solid #fff;

    @media (min-width: 901px) {
      padding-bottom: 200px;
      margin-bottom: -200px;
      padding-left: 0;
    }

    @media (max-width: 900px) {
      padding-bottom: 150px;
      margin-bottom: -150px;
      padding-left: 0;
    }

    @media (max-width: 620px) {
      padding-bottom: 130px;
      margin-bottom: -130px;
      padding-left: 0;
    }

    @media (max-width: 320px) {
      padding-bottom: 200px;
      margin-bottom: -200px;
      padding-left: 0;
    }

    &.truncated {
      // border-color: green !important;
      // margin-bottom: -2em
    }

    .item-title, input.subject {
      font-size: 24px;
      word-wrap: break-word;
      // padding-left: @syn-padding;

      @media (max-width: 800px) {
        font-size: 22px
      }
      
      @media (max-width: 700px) {
        font-size: 20px
      }

      @media (max-width: 600px) {
        font-size: 18px
      }

      @media (max-width: 500px) {
        font-size: 16px
      }
    }

    .box-description {
      font-size: 16px;
      margin-top: 0 !important;
      padding: 10px;
      padding-top: 0 !important;

      @media (max-width: 500px) {
        font-size: 14px
      }
    }

    .entry-title {
      margin-top: 15px
    }
  }
}

.panel {

  border-color: @panel-border-color;
  // .gradient(#fff, #ccc);

  .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);

  .panel-heading {
    background: @panel-heading-bg;
    .gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
    color: #fff;
    text-align: center;
  }

  .panel-body {
    
    padding: 0;

    .items {
      .item {
       
        background:     #fff;
        border:         1px solid @panel-border-color;
        margin:         @syn-padding;
        border-radius:  4px;
        .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);
        margin-right:   0;
        border-right:   none;

        .collapsers {
          .evaluator, .details, .editor {
            border: 1px solid @panel-border-color;
            border-right: none;
            margin-left: @syn-padding;
            margin-right: 0;
            border-radius: 4px;
            .box-shadow(-2px; 2px; 3px; 3px; 0; 0; 0; 0.14);

            &.is-shown, &.is-showing {
              margin-bottom: 50px;
            }
          }

          .toggle-arrow {
            // .gradient (rgba(255, 255, 255, .2); rgba(255, 255, 255, 1));
            // border: 1px solid black;
            i {
              display: block;
              width: 30px;
              margin: auto;
              margin-top: -30px;

              @media (max-width: 768px) {
                margin-top: 0
              }
            }
          }

          .children {
              .split-view {
                li:nth-last-child(1) {
                  text-align: right
                }

                .box-buttons {

                  @media (max-width: 480px) {
                    float: none !important;
                    width: 100%;
                    clear: both;
                    text-align: center;
                  }

                  button {
                    width: 70px !important
                  }
                }

                .toggle-arrow {
                  display: none
                }

                .item-title {
                  @media (max-width: 900px) {
                    clear: left !important;
                    padding: 10px 10px 0 10px;
                  }
                }

                .item-text {
                  @media (max-width: 900px) {
                    clear: left !important;
                  }
                }

                .item-media-wrapper {
                  @media (max-width: 900px) {
                    width: 100%
                  }
                }

                // .item-main {
                //   max-height: 400px !important;
                // }
              }
          }
        }
        .readmore {
          display: none;
          // margin-top: -2em
        }
      }
    }
  }

  .panel {
    margin: @syn-padding;
    margin-right: 0;
    border-right: none;
  }
  
}

.animate-show {
  // -webkit-transform: scale(1, 1);
  // -webkit-transition-duration: 500ms;
  // -webkit-transition-timing-function: ease-out;

  opacity: 1;
  padding-top: 0;
  transition: all 0.5s ease-in-out;
}

// .animate-show.ng-hide-add.ng-hide-add-active,
// .animate-show.ng-hide-remove.ng-hide-remove-active {
  
// }

.animate-show.ng-hide {
  // webkit-transform: scale(1.2, 1.2);
  //   -webkit-transition-duration: 500ms;
  //   -webkit-transition-timing-function: ease-out;
  opacity: 0;
  padding-top: -250px !important;
  transition: all 0.5s ease-in-out;
}

.modal {
  top: 200px !important;
}
