@import "var";

.promote-steps {
  text-align: center
}

.items-side-by-side {

  .side {
    padding: @syn-panel-gutter / 2;
    border: 1px solid #ccc;

    .left-item {
      padding-right: 0 !important;
    }

    .right-item {
      padding-left: 0 !important;
    }

    @media (min-width: @screenPhone) {
      width: 50%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

}