/**
 *    __________________________________________________________________________
 *
 *    Synapp Style Sheet / Variables
 *    ------------------   ---------
 *
 *    @abstract
 *    Variables
 *
 *    @author   francois
 * 
 *    __________________________________________________________________________
 *    
*/

/** BREAK POINTS **/

@screenPhone:       440px;
@screenTablet:      768px;
@screenDesktop:     992px;
@screenLarge:       1200px;

/** Gutters */

@syn-gutter-width: 1em;
@syn-panel-gutter: 1.5em;

/** The height of the top bar **/

@syn-topbar-height: 60px;

/** Buttons */

@syn-button-text-color: #333;

/** Colors **/

@syn-primary-color: #337ab7;
@syn-danger-color: #CD3232;
@syn-warning-color: #F0AD4E;


@syn-padding: 10px;
@syn-top-bar-margin-bottom: 80px;
