include ../mixins/item
include ../mixins/item-text

block item-collapsers
  span

.panel.panel-default

  .panel-heading
    h4.panel-title
      block title
        span.iddle
          i.fa.fa-circle-o-notch.fa-spin

  .panel-body

    block panel-body

      .items
        +item({ id: 'Intro' })

        block item-text
          +item-text({})

f1.div('.panel')(
  f1.div('.panel-body')(
    f1.h4('.panel-title')
  ),

  
);