include image

mixin box(type)
  // Box item
  .box(data-ng-init='$showButtons = false')
    .row(data-ng-hide='$last && $index === ' + synapp.public["navigator batch size"])
      .col-xs-12.col-sm-4
        h1.is-author
          a(href='/edit/')
            i.glyphicon.glyphicon-user
        div
          +item-image(type)

      .col-xs-9.col-sm-5
        h4(data-ng-bind=type + '.subject')
        div.box-description(data-ng-bind=type + '.description' data-syn-more-less)

      .box-promoted.col-xs-3.text-right
        h5 Promoted
        ul
          li(data-ng-bind=type + '.promotions')
          li(data-ng-bind='(' + type + ' | getPromotedPercentageFilter) + "%"')

    .row(data-ng-show='$showButtons && ! ($last && $index === ' + synapp.public["navigator batch size"] +')')
      .col-xs-6.padding
        a.btn.btn-block.btn-sm(data-ng-href='/evaluate/{{' + type + '._id}}') Promote

      .col-xs-6.padding
        a.btn.btn-block.btn-sm(data-ng-href='/details/{{' + type + '._id}}') Details

    .row(data-ng-show='$last && $index === ' + (+synapp.public["navigator batch size"] - 1))
      .col-xs-12.text-center
        a(href) Show more
