mixin item-image(type, filter)
  - var ngSrc = '{{' + type + '.image'

  - if ( filter )
    - ngSrc += '| cloudinaryTransformationFilter'

  - ngSrc += '}}'
  
  img.img-responsive(
    alt='{{' + type + '.subject}}' data-ng-src=ngSrc)
