div.entry-title(data-ng-show='item.references.length')
  a(
    target          =   '_blank'
    title           =   '{{item.references[0].url}}'
    data-ng-href    =   '{{item.references[0].url}}'
    data-ng-bind    =   '(item.references[0].title || item.references[0].url) | filter:shorten'
    )
