.box(data-ng-class='{ prefetch: $index === ( batchSize - 1 ) }')
  .item-media-wrapper
    +item-image('item')

  .pull-right.box-buttons.padding
    button.btn(data-ng-click='$root.publish("toggle view", { view: "evaluator", item: item._id })') Promote

    div(data-ng-bind='item.promotions')

    div(data-ng-bind='((item | calculatePromotionPercentage) || 0) + "%"')

    button.btn(data-ng-click='$root.publish("toggle view", { view: "details", item: item._id })') Details

  .item-text
    h4.item-title(data-ng-bind='item.subject'
      title='{{ item.subject }}')
    
    .box-description.description.pre-text.padding-right.padding-left(ng-bind='item.description')

    h4.padding.reference(data-ng-repeat='reference in item.references' data-ng-show='item.references.length')
      a(data-ng-href='{{ reference.url }}' target='_blank') {{ reference.title || reference.url }}

    span.end
