//- Description

textarea.form-control(
  auto-grow
  name              =   'description'
  placeholder       =   'Description' 
  spellcheck        =   'true'
  lang              =   'en'  
  data-ng-model     =   'editor.description'
  required          )