// HTML5 Image drag & upload

section
  //- Drop image box

  .drop-box(
    data-ng-show                     =   'dropSupported'
    data-ng-file-drop                =   'onFileSelect($files)'
    data-ng-file-drop-available      =   "dropSupported=true"
    data-ng-file-drag-over-class     =   "dragOverClass($event)"
    data-ng-file-drag-over-delay     =   "100"
    data-ng-hide                     =   'dataUrls.length'
      ) Drop image here

  //- Uploaded image if any

  image.img-responsive(
    alt               =   'image'
    data-ng-src       =   "{{dataUrls[0]}}"
    data-ng-show      =   'dataUrls.length'
  )

  //- In case of editing, show entry image or default topic image
  div(data-ng-show='entry._id')
    include ../item/image
