#forgot-password.modal.fade(tabindex='-2' role='dialog' aria-labelledby='forgotLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only Close

        h4#forgotLabel.modal-title.text-center Forgot password

      .modal-body
        include ../../layout/alert

        form(role='form' novalidate name='forgot-password')
          .is-container.is-error
            .is-section
              .bg-danger.text-danger.padding.text-center.radius
                i.fa.fa-warning
                b  This component is not responding. Please try again in a moment. We apologize for any inconvenience.

          p Enter your email address

          .form-group
            input.form-control.input-lg(type='email' placeholder='Enter email address' name="email")

          button.btn.btn-block.btn-lg.btn-primary Send me password reactivation key
