script#join(type='text/html')
  .join-modal
    h4 Join with

    .button-group-2
      a.button(href='/sign/facebook')
        i.fa.fa-facebook
        span  Facebook

      a.button(href='/sign/twitter')
        i.fa.fa-twitter
        span  Twitter

    h4 Join with email

    form(role='form' novalidate name='join' method='POST')
      .row
        .form-group.tablet-50.middle
          label Email
          input.block(type='email' placeholder='Email' name='email' required)

        .form-group.tablet-50.middle
          label Password
          input.block(type='password' placeholder='Password' name='password' required)

      .row
        .form-group.tablet-50.middle
          label Confirm
          input.block(type='password' placeholder='Confirm password' name='confirm' required)

        p.tablet-50.middle
          button.primary.login-submit.block Join

      .i-agree
        button.shy(type='button' required)
          i.fa.fa-2x.fa-square-o.agreed

        span
          span  I agree to 
          a(href='/page/terms-of-service') the terms of service
          span .