#login-modal.hide
  .login-modal
    h4 Login with

    .button-group-2
      a.button(href='/sign/facebook')
        i.fa.fa-facebook
        span  Facebook

      a.button(href='/sign/twitter')
        i.fa.fa-twitter
        span  Twitter

    h4 Login with email

    form(role='form' novalidate method='POST' name='login')
      .login-error-404.is-container
        .is-section
          .danger
            p
              strong Wrong email

      .login-error-401.is-container
        .is-section
          .danger
            p
              strong Wrong password

      .sign-success.success

      .form-group
        label Email
        input(type='email' placeholder='Email' name='email' required)

      .form-group
        label Password
        input.block(type='password' placeholder='Password' name='password')

      p
        button.primary.login-submit.block
          i.fa.fa-sign-in
          span  Login

    h5
      a.forgot-password-link(href='#') Forgot password?
