include image

mixin box(type)
  .box 
    .row
      .col-xs-12.col-sm-4
        h1.is-author
          a(href='/edit/')
            i.glyphicon.glyphicon-user
        div
          +item-image(type)

      .col-xs-9.col-sm-5
        h4(data-ng-bind=type + '.subject')
        div.box-description.sy-nav-item-description(data-ng-bind=type + '.description')

      .box-promoted.col-xs-3.text-right
        h5 Promoted
        ul
          li(data-ng-bind=type + '.promotions')
          li(data-ng-bind='(' + type + ' | getPromoted) + "%"')

    .row(data-ng-show=type + '.$showButtons')
      .col-xs-6.padding
        a.btn.btn-block.btn-sm(data-ng-href='/evaluate/{{' + type + '._id}}') Promote

      .col-xs-6.padding
        a.btn.btn-block.btn-sm(data-ng-href='/details/{{' + type + '._id}}') Details
