extends ../layout

block items
  .is-container
    .is-section
      include ../partials/identity

  .is-container
    .is-section
      include ../partials/residence

block page
  include ../partials/panel

  //- .hide
  //-   #identity-expand
  //-     include ../partials/identity
