/** ____________________________________________________________________________


           /$$$$$$$ /$$   /$$ /$$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$
          /$$_____/| $$  | $$| $$__  $$ |____  $$ /$$__  $$ /$$__  $$
          |  $$$$$$ | $$  | $$| $$  \ $$  /$$$$$$$| $$  \ $$| $$  \ $$
          \____  $$| $$  | $$| $$  | $$ /$$__  $$| $$  | $$| $$  | $$
          /$$$$$$$/|  $$$$$$$| $$  | $$|  $$$$$$$| $$$$$$$/| $$$$$$$/
          |_______/  \____  $$|__/  |__/ \_______/| $$____/ | $$____/
                    /$$  | $$                    | $$      | $$
                   |  $$$$$$/                    | $$      | $$
                    \______/                     |__/      |__/


    ____________________________________________________________________________
**/
/** ____________________________________________________________________________


                    /$$$$$$$$
                    |__  $$__/
                      | $$ /$$   /$$  /$$$$$$   /$$$$$$
                      | $$| $$  | $$ /$$__  $$ /$$__  $$
                      | $$| $$  | $$| $$  \ $$| $$  \ $$
                      | $$| $$  | $$| $$  | $$| $$  | $$
                      | $$|  $$$$$$$| $$$$$$$/|  $$$$$$/
                      |__/ \____  $$| $$____/  \______/
                           /$$  | $$| $$
                          |  $$$$$$/| $$
                           \______/ |__/


   ____________________________________________________________________________
**/
/** ------------------------------------------------------------------------- */
/** ------------------------- Fonts for heading ----------------------------- */
/** ------------------------------------------------------------------------- */
/** ---------------------------- Latin ext ---------------------------------- */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/assets/fonts/oswald/latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/** ------------------------------ Latin ------------------------------------ */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(/assets/fonts/oswald/latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/** ------------------------------------------------------------------------- */
/** --------------------------- Default font -------------------------------- */
/** ------------------------------------------------------------------------- */
html {
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}
@media (max-width: 440px) {
  html {
    font-size: 0.8em;
  }
}
body {
  color: #333;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  line-height: 1.3em;
}
h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 0.5em 0;
}
h2 {
  font-size: 2.1em;
  font-weight: 700;
  margin: 0.75rem 0;
}
h3 {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0.5em 0;
}
h4 {
  margin: 0.5em 0;
  font-size: 1.4em;
  font-weight: 300;
}
h5 {
  margin: 0.5em 0;
  font-size: 0.9em;
  font-weight: 300;
}
.pre-text {
  /** Parse \n into line breaks */
  white-space: pre-line;
  text-align: justify;
}
input,
button,
.online-now {
  line-height: 1.5em;
  padding: 0.15em 0.25em;
}
/** Text colors **/
.muted {
  color: #999999;
}
.success {
  color: #5cb85c;
}
.info {
  color: #5bc0de;
}
.primary {
  color: #337ab7;
}
.warning {
  color: #f0ad4e;
}
.error {
  color: #cd3232;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/**-------------------------------------------------------------// typo       */
/** ____________________________________________________________________________



      /$$$$$$$  /$$$$$$$  /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$$
     /$$_____/ /$$_____/ /$$__  $$ /$$__  $$ /$$__  $$| $$__  $$ /$$_____/
    |  $$$$$$ | $$      | $$  \__/| $$$$$$$$| $$$$$$$$| $$  \ $$|  $$$$$$
     \____  $$| $$      | $$      | $$_____/| $$_____/| $$  | $$ \____  $$
     /$$$$$$$/|  $$$$$$$| $$      |  $$$$$$$|  $$$$$$$| $$  | $$ /$$$$$$$/
    |_______/  \_______/|__/       \_______/ \_______/|__/  |__/|_______/



    ____________________________________________________________________________
**/
@media (max-width: 768px) {
  .syn-screen-tablet_and_up {
    display: none;
  }
}
@media (max-width: 440px) {
  .syn-screen-phone_and_up {
    display: none;
  }
}
@media (min-width: 768px) {
  .syn-screen-phone_and_down {
    display: none;
  }
}
/**-------------------------------------------------------------// screens    */
/** ____________________________________________________________________________

                                              /$$
                                             |__/
                    /$$$$$$/$$$$   /$$$$$$   /$$ /$$$$$$$
                    | $$_  $$_  $$ |____  $$| $$| $$__  $$
                    | $$ \ $$ \ $$  /$$$$$$$| $$| $$  \ $$
                    | $$ | $$ | $$ /$$__  $$| $$| $$  | $$
                    | $$ | $$ | $$|  $$$$$$$| $$| $$  | $$
                    |__/ |__/ |__/ \_______/|__/|__/  |__/



    ____________________________________________________________________________
**/
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
  margin: 0;
  padding: 0;
}
/*
 *    Links
 */
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*
 *    Force cursor to be a pointer
 */
.cursor-pointer {
  cursor: pointer;
}
/*
 *    Hide
 */
.hide {
  display: none;
}
.alert {
  display: none;
}
.is-in {
  display: none;
}
.vex-dialog-button-primary {
  background: #337ab7 !important;
}
/*
 *  Background
 */
.muted-bg {
  background: #999999;
  border-color: #999999;
  color: #ffffff;
}
.info-bg {
  background: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
}
.success-bg {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
.error-bg {
  background: #cd3232;
  border-color: #cd3232;
  color: #ffffff;
}
.primary-bg {
  background: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
.warning-bg {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
/*
 *  Text
 */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*
 *  Boxes
 */
.frame {
  border: 1px solid;
}
.radius {
  border-radius: 4px;
}
.block-center,
.center-block {
  display: block;
  margin: auto;
}
img.syn-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.gutter {
  margin: 10px;
}
.gutter-y {
  margin: 10px 0;
}
/**-------------------------------------------------------------// main       */
/** ____________________________________________________________________________


    /$$                   /$$     /$$
    | $$                  | $$    | $$
    | $$$$$$$  /$$   /$$ /$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$$   /$$$$$$$
    | $$__  $$| $$  | $$|_  $$_/|_  $$_/   /$$__  $$| $$__  $$ /$$_____/
    | $$  \ $$| $$  | $$  | $$    | $$    | $$  \ $$| $$  \ $$|  $$$$$$
    | $$  | $$| $$  | $$  | $$ /$$| $$ /$$| $$  | $$| $$  | $$ \____  $$
    | $$$$$$$/|  $$$$$$/  |  $$$$/|  $$$$/|  $$$$$$/| $$  | $$ /$$$$$$$/
    |_______/  \______/    \___/   \___/   \______/ |__/  |__/|_______/



    ____________________________________________________________________________
**/
button,
.button {
  display: inline-block;
  padding: 0.9em 0.7em;
  border: 1px solid #ccc;
  background: #ccc;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  border-radius: 1px;
}
button:hover,
.button:hover {
  background: #999;
  border-color: #999;
}
button[disabled],
.button[disabled] {
  background-color: #eee !important;
  color: #ccc;
  text-decoration: line-through;
}
button.shy,
.button.shy {
  background: transparent;
  border-color: transparent;
}
button.shy:hover:not(.very),
.button.shy:hover:not(.very) {
  background: #dddddd !important;
}
button.shy.very,
.button.shy.very {
  cursor: default;
}
button.error,
.button.error {
  background: #cd3232;
  border-color: #cd3232;
  color: #ffffff;
}
button.error:hover,
.button.error:hover {
  background: #7b1e1e;
}
button.warning,
.button.warning {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
button.warning:hover,
.button.warning:hover {
  background: #c77c11;
}
button.info,
.button.info {
  background: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
}
button.info:hover,
.button.info:hover {
  background: #2390b0;
}
button.success,
.button.success {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
button.success:hover,
.button.success:hover {
  background: #357935;
}
button.primary,
.button.primary {
  background: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
button.primary:hover,
.button.primary:hover {
  background: #1d4567;
}
button.small,
.button.small {
  font-size: 80% !important;
  border-width: 2px;
  padding: 0.8em;
}
button.medium,
.button.medium {
  font-size: 125%;
  border-width: 2px;
  padding: 1em;
}
button.large,
.button.large {
  font-size: 175%;
  border-width: 2px;
  line-height: 1.3em;
}
button.huge,
.button.huge {
  font-size: 250%;
  border-width: 4px;
  line-height: 1.3em;
}
button.block,
.button.block {
  width: calc(100%);
}
a.button {
  text-decoration: none;
  color: #333333;
}
.syn-button-group button:first-child {
  border-radius: 6px 0 0 6px;
}
.syn-button-group button:last-child {
  border-radius: 0 6px 6px 0;
}
.syn-button-group button:first-child:last-child {
  border-radius: 6px;
}
.syn-button-group.syn--block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.syn-button-group.syn--block button {
  width: 100%;
}
/**-------------------------------------------------------------// buttons    */
/** ____________________________________________________________________________




                        /$$$$$$   /$$$$$$  /$$  /$$  /$$
                       /$$__  $$ /$$__  $$| $$ | $$ | $$
                      | $$  \__/| $$  \ $$| $$ | $$ | $$
                      | $$      | $$  | $$| $$ | $$ | $$
                      | $$      |  $$$$$$/|  $$$$$/$$$$/
                      |__/       \______/  \_____/\___/




    ____________________________________________________________________________
**/
.syn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.syn-row-baseline-items {
  align-items: baseline;
}
.syn-row-end {
  justify-content: flex-end;
}
.syn-row-space-around {
  justify-content: space-around;
}
.syn-row-center-items {
  align-items: center;
}
/**-------------------------------------------------------------// row        */
/** ____________________________________________________________________________


                  /$$$$$$
                 /$$__  $$
                | $$  \__//$$$$$$   /$$$$$$  /$$$$$$/$$$$
                | $$$$   /$$__  $$ /$$__  $$| $$_  $$_  $$
                | $$_/  | $$  \ $$| $$  \__/| $$ \ $$ \ $$
                | $$    | $$  | $$| $$      | $$ | $$ | $$
                | $$    |  $$$$$$/| $$      | $$ | $$ | $$
                |__/     \______/ |__/      |__/ |__/ |__/



    ____________________________________________________________________________
**/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #999;
  border-radius: 3px;
  padding: .5em;
  box-sizing: border-box;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
textarea:hover {
  background: #eee;
}
input[type="text"].block,
input[type="password"].block,
input[type="date"].block,
input[type="datetime"].block,
input[type="datetime-local"].block,
input[type="month"].block,
input[type="week"].block,
input[type="email"].block,
input[type="number"].block,
input[type="search"].block,
input[type="tel"].block,
input[type="time"].block,
input[type="url"].block,
textarea.block {
  width: 100%;
}
input[type="text"].block.gutter,
input[type="password"].block.gutter,
input[type="date"].block.gutter,
input[type="datetime"].block.gutter,
input[type="datetime-local"].block.gutter,
input[type="month"].block.gutter,
input[type="week"].block.gutter,
input[type="email"].block.gutter,
input[type="number"].block.gutter,
input[type="search"].block.gutter,
input[type="tel"].block.gutter,
input[type="time"].block.gutter,
input[type="url"].block.gutter,
textarea.block.gutter {
  width: calc(87.5%) !important;
}
input[type="text"].error,
input[type="password"].error,
input[type="date"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="month"].error,
input[type="week"].error,
input[type="email"].error,
input[type="number"].error,
input[type="search"].error,
input[type="tel"].error,
input[type="time"].error,
input[type="url"].error,
textarea.error {
  border-color: red;
  background: yellow;
}
select {
  box-sizing: border-box;
}
select.gutter {
  padding: .62em .5em;
}
select.medium {
  padding: 10px;
}
select.medium.block {
  width: 100%;
}
select.block {
  width: 100%;
}
select.block.gutter {
  width: calc(93%) !important;
}
.form-group label {
  font-weight: bold;
}
.form-group input {
  width: calc(99%);
}
label {
  font-weight: bold;
}
.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-group input:not(:first-child) {
  border-left: none;
}
@media (min-width: 768px) {
  .input-group-tablet input:not(:first-child) {
    border-left: none;
  }
}
.syn-form-center .syn-form-group {
  text-align: center;
  margin: 10px 0;
}
.syn-form-center .syn-form-group label {
  font-size: 125%;
  margin: 10px;
  display: block;
}
.syn-form-center .syn-form-submit {
  margin: 20px 0;
}
.syn-input-group input {
  border-radius: 0;
}
.syn-input-group input:first-child {
  border-radius: 6px 0 0 6px;
}
.syn-input-group input:last-child {
  border-radius: 0 6px 6px 0;
}
.syn-input-group.syn--block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.syn-input-group.syn--block input {
  width: 100%;
}
form h2:empty {
  display: none;
}
/**-------------------------------------------------------------// form       */
/*******************************************************************************
|   -----------------------------------------------------------------------
|   BEATPOINTS CSS / FLASH
|   -----------------------------------------------------------------------
/******************************************************************************/
/*
 *  Background
 */
.syn--muted-bg {
  background: #999999;
  border-color: #999999;
  color: #ffffff;
}
.syn--info-bg {
  background: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
}
.syn--success-bg {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
.syn--error-bg {
  background: #cd3232;
  border-color: #cd3232;
  color: #ffffff;
}
.syn--primary-bg {
  background: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
.syn--warning-bg {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
.syn-flash {
  border: 4px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
.syn-flash.syn-flash--error {
  color: #cd3232;
  background: yellow;
  border-color: orange;
}
.syn-flash.syn-flash--success {
  color: #5cb85c;
  background: yellow;
  border-color: #5cb85c;
}
.syn-flash:empty {
  margin: 0;
  padding: 0;
}
/** ____________________________________________________________________________


              /$$                                           /$$
              | $$                                          | $$
              | $$  /$$$$$$  /$$   /$$  /$$$$$$  /$$   /$$ /$$$$$$
              | $$ |____  $$| $$  | $$ /$$__  $$| $$  | $$|_  $$_/
              | $$  /$$$$$$$| $$  | $$| $$  \ $$| $$  | $$  | $$
              | $$ /$$__  $$| $$  | $$| $$  | $$| $$  | $$  | $$ /$$
              | $$|  $$$$$$$|  $$$$$$$|  $$$$$$/|  $$$$$$/  |  $$$$/
              |__/ \_______/ \____  $$ \______/  \______/    \___/
                            /$$  | $$
                           |  $$$$$$/
                            \______/


    ____________________________________________________________________________
**/
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  padding: 10px;
  padding-top: calc(70px);
  text-align: left;
}
@media (min-width: 992px) {
  body {
    width: 992px;
    margin: auto;
  }
}
/** ____________________________________________________________________________


         /$$                               /$$
        | $$                              | $$
       /$$$$$$    /$$$$$$   /$$$$$$       | $$$$$$$   /$$$$$$   /$$$$$$
      |_  $$_/   /$$__  $$ /$$__  $$      | $$__  $$ |____  $$ /$$__  $$
        | $$    | $$  \ $$| $$  \ $$      | $$  \ $$  /$$$$$$$| $$  \__/
        | $$ /$$| $$  | $$| $$  | $$      | $$  | $$ /$$__  $$| $$
        |  $$$$/|  $$$$$$/| $$$$$$$/      | $$$$$$$/|  $$$$$$$| $$
         \___/   \______/ | $$____/       |_______/  \_______/|__/
                          | $$
                          | $$
                          |__/

    ____________________________________________________________________________
**/
.syn-top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #444;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 1.45em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /** Appearance */
  background: rgba(255, 255, 255, 0.9);
  box-shadow: -2px 4px 3px 3px rgba(0, 0, 0, 0.14);
}
.syn-top_bar .row {
  flex-direction: row;
}
.syn-top_bar .nowrap {
  flex-wrap: nowrap;
}
.syn-top_bar .space-between {
  justify-content: space-between;
}
.syn-top_bar-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: stretch;
}
.syn-top_bar-left .row {
  flex-direction: row;
}
.syn-top_bar-left .nowrap {
  flex-wrap: nowrap;
}
.syn-top_bar-left .space-between {
  justify-content: space-between;
}
.syn-top_bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  border-left: 1px solid #ccc;
}
.syn-top_bar-right .row {
  flex-direction: row;
}
.syn-top_bar-right .nowrap {
  flex-wrap: nowrap;
}
.syn-top_bar-right .space-between {
  justify-content: space-between;
}
.syn-top_bar-right button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  height: 60px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #ccc;
}
.syn-top_bar-right button:hover:not(.very) {
  background: #dddddd !important;
}
.syn-top_bar-right button.very {
  cursor: default;
}
.syn-top_bar-beta {
  display: inline-block;
  padding: 0.9em 0.7em;
  border: 1px solid #ccc;
  background: #ccc;
  vertical-align: middle;
  touch-action: manipulation;
  text-align: center;
  border-radius: 1px;
  background: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 6px;
}
.syn-top_bar-beta:hover {
  background: #999;
  border-color: #999;
}
.syn-top_bar-beta[disabled] {
  background-color: #eee !important;
  color: #ccc;
  text-decoration: line-through;
}
.syn-top_bar-beta.shy {
  background: transparent;
  border-color: transparent;
}
.syn-top_bar-beta.shy:hover:not(.very) {
  background: #dddddd !important;
}
.syn-top_bar-beta.shy.very {
  cursor: default;
}
.syn-top_bar-beta.error {
  background: #cd3232;
  border-color: #cd3232;
  color: #ffffff;
}
.syn-top_bar-beta.error:hover {
  background: #7b1e1e;
}
.syn-top_bar-beta.warning {
  background: #f0ad4e;
  border-color: #f0ad4e;
  color: #ffffff;
}
.syn-top_bar-beta.warning:hover {
  background: #c77c11;
}
.syn-top_bar-beta.info {
  background: #5bc0de;
  border-color: #5bc0de;
  color: #ffffff;
}
.syn-top_bar-beta.info:hover {
  background: #2390b0;
}
.syn-top_bar-beta.success {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #ffffff;
}
.syn-top_bar-beta.success:hover {
  background: #357935;
}
.syn-top_bar-beta.primary {
  background: #337ab7;
  border-color: #337ab7;
  color: #ffffff;
}
.syn-top_bar-beta.primary:hover {
  background: #1d4567;
}
.syn-top_bar-beta.small {
  font-size: 80% !important;
  border-width: 2px;
  padding: 0.8em;
}
.syn-top_bar-beta.medium {
  font-size: 125%;
  border-width: 2px;
  padding: 1em;
}
.syn-top_bar-beta.large {
  font-size: 175%;
  border-width: 2px;
  line-height: 1.3em;
}
.syn-top_bar-beta.huge {
  font-size: 250%;
  border-width: 4px;
  line-height: 1.3em;
}
.syn-top_bar-beta.block {
  width: calc(100%);
}
.syn-top_bar-online_now {
  padding-left: 10px;
  padding-right: 10px;
}
/**-------------------------------------------------------------// top-bar    */
/** ____________________________________________________________________________




            /$$$$$$                      /$$
           /$$__  $$                    | $$
          | $$  \__//$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$
          | $$$$   /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
          | $$_/  | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
          | $$    | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$
          | $$    |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$
          |__/     \______/  \______/    \___/   \_______/|__/




    ____________________________________________________________________________
**/
.syn-footer {
  text-align: center;
}
/**-------------------------------------------------------------// layout     */
/** ____________________________________________________________________________



                                             /$$           /$$
                                            | $$          | $$
               /$$$$$$/$$$$   /$$$$$$   /$$$$$$$  /$$$$$$ | $$
              | $$_  $$_  $$ /$$__  $$ /$$__  $$ |____  $$| $$
              | $$ \ $$ \ $$| $$  \ $$| $$  | $$  /$$$$$$$| $$
              | $$ | $$ | $$| $$  | $$| $$  | $$ /$$__  $$| $$
              | $$ | $$ | $$|  $$$$$$/|  $$$$$$$|  $$$$$$$| $$
              |__/ |__/ |__/ \______/  \_______/ \_______/|__/



    ____________________________________________________________________________
**/
.flex {
  display: flex;
}
.flex .row {
  flex-direction: row;
}
.flex .nowrap {
  flex-wrap: nowrap;
}
.flex .space-between {
  justify-content: space-between;
}
.syn-modal {
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  height: 100vh;
  transition: all ease-out 0.5s;
  z-index: 1000;
}
.syn-modal-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(155, 155, 155, 0.5);
}
.syn-modal.syn--visible {
  top: 60px;
}
.syn-modal-container {
  position: absolute;
  background: #fff;
  top: 5%;
  left: 10%;
  right: 10%;
  border-radius: 8px;
  box-shadow: 0 0 10px 8px rgba(100, 100, 100, 0.5);
  padding: 10px;
}
.syn-modal-container header {
  text-align: center;
}
.syn-modal-container footer {
  text-align: right;
  padding: 10px;
  padding-right: 0;
  margin-top: 20px;
}
.syn-modal-container footer a {
  text-transform: uppercase;
  letter-spacing: .6em;
  color: #999;
  padding: 10px;
  border: 1px solid transparent;
  border-width: 1px 0 0 1px;
}
.syn-modal-container footer a:hover {
  text-decoration: none;
}
.syn-modal-container footer a:active {
  border-color: #999;
  background: #eeeeee;
}
/**-------------------------------------------------------------// modal      */
/** ____________________________________________________________________________


                                                       /$$
                                                      | $$
                /$$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$ | $$
               /$$__  $$ |____  $$| $$__  $$ /$$__  $$| $$
              | $$  \ $$  /$$$$$$$| $$  \ $$| $$$$$$$$| $$
              | $$  | $$ /$$__  $$| $$  | $$| $$_____/| $$
              | $$$$$$$/|  $$$$$$$| $$  | $$|  $$$$$$$| $$
              | $$____/  \_______/|__/  |__/ \_______/|__/
              | $$
              | $$
              |__/


    ____________________________________________________________________________
**/
.syn-panel {
  border: 1px solid #666666;
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
}
.syn-panel-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #39683c;
  background-color: rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), #000000);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), #000000);
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  border-radius: 3px 3px 0 0;
  padding: 1px;
}
.syn-panel-heading h4 {
  text-align: center;
  flex-grow: 3;
}
.syn-panel-heading h4,
.syn-panel-heading i.fa-plus {
  padding: 0 10px;
}
.syn-panel-heading i.fa-plus {
  cursor: pointer;
}
.syn-panel + .syn-panel {
  margin-top: 10px;
}
/**-------------------------------------------------------------// panel       */
.item {
  border: 1px solid #666;
}
.item-media {
  margin: 10px;
  float: left;
  width: 25%;
  max-width: 250px;
}
.item-text {
  padding: 10px;
}
.item-truncatable .word.hide {
  display: none;
}
.item-truncatable.expand .word.hide {
  display: inline;
}
.item-truncatable.expand div:empty {
  height: 1.5em;
}
.item-subject {
  margin: 0;
  margin-top: -6.5px;
}
.item-description {
  /** Parse \n into line breaks */
  white-space: pre-line;
  text-align: justify;
}
.item-buttons {
  float: right;
  padding-left: 1em;
  text-align: right;
  padding: 10px;
}
.syn-uploader .syn-uploader-dropbox {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  min-height: 65px !important;
  text-align: center !important;
  padding-bottom: 1.5em;
}
.syn-uploader input {
  margin: auto;
}
.syn-uploader.dragover {
  border: 5px dashed blue;
}
.syn-uploader.dragover-err {
  border: 5px dashed red;
}
.syn-uploader input[name="image"] {
  height: 1px;
  width: 1px;
  background: #fff;
  border: 0px solid #fff;
}
.syn-uploader .syn-uploader-replace:not(.--show) {
  display: none;
}
.syn-accordion {
  transition: height ease-in 1s;
}
.syn-accordion-content {
  position: absolute;
  top: -9000px;
}
.item-inputs {
  left: 0;
  position: relative;
  overflow: hidden;
}
.item-inputs input[type="text"],
.item-inputs input[type="url"],
.item-inputs textarea {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.syn-creator .looking-up:not(.visible),
.syn-creator .error:not(.visible),
.syn-creator .url-title:not(.visible),
.syn-creator .syn-edit-url:not(.visible),
.syn-creator .url-editor.hide {
  display: none;
}
.syn-creator [name="subject"] {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}
.syn-creator [name="reference"] {
  border-radius: 0;
  border-bottom: none;
}
.syn-creator [name="description"] {
  border-radius: 0 0 4px 4px;
}
.promote {
  border: 1px solid #666;
}
.details {
  border: 1px solid #666;
}
.subtype {
  border: 1px solid #666;
}
/**-------------------------------------------------------------// index      */
