.sk_bg {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: sk_bg_animation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px 104px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
 }
 
 
 @keyframes sk_bg_animation{
    0%{background-position:-468px 0}
    100%{background-position:468px 0}
 }
 
 
 .sk_bg.big {
    height: 96px;
 }