mixin item-text (item)
  
  - var subject = '<i class="fa fa-spin fa-spinner"></i>'
  - var description = '<i class="fa fa-spin fa-spinner"></i>'

  .item-truncatable
    h4.item-subject.header
      a(href='#')!=subject

    .item-description.pre-text!=description

  //- hr.clear.clear-text

  //- h5.item-reference
  //-   a(href=referenceUrl target='_blank' rel='nofollow' data-title=referenceTitle)=(referenceTitle || (hasReference && referenceUrl) || '')
