//- Panel

include bootstrap
include item-box

mixin panel ()

  +bootstrap-panel
    
    +bootstrap-panel-heading
      
      //- Toggle Editor show/hide
      i.pull-right.fa.fa-plus.cursor-pointer(data-ng-click='toggle("editor")')

      //- Item Type (Panel title)
      h4.panel-title(data-ng-bind='type' data-ng-click='toggle("panel")')
    
    +bootstrap-panel-body

      //- Editor
      .synapp-editor.animate-show(
        data-type     =   '{{type}}'
        data-parent   =   "{{from}}"
        data-item-id  =   ""
        data-panel-id =   "{{$id}}"
        data-ng-show  =   "panel.$view.editor")

      .synapp-panel.animate-show(data-ng-show = 'panel.$view.panel')

        //- Loading

        div.no-items(data-ng-hide='loaded') Loading items...

        //- Nothing here

        div.no-items(data-ng-hide='items.length || !loaded') Nothing here.
        
        //- List of items
        nav
          ul
            li.box-wrapper(data-ng-repeat='item in items' data-ng-show='$index < batch * loaded - 1' data-ng-click='panel.$view.id = $id')
              
              //- Item box
              +item-box('item')

              //- Evaluator
              .synapp-evaluator.animate-show(data-limit='5' data-item-id='{{item._id}}' data-ng-show='panel.$view.id === $id && view === "evaluator"')

              //- Details
              .synapp-details.animate-show(data-item-id="{{item._id}}" data-ng-show='panel.$view.id === $id && view === "details"')

              //- Nest panel
              .nested-panels.synapp-nest.animate-show(data-ng-show='panel.$view.id === $id && view === "nest"')

              //- Toggle-arrow
              .row.padding.text-center
                big
                  i.fa.cursor-pointer(data-ng-show-me='is_nested' data-item-id='{{ item._id }}' data-ng-click='view = ((view === "nest" && panel.$view.id === $id && "-") || "nest"); $parent.opened = item._id' data-ng-class='{ "fa-arrow-circle-down": view !== "nest" || panel.$view.id !== $id, "fa-arrow-circle-up": view === "nest" }')

              //- View more (ia)
              .row.padding.text-center(data-ng-show='items.length === batch * loaded && $index === batch * loaded - 2')
                a(href='#' data-ng-click='loadMore()') View more
