extends syn/layout

block items
  .gutter
    .row.gutter-bottom
      .tablet-50
        .is-container.is-profile-section
          .is-section
            include syn/partials/identity

      .tablet-50
        .is-container.is-profile-section
          .is-section
            include syn/partials/residence

    .row
      .tablet-50
        .is-container.is-profile-section
          .is-section
            include syn/partials/demographics

      .tablet-50
        .is-container.is-profile-section
          .is-section
            include syn/partials/voter

    .row.gutter-top
      .tablet-45.tablet-push-30
        .is-container.is-profile-section
          .is-section
            include syn/partials/public-persona

block page
  #profile.center
    include syn/partials/panel

  //- .hide
  //-   #identity-expand
  //-     include syn/partials/identity
