//- 
mixin bootstrap-panel ()
  .panel.panel-default
    block

//-
mixin bootstrap-panel-heading ()
  .panel-heading
    block panel-title
      h4.panel-title
        span.iddle
          i.fa.fa-circle-o-notch.fa-spin

//-
mixin bootstrap-panel-body ()
  .panel-body
    block