extends ../layouts/master

include ../partials/item/image

//-
    IMPORT BOOTSTRAP SLIDERS
//-

block prepend script-app
  script(src='/bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js')

//- ----------------------------------------------------------------------------
//-

block page
  section(data-ng-controller='EvaluatorCtrl' data-ng-init='item = "' + item + '"')

    // Display
    .row
      .col-xs-12.padding
        h2.text-center
          span(data-ng-bind='evaluator.cursor || 1')
          span  of  
          span(data-ng-bind='evaluator.limit')
    
    // Normal screen

    section.hidden-xs

      // Image

      .row
        .col-sm-6.padding(
          data-ng-repeat      =   'item in items | currentlyEvaluated'
        )
          +item-image('item')

      // Subject

      .row
        .col-sm-6.padding(
          data-ng-repeat      =   'item in items | currentlyEvaluated'
        )
          h2(data-ng-bind='item.subject')

      // Description

      .row
        .col-sm-6.padding(
          data-ng-repeat      =   'item in items | currentlyEvaluated'
        )
          .pre-text.entry-description(data-ng-bind='item.description')

      // Sliders

      .row
        .col-sm-6.padding(
          data-ng-repeat      =   'item in items | currentlyEvaluated'
        )
          include ../partials/evaluator/sliders

      // Feedback

      .row
        .col-sm-6.padding(
          data-ng-repeat      =   'item in items | currentlyEvaluated'
        )
          include ../partials/evaluator/feedback

      // Promote

      .row.padding-bottom
        .col-sm-6.padding(
          data-ng-repeat      =   'item in items | currentlyEvaluated'
        )
          button.btn.btn-block(
            data-ng-click   =   'promote($index)'
            data-ng-show    =   'items[1]'
          ) Promote

    // Small screen

    section.hidden-sm.hidden-md.hidden-lg(
      data-ng-repeat      =   'item in items | currentlyEvaluated'
    )
      .row
        .col-xs-12
          +item-image('item')

      .row
        .col-xs-12
          h2(data-ng-bind='item.subject')

      .row
        .col-xs-12
          .pre-text.entry-description(data-ng-bind='item.subject')

      .row.padding-bottom
        .col-xs-12
          include ../partials/evaluator/sliders

      .row.padding-bottom
        .col-xs-12
          include ../partials/evaluator/feedback

      .row.padding-bottom
        .col-xs-12
          button.btn.btn-block(
            data-ng-click   =   'promote($index)'
            data-ng-show    =   'items[1]'
          ) Promote

    // Continue

    .row
      .col-sm-12
        button.btn.btn-block(
          data-ng-click       =   'items[2] ? continue() : finish()' 
          data-ng-show        =   'items'
        )
          span(data-ng-show='items[2]') Continue
          span(data-ng-hide='items[2]') Finish
