extends ../layouts/master

block page

  - var noDataMessage;

  - if ( me )
    - noDataMessage = 'You have not created an entry yet in this topic.'
  - else
    - noDataMessage = 'There are no entries in this topic yet.'

  .synapp-data-entries(data-topic-slug=topic)

    h4.text-muted.text-center(ng-hide='entriesLoaded') Loading topic entries

    h4.text-center.syn-load(ng-hide='entries || entries.length || ! entriesLoaded')
      span=noDataMessage
      span   
      a(ng-href='/create/{{topic._id}}') Create one now?

    div(ng-repeat='entry in entries')
      include ../partials/entry-list-view
