//- # Footer

- var y = new Date().getFullYear()

footer.padding
  p Copyright Ⓒ 2014 #{(y > 2014 ? " - " + y : "")} by Synaccord.
  p
    a(href=synapp.public.routes['terms of service']) Terms of Service and Privacy Policy