//- TOP BAR
    =======

    Whatever whatever

    OK OK OK

// Top bar

.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .btn-group.pull-right
      a.button.btn.btn-default.btn-lg.online-now.btn-info Online now: 
        span.online-users
      a.button.btn.btn-default.btn-lg.btn-warning.is-in(href='/page/profile' title='Profile')
        big.fa.fa-user
      a.button.btn.btn-default.btn-lg.btn-danger.is-in(href='/sign/out' title='Sign out')
        big.fa.fa-sign-out
      //- a.button.btn.btn-lg.btn-default.btn-reverse(href='#' style='background: #333; color: #fff') Beta

#logo
  a.pull-left(href='/' data-toggle='tooltip' data-placement='bottom' title=title || synapp.title)
    img.img-responsive.logo-full(alt='Synapp' src='http://res.cloudinary.com/hscbexf6a/image/upload/e_make_transparent/v1415218424/Synaccord_logo_name_300x61_xyohja.png')
    img.img-responsive.logo-image.hide(alt='Synapp' src='http://res.cloudinary.com/hscbexf6a/image/upload/e_make_transparent/v1415218424/Synaccord_logo_64x61_znpxlc.png')
  a.button.btn.btn-lg.btn-default.btn-reverse.pull-right(href='#' style='background: #333; color: #fff; padding: 10px; margin-top: 5px; margin-left: 10px') Beta
