//- TOP BAR
    =======

    Whatever whatever

    OK OK OK

// Top bar

.topbar
  .topbar-right
    span.online-now Online now: 
      span.online-users

    button.is-out.login-button
      b Login
    
    a.button.is-in(href='/page/profile' title='Profile')
      i.fa.fa-user
    
    a.button.is-in(href='/sign/out' title='Sign out')
      i.fa.fa-sign-out
    
    button.is-out.join-button(href='#' data-toggle='modal' data-target='#join')
      b Join

#logo
  a.pull-left(href='/' data-toggle='tooltip' data-placement='bottom' title=title || synapp.title)
    img.img-responsive.logo-full(alt='Synapp' src='http://res.cloudinary.com/hscbexf6a/image/upload/e_make_transparent/v1415218424/Synaccord_logo_name_300x61_xyohja.png')
    img.img-responsive.logo-image.hide(alt='Synapp' src='http://res.cloudinary.com/hscbexf6a/image/upload/e_make_transparent/v1415218424/Synaccord_logo_64x61_znpxlc.png')
  a.button.btn.btn-lg.btn-default.btn-reverse.pull-right(href='#' style='background: #333; color: #fff; padding: 10px; margin-top: 5px; margin-left: 10px') Beta
