//- TOP BAR
    =======

// Top bar

header.container

  .row
    .col-xs-12
      .pull-right
        a.button.btn.btn-lg.btn-default(href='#intro')
          big.fa.fa-home
        span  
        a.button.btn.btn-lg.btn-default(href=back)
          big.fa.fa-chevron-left

      //- # Logo

      //- ## Regular screen

      img.img-responsive.logo.logo-title-image.visible-lg-inline.visible-md-inline.visible-sm-inline(alt='Logo' src='http://res.cloudinary.com/hscbexf6a/image/upload/v1415218424/Synaccord_logo_name_300x61_xyohja.png')

      //- ## Small screen

      img.img-responsive.logo.logo-image.visible-xs-inline(alt='Logo' src='http://res.cloudinary.com/hscbexf6a/image/upload/v1415218424/Synaccord_logo_64x61_znpxlc.png')

      //- ## Beta

      img.beta(alt='beta' src='http://res.cloudinary.com/hscbexf6a/image/upload/v1415218424/beta_cwjuwd.png')
