extends ../layout
include ../mixins/panel
include ../mixins/item-box


block page
  // Intro
  #intro
    include ../partials/intro

  .panels
    - if ( item )
      - if ( ! item.lineage.length )
        +panel({ type: 'Topic', items: [item] })
