extends ../layout
include ../mixins/panel
include ../mixins/item-box


block page
  // Intro
  #intro
    include ../partials/intro

  .panels
    - if ( batch )
      - if ( ! batch.lineage.length )
        +panel({ type: 'Topic', items: [item].concat(batch.entourage.items) })
