extends ../layout

include ../mixins/bootstrap

block page
  section.panels
    #intro
      +bootstrap-panel
        +bootstrap-panel-heading
          h4.panel-title Intro
        +bootstrap-panel-body
          include ../partials/item

    hr
