extends ../layout


block page




  // Intro
  #intro
    include ../partials/intro

  .panels

  script.

    function login () {

    //-   function showLoginDialog () {
    //-     vex.defaultOptions.className = 'vex-theme-flat-attack';

    //-     vex.dialog.confirm({

    //-       afterOpen: function () {
    //-         $('.login-button')
    //-           .off('click')
    //-           .on('click', function () {
    //-             vex.close();
    //-           });
    //-       },

    //-       afterClose: function () {
    //-         $('.login-button').on('click', showLoginDialog);
    //-       },

    //-       message: $('#login-modal').html(),
    //-       buttons: [
    //-          //- $.extend({}, vex.dialog.buttons.YES, {
    //-          //-    text: 'Login'
    //-          //-  }),

    //-          $.extend({}, vex.dialog.buttons.NO, {
    //-             text: 'x Close'
    //-           })
    //-       ],
    //-       callback: function(value) {
    //-         return console.log(value ? 'Successfully destroyed the planet.' : 'Chicken.');
    //-       },
    //-       defaultOptions: {
    //-         closeCSS: {
    //-           color: 'red'
    //-         }
    //-       }
    //-     });
    //-   }

    //-   $('.login-button').on('click', showLoginDialog);


    //-   setTimeout(writeDescription, 1000)
    }

    function writeDescription () {
      var des = 'This is it America! This is our chance to voice our opinion and set the direction for our country. And thank you for participating in our beta of this app.' + "\n\n" + 'You mission in this beta is: ' + "\n" + ' 1) Find a news article or video on the net about a national issue that is important to you and create a new topic based on that article. 2) Look through the topics and find one that you consider important, and promote it. 3) Find a problem under that topic and promote it, or create one.  4) Agree or Disagree with a problem by adding a statement. 5) Add a solution to any problem. 6) Agree or Disagree with another solution. 7) Report any questions, ambiguities, challenges, or bugs that you experience in the topic called feedback. And tell us what you liked!  Please know that we are in early testing of this app, and we appreciate your participation. In order to facilitate quicker testing, people are not limited in how many times they can promote or comment on things. Hence the outcomes you will see will not reflect a fully democratic process. After we get through this phase of testing, we will reset the database and prevent multiple promoting.';

      var t = $('<div></div>');

      t.css({

        position: 'fixed',
        bottom: 0,
        left: 0,
        background: '#fff'

      });

      t.addClass('pre-text')

      var item = $('.item').eq(1);

      var width = item.find('.item-text').width() - item.find('.item-media').width() - item.find('.item-buttons').width();
      var height = item.find('.item-text').height();
      var total = width / height * 50;

      t.width(width)
      t.height(height);

      console.log(total);

      var words = des.split(' ');

      t.text("Hey\nMy friend")

      for ( var i = 0; i < total; i ++ ) {
        t.text(t.text() + words[i] + ' ')
      }

      //- $('body').append(t)
    }

    function adjustBox (item) {
      var imgHeight = item.find('.item-media:first img').height();

      item.find('.item-text').height(imgHeight - 30);
    }

    function resizeItems () {
      $('.item').each(function () {
        return;
        var $truncatable = $(this).find('.item-truncatable');
        var $media = $(this).find('.item-media img');
        var $arrow = $(this).find('.item-arrow');
        var $reference = $(this).find('.item-reference');

        var minus = $arrow.outerHeight() + $reference.outerHeight();

        $truncatable.height(($media.height() - minus) + 'px');
      });
    }

    setTimeout(login, 1500);
    //- setTimeout(adjustBoxes, 1500);
