extends ../layout

block item-collapsers
  .is-container.profile-expand
    .is-section
      include ../partials/identity
      include ../partials/residence

block items
  .is-container
    .is-section
      include ../partials/item-box

block page
  include ../partials/panel

  //- .hide
  //-   #identity-expand
  //-     include ../partials/identity
