extends ../layout

block items
  .row
    .col-xs-12.col-lg-6
      .is-container.is-profile-section
        .is-section
          include ../partials/identity

    .col-xs-12.col-lg-6
      .is-container.is-profile-section
        .is-section
          include ../partials/residence

  .row
    .col-xs-12.col-lg-6
      .is-container.is-profile-section
        .is-section
          include ../partials/demographics

    .col-xs-12.col-lg-6
      .is-container.is-profile-section
        .is-section
          include ../partials/voter

  .row
    .col-xs-12.col-lg-6
      .is-container.is-profile-section
        .is-section
          include ../partials/public-persona

block page
  #profile
    include ../partials/panel

  //- .hide
  //-   #identity-expand
  //-     include ../partials/identity
