extends ../layout

block title
  span Reset Password

block toggle-creator
  span

block loading-items
  span

block items
  form#reset-password.padding(method='POST')
    .row
      .col-xs-12
        .form-group
          label Reset key:
          input.input-lg.form-control(type='text' name="key")

    .row
      .col-xs-12
        .form-group
          label New password:
          input.input-lg.form-control(type='password' name="password")

    .row
      .col-xs-12
        .form-group
          label Confirm new password:
          input.input-lg.form-control(type='password' name="confirm")

    button.btn.btn-lg.btn-block.btn-primary Reset password

block page
  #profile
    include ../partials/panel
