extends ../layout

block page
  h4 PLEASE READ THE FOLLOWING TERMS AND POLICIES CAREFULLY. WHEN YOU USE OUR WEBSITE YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THESE TERMS AND POLICIES.
   
  h1 TERMS OF SERVICE
   
  p This website that you are visiting (the “Website”), is owned by Synaccord (the “Company”).
   
  p 
    b Illegal or Abusive Usage is Strictly Prohibited:
    |  You must not abuse, harass, threaten, impersonate or intimidate other users of our website.  You may not use the Company’s Website for any illegal or unauthorized purpose.  International users agree to comply with all local laws regarding online conduct and acceptable content.  Should you be found to have engaged in illegal or abusive usage of our website, Company will suspend your account or usage as applicable.

  p 
    b Electronic Communication: 
    |  When you visit our website or send e-mails to us, you are communicating with us electronically.  You consent to receive communications from us electronically.  We will communicate with you by e-mail or by posting notices on this site.  You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.

  p 
    b Copyright: 
    |  All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Company protected by United States and international copyright laws. The compilation of all content on this site is the exclusive property of the Company and protected by U.S. and international copyright laws. All software used on this site is the property of Company or its software suppliers and protected by United States and international copyright laws.

  p
    b Trademarks: 
    |  Synaccord.com OR Synaccord and other Company graphics, logos, page headers, button icons, scripts, and service names are trademarks, registered trademarks or trade dress of Company in the U.S. and/or other countries. Company’s trademarks and trade dress may not be used in connection with any product or service that is not Company’s, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Company.  All other trademarks not owned by Company that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Company.

  p
    b License and Site Access: 
    |  Company grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent. This license does not include any resale or commercial use of this site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this site or its contents; or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Company. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information including but not limited to images, text, page layout, or form of Company without express written consent. You may not use any meta tags or any other "hidden text" utilizing Company’s name or trademarks without the express written consent. Any unauthorized use terminates the permission or license granted. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of Company so long as the link does not portray Company, or its products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Company logo or other proprietary graphic or trademark as part of the link without express written permission.

  p
    b Your Account: 
    |  If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. Company reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion.
   
  p
    b Disclaimer of Warranties and Limitation of Liability

  p THIS SITE AND ALL INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) AND SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE ARE PROVIDED BY COMPANY ON AN "AS IS" AND "AS AVAILABLE" BASIS, UNLESS OTHERWISE SPECIFIED IN WRITING. COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE, UNLESS OTHERWISE SPECIFIED IN WRITING. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.
    br
    | TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, COMPANY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. COMPANY DOES NOT WARRANT THAT THIS SITE; INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE; THEIR SERVERS; OR E-MAIL SENT FROM [COMPANY] ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.  COMPANY WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE OR FROM ANY INFORMATION, CONTENT, MATERIALS, PRODUCTS (INCLUDING SOFTWARE) OR SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES, UNLESS OTHERWISE SPECIFIED IN WRITING.
    br
    | CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.

  p
    b Applicable Law: 
    |  By visiting our website, you agree that the laws of the State of California, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Company.

  p
    b Disputes: 
    |  Any dispute relating in any way to your visit to our website or to products or services sold or distributed by Company in which the aggregate total claim for relief sought on behalf of one or more parties exceeds $7,500 shall be adjudicated in any state or federal court in the County of Orange in the State of California, and you consent to exclusive jurisdiction and venue in such courts.

  h2 ONLINE PRIVACY POLICY
   
  p Company and its subsidiary companies respect the privacy rights of our online visitors and recognize the importance of protecting the information collected from you. We have adopted a corporate wide Online Privacy Policy that guides how we collect, store and use the information you provide online.  Please note that this policy applies only to sites maintained by Company and its subsidiaries, and not to web sites maintained by other companies or organizations to which we link.
   
  p If you have questions or concerns regarding this statement, you should first contact Company at the email address or postal address specified on Website.
   
  h2 INFORMATION COLLECTION AND USE

  p Our primary goals in collecting personally identifiable information are to provide you with the product and services made available through our web site, including, but not limited, our services, to communicate with you, and to manage your registered user account, if you have one.

  p
    b Information Collected Upon Registration: 
    | If you desire to have access to certain restricted sections of our web site, you will be required to become a registered user, and to submit certain personally identifiable information to Company. This happens in a number of instances, such as when you sign up for our services, or if you desire to receive marketing materials and information. Personally identifiable information that we may collect in such instances may include your IP address, full user name, password, email address, city, time zone, telephone number, and other information that you decide to provide us with, or that you decide to include in your public profile.  
   
  p
    b Use of Contact Information: 
    |  In addition, we may use your contact information to market to you, and provide you with information about, our products and services, including but not limited to our services. If you decide at any time that you no longer wish to receive such information or communications from us, please follow the unsubscribe instructions provided in any of the communications.

  p
    b Log Data: 
    |  When you visit the Site, our servers automatically record information that your browser sends whenever you visit a website as Log Data. This Log Data may include information such as your IP address, browser type or the domain from which you are visiting, the websites you visit, the search terms you use, and any advertisements on which you click. For most users accessing the Internet from an Internet service provider the IP address will be different every time you log on. We use Log Data to monitor the use of the Site and of our Service, and for the Site’s technical administration. We do not associate your IP address with any other personally identifiable information to identify you personally, except in case of violation of the Terms of Service

  h2 Cookies and Other Technologies
   
  p
    b Cookies: 
    | We use cookies and other technologies to passively collect demographic information, personalize your experience on our site and monitor advertisements and other activities. Cookies are small files downloaded to your computer to track movements within web sites. We may link cookie information to personal information. Cookies link to information regarding what items you have selected for purchase at our store or pages you have viewed. This information is used to keep track of your shopping cart and make sure you don't see the same ad repeatedly. Also, we use cookies to deliver content specific to your interest and to monitor website usage. Some of our sites use an outside ad company to display ads. These ads may contain cookies. Our ad companies collect cookies received with banner ads, and Company does not have access to this information. Most browsers are automatically set to accept cookies whenever you visit a website. You can disable cookies or set your browser to alert you when cookies are being sent. However some areas of our sites will not function properly if you do so. Please note that this privacy policy covers the use of cookies by Company only and does not cover the use of cookies by any advertisers.
   
  p
    b Other Technologies: 
    | Other technologies used include clear GIFs and IP address logging. Clear GIFs also known as web bugs, beacons or tags, are small graphic images placed on a web page, web-based document, or in an e-mail message. Clear GIFs are invisible to the user because they are typically very small (only 1-by-1 pixel) and the same color as the background of the web page, document or e-mail message. We do not use clear GIFs to collect personal information about you. However, we may use clear GIFs to capture statistical usage information for our web pages, features or other elements on a web page. We may correlate this information to a user to personalize user experience and for statistical analysis of user experiences on our web pages.
   
  h2 Third Parties
   
  p
    b Third Party Services: 
    | Users may register for other services from our website. Certain products and/or services available on our site are provided to you in partnership with third party(s) and may require you to disclose personally identifiable information in order to register for and access such products and/or services. Such products and/or services shall identify the third party partners at the point of registration. If you elect to register for such products and/or services your personally identifiable information will be transferred to such third party(s) and will be subject to the privacy policy and practices of such third party(s). We are not responsible for the privacy practices and policies of such third party(s) and, therefore, you should review the privacy practices and policies of such third party(s) prior to providing your personally identifiable information in connection with such products and/or services.

  p
    b Service Providers: 
    |  We engage certain trusted third parties to perform functions and provide services to us, including, without limitation, hosting and maintenance, customer relationship, database storage and management, and direct marketing campaigns. We will share your personally identifiable information with these third parties, but only to the extent necessary to perform these functions and provide such services, and only pursuant to binding contractual obligations requiring such third parties to maintain the privacy and security of your data.

  p
    b Law Enforcement: 
    | We cooperate with government and law enforcement officials or private parties to enforce and comply with the law. We may disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims, legal process (including subpoenas), to protect the property and rights of Company or a third party, the safety of the public or any person, to prevent or stop any illegal, unethical, or legally actionable activity, or to comply with the law.

  p
    b Business Transfers: 
    |  We may sell, transfer or otherwise share some or all of its assets, including your personally identifiable information, in connection with a merger, acquisition, reorganization or sale of assets or in the event of bankruptcy. You will have the opportunity to opt out of any such transfer if the new entity's planned processing of your information differs materially from that set forth in this Privacy Policy.