extends ../layout

block items
  .gutter
    .row.gutter-bottom
      .tablet-50
        .is-container.is-profile-section
          .is-section
            include ../partials/identity

      .tablet-50
        .is-container.is-profile-section
          .is-section
            include ../partials/residence

    .row
      .tablet-50
        .is-container.is-profile-section
          .is-section
            include ../partials/demographics

      .tablet-50
        .is-container.is-profile-section
          .is-section
            include ../partials/voter

    .row.gutter-top
      .tablet-45.tablet-push-30
        .is-container.is-profile-section
          .is-section
            include ../partials/public-persona

block page
  #profile.center
    include ../partials/panel

  //- .hide
  //-   #identity-expand
  //-     include ../partials/identity