/**
 *    __________________________________________________________________________
 *
 *    Synapp Style Sheet / Variables
 *    ------------------   ---------
 *
 *    @abstract
 *    Variables
 *
 *    @author   francois
 * 
 *    __________________________________________________________________________
 *    
*/
/** BREAK POINTS **/
/** The height of the top bar **/
/** Buttons */
/** Colors **/
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
  margin: 0;
  padding: 0;
}
/*
 *    Links
 */
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*
 *    Layout
 */
#screens {
  position: absolute;
  top: -1000px;
}
#screen-phone {
  width: 440px;
}
#screen-tablet {
  width: 768px;
}
@media (min-width: 440px) {
  .phone-50 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  .tablet-50 {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/*
 *    Force cursor to be a pointer
 */
.cursor-pointer {
  cursor: pointer;
}
/*
 *    Hide
 */
.hide {
  display: none;
}
.alert {
  display: none;
}
.is-in {
  display: none;
}
.vex-dialog-button-primary {
  background: #337ab7 !important;
}
