extends ../layouts/master

include ../partials/item/image

block append css-app
  link(rel='stylesheet' href='/bower_components/c3/c3.css')

block prepend script-app
  script(src='/bower_components/d3/d3.js')
  script(src='/bower_components/c3/c3.js')

block page
  section(data-ng-controller='DetailsCtrl' data-ng-init='item_id = "' + item + '"')

    .row.padding-bottom
      .col-xs-12
        h2
          span.text-muted(data-ng-bind='item.type')
          span  
          span(data-ng-bind='item.subject')

    .row.padding-bottom
      .col-xs-12
        +item-image('item')

    .row.padding-bottom
      .col-xs-12
        .pre-text.entry-description(data-ng-bind='item.description')

    .row.padding-bottom
      .col-xs-12
        include ../partials/item/references

    .row.padding-bottom(data-ng-show='item.promotions')
      .col-xs-12
        h4 Promoted
        .progress
          .progress-bar.progress-bar-success(style='width: {{item | getPromotedPercentageFilter}}%'
            data-ng-bind='(item | getPromotedPercentageFilter) + "%"')

    .row.padding-bottom
      .col-xs-12
        include ../partials/details/charts

    .row.padding-bottom(data-ng-show='feedbacks.length')
      .col-xs-12
        h4 Feedbacks

        div(data-ng-repeat='feedback in feedbacks')
          hr
          div.pre-text(ng-bind='feedback.feedback')

          h5.text-muted Posted 
            span(ng-bind='feedback.created | fromNow')
