extends ../layouts/master

include ../partials/item/box

block page

  section#navigator.navigator.panel-group(data-ng-controller='NavigatorCtrl')
    .panel.panel-default
      .panel-heading
        h4.panel-title
          a(href='/create/Topic' data-ng-show='is.in = ' + !!isSignedIn)
            i.pull-right.glyphicon.glyphicon-plus
          span Topic

      ul
        li.box-wrapper(data-ng-repeat='topic in topics')
          div(data-toggle='collapse' data-target='#topics-{{topic._id}}-problems' data-parent='#navigator')
            +box('topic')

          .panel-collapse.collapse.panel-body(id='topics-{{topic._id}}-problems')
            .panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-ng-href='/create/Problem/{{topic._id}}' data-ng-show='is.in = ' + !!isSignedIn)
                      i.pull-right.glyphicon.glyphicon-plus
                    span Problem

                .panel-body
                  big(data-ng-hide='topic.$loaded') Just a moment, we are loading problems related to {{topic.subject}}
                  ul
                    li.box-wrapper(data-ng-repeat='problem in topic.$problems')
                      div(data-toggle='collapse' data-target='#topics-{{topic._id}}-problems' data-parent='#navigator')
                        +box('problem')
