extends ../layouts/master

include ../partials/item/box

mixin panel (title, create, repeat, repeater)
  .panel.panel-default
    .panel-heading
      h4.panel-title
        - if ( create )
          a(href=create data-ng-show='is.in = ' + !!isSignedIn)
            i.pull-right.fa.fa-plus
        span=title

    - if ( repeat )
      ul
        li.box-wrapper(data-ng-repeat=repeater + ' in ' + repeat)
          div(data-toggle='collapse' data-target='#' + repeat + '-{{' + repeater + '._id}}')
            +box(repeater)

          .panel-collapse.collapse.panel-body(id=repeat + '-{{' + repeater + '._id}}')
            .panel-group
              block

block page
  section#navigator.navigator.panel-group(data-ng-controller='NavigatorCtrl' data-ng-init='getTopics()')
    +panel('Topic', '/create/Topic', 'topics', 'topic')
      +panel('Problem', '/create/Problem/{{topic._id}}', 'problems', 'problem')
        .row
          .col-sm-6.col-xs-12
            +panel('Agree', '/create/Agree/{{problem._id}}', 'agrees', 'agree')

          .col-sm-6.col-xs-12
            +panel('Disagree', '/create/Disagree/{{problem._id}}', 'disagrees', 'disagree')

        +panel('Solution', '/create/Solution/{{problem._id}}', 'solutions', 'solution')
          .row
            .col-sm-6.col-xs-12
              +panel('Pro', '/create/Pro/{{solution._id}}', 'pros', 'pro')

            .col-sm-6.col-xs-12
              +panel('Con', '/create/Con/{{solution._id}}', 'cons', 'con')
