// Votes

.row(data-ng-show='votes.length')
  .col-xs-12
    h2
      //- Number of votes

      span(
        data-ng-bind        =   'votes[criterias[0]._id].total || "No"'
      )

      //- Number of votes label
      
      span  vote
        span(
          data-ng-show        =   'votes[criterias[0]._id].total > 1'
        ) s

    //- For each criteria

    .row(
      data-ng-repeat        =   'criteria in criterias'
    )

      .col-xs-4

        //-
            CRITERIA NAME
        //-

        h4(
          data-ng-bind      =     'criteria.name'
          data-toggle       =     "tooltip" 
          data-placement    =     "top" 
          title             =     "{{criteria.description}}"
        )

      .col-xs-8

        //-
            CHART
        //-

        .synapp-util-charts( data-criteria='{{criteria._id}}' data-ng-show='votes[criteria._id].total')

          svg.chart(
            id                  =   'chart-{{criteria._id}}'
          )

          //-
              CHART SEPARATOR
          //-
          
          hr(
            data-ng-hide      =   'votes[criteria._id]'
          )

  hr
