//- Description

- var legend = 'Describe the subject in a concise and complete fashion that is measurable and unbiased'

textarea.form-control(
  auto-grow
  name              =   'description'
  placeholder       =   legend
  title				=	legend 
  spellcheck        =   'true'
  lang              =   'en'  
  data-ng-model     =   'editor.description'
  required          )
