extends ../layout

block title
  span Reset Password

block toggle-creator
  span

block loading-items
  span

block items
  form#reset-password.gutter(method='POST' name="reset-password" novalidate)

    .reset-password-loading.block.info.medium.hide
      i.fa.fa-circle-o-notch.fa-spin
      b  Resetting password

    .reset-password-not-found.block.error.medium.hide
      i.fa.fa-times
      b  Reset key not found

    .reset-password-ok.block.success.medium.hide
      i.fa.fa-check
      b  Your password has been reset

    .form-section
      p.form-group
        label
          big Reset key:
        
        input.block(type='text' name="key" autofocus required)

      p.form-group
        label
          big New password:

        input.block(type='password' name="password" required)

      p.form-group
        label 
          big Confirm new password:
        
        input.block(type='password' name="confirm" required)

      p
        button.block.primary.medium Reset password

block page
  #reset-password-wrapper
    include ../partials/panel
