header {
  padding: 4px 0;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  width:100%;
  left: 0;
  top:0;

  .container {
    /*border-bottom: 2px solid #ccc;*/
    padding-bottom: 12px;

    .logo-title-image {
      @media (max-width: 480px) {
        display: none
      }
    }

    .logo-image {
      @media (min-width: 480px) {
        display: none
      }
    }
  }
}

[role=main] {
  margin-top:85px
}