.padding {
  padding: @synapp-padding
}

.padding-bottom {
  padding-bottom: @synapp-padding
}

.row-padding {
  padding: 20px 0;

  // @media (max-width)
}

.pre-text {
  white-space: pre-line;
  text-align: justify;
}

.default-topic-image {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

[class^=col-] {
  // border: 1px solid #ccc;
  margin: 0;
  padding:0;
  word-wrap: break-word;
}