.navigator {
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  .box {
    border-bottom: 1px solid #eee;
    margin-top: 10px;

    img.img-responsive {
      margin-bottom: 10px
    }

    h4 {
      padding-left: 10px;
    }

    .box-description {
      padding: 10px
    }

    .box-promoted {
      padding-right: 10px
    }
  }
}
