.navigator {
  h4.panel-title {
    text-align: center
  }

  .panel-collapse {
    padding-right: 0;
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  .is-author {
    padding: 0 10px;
    opacity: .5;
    display: none;

    &+ div {
      // margin-top: -56px
      margin-top: 13px;
      margin-left: 10px;
    }
  }

  .box {
    border-bottom: 1px solid #eee;
    margin-top: 10px;

    img.img-responsive {
      margin-bottom: 10px
    }

    h4 {
      padding-left: 10px;
    }

    .box-description {
      padding: 4px 10px
    }

    .box-promoted {
      padding-right: 10px
    }
  }
}
