// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

@icon-font-path: '../bower_components/bootstrap/fonts/';

// Reset and dependencies
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/print.less";
@import "../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
@import "../bower_components/bootstrap/less/alerts.less";
@import "../bower_components/bootstrap/less/media.less";
@import "../bower_components/bootstrap/less/navbar.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";

.btn, input {
  @media (max-width: 480px) {
    font-size: 12px;
  }

  @media (min-width: 481px) and (max-width: 690px) {
    font-size: 16px !important;
  }

  @media (min-width: 691px) {
    font-size: 22px !important;
  }
}

header {
  padding: 20px 0;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
  border-bottom: 2px solid #999
}

[role=main] {
  margin-top:120px
}
