doctype html

//- Head

include layout/head

.container-fluid

  //- Top bar

  section(role='header')

    include layout/top

  #flash.text-center
    // Flash message here

  //- Session bar

  - if ( ! req.user )

    include partials/sign

  //- Page

  section(role='main')
    
    block page

  //- Footer

  block footer
    
    include layout/footer

//- Modals

include partials/modals/login
include partials/modals/join
include partials/modals/forgot-password

//- Scripts

block scripts
  
  include layout/scripts