doctype html

//- Head

include layout/head

//- Top bar

section(role='header')

  include layout/top

//- Session bar

- if ( ! req.user )

  include partials/sign

//- Page

section(role='main')
  
  block page

//- Footer

block footer
  
  include layout/footer

//- Scripts

block scripts
  
  include layout/scripts