//- MASTER
    ======

include mixins/item-image
include mixins/bootstrap
include mixins/item

doctype html

//- # HTML head

block meta
  include layout/head

//- # Meta wrapper

// Page container

section.container-fluid(
  data-ng-app         =   'synapp' 
)

  //- # Top Bar
  
  section(role='header')
    include layout/top

  //- # Main wrapper

  // Main container
  
  section(role='main')

    //- # Emails

    - if ( ! isSignedIn )
      .sign

    //- # Page wrapper
    
    .row
      .col-xs-12

        // Intro

        #intro
          +bootstrap-panel
            +bootstrap-panel-heading
              h4.panel-title(ng-bind='intro.subject')
            +bootstrap-panel-body
              +item('intro')

        block page

  //- # Footer

  block footer
    include layout/footer

//- Loading modal

include layout/loading-modal

//- Scripts

block scripts
  include layout/scripts
