doctype html

//- Head

include layout/head

#screens
  #screen-phone
  #screen-tablet

//- Top bar

section(role='header')

  include layout/top

#flash.text-center
  // Flash message here

//- Session bar

- if ( ! req.user )

  include partials/sign

//- Page

section(role='main')
  
  block page

//- Footer

block footer
  
  include layout/footer

//- Modals

include partials/modals/login
include partials/modals/join
include partials/modals/forgot-password

img.hide.img-responsive(src='http://res.cloudinary.com/hscbexf6a/image/upload/e_grayscale/v1411591207/283492_s_US_Flag_and_Constitution_swpubq.jpg')

//- Scripts

block scripts
  
  include layout/scripts